<!-- <header>
    <div class="header-content">
        <h1>Team members</h1>
        <div class="divider"></div>
    </div>
</header> -->



<div class="carousel-container">
    <img id="carousel" src="" alt="">
</div>  


<main class="members-container">

    <section class="cards-grid" id="cardsGrid">

        <!-- script will add member cards -->
        
    </section>

    <!-- Second screen to be displayed when clicked button on card -->
    <div id="secondScreen" class="second-screen">
        <div class="second-content">
            <span class="second-close" onclick="closeInfo()">×</span>
            
            <div class="second-left">
                <img id="infoImage" src="" alt="member info" class="info-image">
                <h3 id="infoName"></h3>
                <p id="infoRole"></p>
            </div>

            <div class="second-right">
                <p id="infoBlurb"></p>
            </div>
            
        </div>
    </div>
    
    <script src="/member.js"></script>
    <script src="/carousel.js"></script>
</main>