<!-- <header>
    <div class="header-content">
        <h1>Team members</h1>
        <div class="divider"></div>
    </div>
</header> -->



<div class="carousel-container">
    <img id="carousel" src="" alt="">
    <div id="dots"></div>
</div>  


<div class="members-cont">
    <h2>Team</h2>
    <div class="divider"></div>
</div>
<main class="members-container">
    
    

    <section class="cards-grid" id="cardsGrid">

        <!-- script will add member cards -->
        
    </section>

    <!-- Second screen to be displayed when clicked button on card -->
    <div id="secondScreen" class="second-screen">
        <div class="second-content">
            <span class="second-close" onclick="closeInfo()">×</span>
            
            <div class="second-left">
                <img id="infoImage" src="" alt="member info" class="info-image">
                <h3 id="infoName"></h3>
                <p id="infoRole"></p>
            </div>

            <div class="second-right">
                <p id="infoProgram"></p>
                <p id="infoYear"></p>
                <p id="infoA"></p><br>
                <p id="infoBlurb"></p>
            </div>
            
        </div>
    </div>

    <!-- support -->
    <div class="members-cont">
        <h2>Support</h2>
        <div class="divider"></div>
    </div>
    <section class="cards-grid">
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Faeez Ansari</h4>
                <p>Club President</p>
            </div>
        </div>
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Matt Arango</h4>
                <p>Team Lead/Advisor</p>
            </div>
        </div>
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Hangyul Yi</h4>
                <p>Wiki Support</p>
            </div>
        </div>
    </section>

    <!-- Advisors -->
    <div class="members-cont">
        <h2>Advisors</h2>
        <div class="divider"></div>
    </div>
    <section class="cards-grid">
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Dr. Elmar Josef Prenner</h4>
                <p>Professor at the University of Calgary | Department of Biological Sciences</p>
            </div>
        </div>
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Andriy Plakhotnyk</h4>
                <p>PhD Student at the University of Calgary | Department of Biochemistry and Molecular Biology</p>
            </div>
        </div>
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Dr. Mark Ungrin</h4>
                <p>Associate Professor at the University of Calgary | Faculty of Veterinary Medicine</p>
            </div>
        </div>
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Dr. Diego Rodriquez</h4>
                <p>Reader Demonstrator at the University of Calgary | Department of Chemistry</p>
            </div>
        </div>
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Nicholas Perewernycky</h4>
                <p>PhD Student and Teaching Assistant at the University of Calgary | Department of Biomedical Engineering</p>
            </div>
        </div>
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Dr. Pratik Narain Srivastava</h4>
                <p>Postdoctoral Associate at the University of Calgary | Department of Veterinary Medicine</p>
            </div>
        </div>
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Spencer Lisowski</h4>
                <p>Masters Student at the University of Calgary | Department of Biochemistry</p>
            </div>
        </div>
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Spencer Lisowski</h4>
                <p>Masters Student at the University of Calgary | Department of Biochemistry</p>
            </div>
        </div>
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Dr. Amanda Musgrove</h4>
                <p>Associate Professor at the University of Calgary | Department of Chemistry</p>
            </div>
        </div>
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Dr. Max Anikovskiy</h4>
                <p>Professor at the University of Calgary | Department of Chemistry</p>
            </div>
        </div>
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Dr. Vanina Zaremberg</h4>
                <p>Professor and Associate Head at the University of Calgary | Department of Biological Sciences</p>
            </div>
        </div>
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Dr. Brianne Burkinshaw</h4>
                <p>Associate Professor at the University of Calgary | Department of Biological Sciences</p>
            </div>
        </div>
        <div class="card-sub" style="background-image: url('/img/temp.jpg');">
            <div class="card-sub-info">
                <h4>Dr. Anders Nygren</h4>
                <p>Professor and Interim Dean at the University of Calgary | Department of Biomedical Engineering</p>
            </div>
        </div>
    </section>
    
    <script src="/member.js"></script>
    <script src="/carousel.js"></script>
</main>