<!-- <header>
    <div class="header-content">
        <h1>Team members</h1>
        <div class="divider"></div>
    </div>
</header> -->

<!-- TEST CAROUSEL -->
<!-- <section class="carousel-container">
    <ul class="carousel">
        <li style="background: #f7a1a1;"></li>
        <li style="background: #909de5;"></li>
        <li style="background: #bcacdf;"></li>
        <li style="background: #fff;"></li>
        <li style="background: #caaacd;"></li>
    </ul>
</section> -->

<div class="carousel-container">
    <button id="carousel-left-btn"><i class="arrow"></i></button>
    <img id="carousel" src="" alt="">
    <button id="carousel-right-btn"><i class="arrow"></i></button>
</div>
<main class="members-container">

    <section class="cards-grid" id="cardsGrid">

        <!-- script will add member cards -->
        
    </section>

    <!-- Second screen to be displayed when clicked button on card -->
    <div id="secondScreen" class="second-screen">
        <div class="second-content">
            <span class="second-close" onclick="closeInfo()">×</span>
            
            <div class="second-left">
                <img id="infoImage" src="" alt="member info" class="info-image">
                <h3 id="infoName"></h3>
                <p id="infoRole"></p>
            </div>

            <div class="second-right">
                <p id="infoBlurb"></p>
            </div>
            
        </div>
    </div>
    
    <script src="/member.js"></script>
    <script src="/carousel.js"></script>
</main>