<!-- <header>
    <div class="header-content">
        <h1>Team members</h1>
        <div class="divider"></div>
    </div>
</header> -->
<main>
    <section class="member-container">
        
        <div class="cards-grid">

            <div class="card" 
            card-blurb = "This is a blurb">
                <img class="card-photo">
                <div class="card-info">
                    <h3>Name</h3>
                    <p>role</p>
                    <button onclick="toggleCard(this)"></button>
                </div>

                <!-- when a card is clicked, display a window with more information -->
                <div id="card-second">
                    <p style="font-size: large; color: aquamarine;">HAS BEEN CLICKED</p>
                </div>
            </div>

            <div class="card" 
            card-blurb = "This is a blurb">
                <img class="card-photo">
                <div class="card-info">
                    <h3>Name</h3>
                    <p>role</p>
                </div>
            </div>

            <div class="card" 
            card-blurb = "This is a blurb">
                <img class="card-photo">
                <div class="card-info">
                    <h3>Name</h3>
                    <p>role</p>
                </div>
            </div>

            <div class="card" 
            card-blurb = "This is a blurb">
                <img class="card-photo">
                <div class="card-info">
                    <h3>Name</h3>
                    <p>role</p>
                </div>
            </div>

            <div class="card" 
            card-blurb = "This is a blurb">
                <img class="card-photo">
                <div class="card-info">
                    <h3>Name</h3>
                    <p>role</p>
                </div>
            </div>

            <div class="card" 
            card-blurb = "This is a blurb">
                <img class="card-photo">
                <div class="card-info">
                    <h3>Name</h3>
                    <p>role</p>
                </div>
            </div>

            <div class="card" 
            card-blurb = "This is a blurb">
                <img class="card-photo">
                <div class="card-info">
                    <h3>Name</h3>
                    <p>role</p>
                </div>
            </div>
        </div>
    </section>

    <script src="/member.js"></script>
</main>