<header class="ethics-header">
    <div class="header-content">
        <h1>Ethics</h1>
        <div class="divider"></div>
    </div>
</header>

<main class="ethics-container">
    <div class="hamburger" onclick="toggleSidebar()">&#9776;</div>
    <div class="toc-container-e">
        <nav class="toc">
            <ul>
                <li>
                    <a href="#title1">Proposed Application:</a>
                    <ul>
                        <li>
                            <a href="#sub1-1">Applications for Human Research</a>
                            <ul>
                                <li><a href="#sub1-1-1">Pre-clinical Research</a></li>
                                <li><a href="#sub1-1-2">Clinical Research</a></li>
                                <li><a href="#sub1-1-3">Application of Device in a Real-Life Setting</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#title2">Ethics:</a>
                    <ul>
                        <li>
                            <ul>
                                <li><a href="#sub2-1-1">Respect for Persons</a></li>
                                <li><a href="#sub2-1-2">Concern for Welfare</a></li>
                                <li><a href="#sub2-1-3">Justice</a></li>
                                <li><a href="#sub2-1-4">Consent</a></li>
                            </ul>
                        </li>
                        <li><a href="#sub2-2">Incidental Findings</a></li>
                        <li><a href="#sub2-3">Privacy and Confidentiality</a></li>
                        <li><a href="#sub2-4">Authority, Mandate, and Accountability</a></li>
                        <li><a href="#sub2-5">Reports of Unanticipated Issues</a></li>
                        <li><a href="#sub2-6">Conflict of Interest</a></li>
                        <li><a href="#sub2-7">Interpretation and Dissemination of Research Results</a></li>
                    </ul>
                </li>

                <li><a href="#title3">Legal</a></li>
                <li>
                    <a href="#sub3-1">1. WHO: In Vitro Diagnostics (IVDs) and Laboratory Systems</a>
                    <ul>
                        <li><a href="#sub3-1-1">Policy:</a></li>
                        <li><a href="#sub3-1-2">Pre-Clinical Implications:</a></li>
                        <li><a href="#sub3-1-3">Post-Clinical Implications:</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#sub3-2">2. WHO: Global Strategy on Digital Health (2020-2025)</a>
                    <ul>
                        <li><a href="#sub3-2-1">Policy:</a></li>
                        <li><a href="#sub3-2-2">Pre-Clinical Implications:</a></li>
                        <li><a href="#sub3-2-3">Post-Clinical Implications:</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#sub3-3">3. FDA: Guidance on Software as a Medical Device (SaMD)</a>
                    <ul>
                        <li><a href="#sub3-3-1">Policy:</a></li>
                        <li><a href="#sub3-3-2">Pre-Clinical Implications:</a></li>
                        <li><a href="#sub3-3-3">Post-Clinical Implications:</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#sub3-4">4. WHO: Global Model Regulatory Framework for Medical Devices including IVDs</a>
                    <ul>
                        <li><a href="#sub3-4-1">Policy:</a></li>
                        <li><a href="#sub3-4-2">Pre-Clinical Implications:</a></li>
                        <li><a href="#sub3-4-3">Post-Clinical Implications:</a></li>
                    </ul>
                </li>
                <li><a href="#sub3-5">Bio-Safety</a></li>

            </ul>
            <svg 
                class="toc-marker"
                width="200"
                height="200"
                xmlns="http://www.w3.org/2000/svg">
                <path 
                    stroke="#ccfbf1"
                    stroke-width="3"
                    fill="transparent"
                    stroke-dasharray="0, 0, 0, 1500"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    transform="translate(-0.5, -0.5)" />
            </svg>
        </nav>        
    </div>

    <article class="contents">
        <section id="intro" class="section">
            <br>
            <p>Note: All of these details are acquired from the Tri-Council Policy Statement: Ethical Conduct for Research Involving Humans</p>
        </section>

        <section>
            <div id="title1" class="section">
                <h2>Proposed Application:</h2>
                <p>The purpose of this device is to diagnose various diseases which require early detection. Typically, an early diagnosis results in an improved prognosis and ultimately more positive outcomes in regards to disease progression. With our biosensor’s capacity for fast detection due to quick chemical reactions at the molecular level, it becomes key in addressing this issue.</p>
            </div>

            <div id="sub1-1" class="section">
                <h3>Applications for Human Research</h3>
            </div>

            <div id="sub1-1-1" class="section">
                <h3><i>Pre-clinical Research</i></h3>
                <p>Before conducting clinical trials, ethics boards require proof that the particular product/solution is needed and useful. To achieve this, typically a study is done where the team interacts with patients, their families, and other medical professionals. The purpose of this is to get a variety of perspectives on the conditions that the patient’s face from individuals whose lives are directly impacted. This study would involve interviewing people as well as acquiring personal data about them by asking different questions on a likert scale. The interviews would be voice recorded and data would be stored online on a database (with proper data security). From here, researchers would be able to use the data to better understand the condition.</p>
            </div>

            <div id="sub1-1-2" class="section">
                <h3><i>Clinical Research</i></h3>
                <p>Any human trials would occur in a clinical setting in which patients will be asked for samples containing a potential biomarker (saliva, blood, etc.) to be tested. The samples would be extracted by a nurse with the consent of the patient. Samples would be placed in test tubes where they will ultimately be inserted into/react with the biosensor, and release dye in the presence of a certain biomarker. All samples would be stored properly according to the standard storage procedures for the particular sample type until used, and then disposed of safely after (incinerated). Personal data such as commonly collected patient history as well as demographic details about the patient would be collected in accordance with the law and adhering to medical confidentiality. </p>
            </div>

            <div id="sub1-1-3" class="section">
                <h3><i>Application of Device in a Real-Life Setting</i></h3>
                <p>The biosensor would be provided to medical institutions for them to use as a base for diagnosis in the form of a kit. The testing process would involve collecting a sample from a patient to test using the biosensor. The kit would consist of an easy to follow step-wise process with clear instructions depicting the combining of biosensor components which would be added to the sample. For a typical sample collection, a swab would be used to collect saliva which would then be placed in a subsequent container along with the assembled biosensor. Ultimately, patients would remove a sample of their saliva using the swab and place it in the apparatus with the biosensor to see if they have a certain disease.</p>
            </div>
        </section>

        <section>
            <div id="title2" class="section"><h2>Ethics:</h2></div>

            <div id="sub2-1-1" class="section">
                <h3><i>Respect for Persons</i></h3>
                <p>Respect for Persons ensures that autonomy, dignity, and all given rights of consenting participants involved in research are honoured throughout the entirety of the process. It entails that patients are able to make decisions for themselves, give consent uncoerced and of sound mind, and are fully aware of the risks and benefits of a study prior to its procedure. In the pre-clinical research stage, Respect for Persons would be displayed by ensuring transparent communication with patients, their families, and medical professionals in the interview process and during data collection. During clinical research, these rights would be enforced by informing participants about all potential risks/benefits of sample collection and biosensor use and ensuring that informed consent is taken prior to the study. Patient confidentiality and the right to withdraw from the study at any time would also be maintained.</p>
            </div>

            <div id="sub2-1-2" class="section">
                <h3><i>Concern for Welfare</i></h3>
                <p>Concern for Welfare emphasizes the importance of the well-being of research participants who take part in studies. This principle aims to ensure that the participant’s physical, mental, and social health are not compromised in the research process. It further mandates that researchers must minimize all potential risks while maximizing benefits. In the process of pre-clinical research, this would entail that in interviewing patients, the personal data collected is non-invasive and is taken with respect to the participant’s comfort and dignity. Further, Concern for Welfare is applied by ensuring that patient privacy is protected and that researchers take adequate measures (ie; proper cybersecurity and data storage on secure databases) to protect all patient data. In clinical research, this would manifest in ensuring that the safety of participants is protected by informing them of all risks/benefits, sterilizing all equipment prior to usage, and verifying that adequate training is completed by all contributing medical practitioners. Lastly, the appropriate disposal/incineration procedures of all biohazardous samples would be maintained.</p>
            </div>

            <div id="sub2-1-3" class="section">
                <h3><i>Justice</i></h3>
                <p>Justice is a principle focused on ensuring that there is fairness and equity of the outcomes, benefits, and/or burdens of the research. This focuses on guaranteeing that participants of all races, socio-economic statuses, genders, ethnicities, among other differentiating factors in demographics, are treated with equal respect and consideration. In the context of pre-clinical and clinical research, this would entail that the inclusion and exclusion criteria are based only on the research question rather than arbitrary or discriminatory factors. In the context of clinical trials specifically, this further entails that the potential benefits of the research study (early disease detection), are accessible to all groups and that particular groups are not unjustly burdened by the research process.</p>
            </div>

            <div id="sub2-1-4" class="section">
                <h3><i>Consent</i></h3>
                <p>Consent is one of the most important principles surrounding ethical medical research. Consent must be given voluntarily, and is based on a proper/full understanding of the research at hand. The process of obtaining consent ensures that a participant’s autonomy is honoured and that the ethical integrity of the research is upheld.</p>
                <ul>
                    <li><i>Consent Shall Precede Collection of, or Access to, Research Data</i><br>
                        Obtaining consent must be done prior to all data collection as it ensures that the participant’s autonomy and privacy is given respect. In a preclinical case, this would involve informing patients of all associated risks and benefits of the study prior to them agreeing to be interviewed. Similarly for a clinical case, this entails that patients are aware of risks and benefits prior to the collection of biological samples and/or personal data. Acquiring all forms of consent should occur when the patient is of sound mind and is not coerced in any way.
                    </li>
                    <li>
                
                        <i>Requesting Consent</i><br>
                        In requesting consent, researchers must ensure that preparations are done prior to any study participation to inform patients of the risks and benefits of the work as well as ensuring adequate documentation of their participation. For both pre-clinical and clinical research, this would entail ensuring that thorough testing/review of the biosensor and sample collection methodology is reviewed beforehand. This is to achieve an adequate understanding of possible risks and then ultimately work towards risk mitigation. Further, all information would be compiled into a consent form, such that those participating can sign off and agree to participate in the study.
                    </li>
                    <li>
                        <i>Debriefing in the Context of Alterations to Consent Requirements</i><br>
                        In doing research, there are instances when data usage may change over time based on new available methodologies and improvement of research procedures. As such, with the ethical principles of Respect for Persons and Concern for Welfare in mind, an alteration method that could benefit both researchers as well as patients may be sought. However, in making this change, researchers have an obligation to review their initial consent agreements and inform participants promptly. In the context of both pre-clinical and clinical research, this would require that researchers meet with participants and discuss the new methodology. Upon agreement from the patients, a new consent agreement would be provided in which they can agree to the new terms. All patients would also maintain their right to withdraw consent at any point if they are uncomfortable or no longer willing to participate in the study. 
                    </li>
                    <li>
                        <i>Consent Shall Be Documented</i><br>
                        Documenting concern is critical as it ensures that participants have understood and agreed to the terms of the study, and are willing to participate in it. It allows for researchers to produce a verifiable record that their work complies with ethical standards, and that patient consent has been obtained. In pre-clinical research as well as clinical research, this would necessitate the signing or e-signing of consent forms as well as the scanning and storage of documents in safe databases/clouds. 
                    </li> 
                </ul>
            </div>

            <div id="sub2-2" class="section">
                <h3>Incidental Findings</h3>
                <p>Incidental findings occur when a discovery about a patient is made which is not related to the original purpose of the study. However, patients may be found to have severe health related concerns and must be notified of them immediately. While this may not apply to a pre-clinical setting, in a clinical setting, one must inform the participant in a sensitive and timely manner. This ensures that a participant’s right to know is respected, and may ultimately support in improving their health while also adhering to standards upheld by research ethics boards.</p>
            </div>

            <div id="sub2-3" class="section">
                <h3>Privacy and Confidentiality</h3>
                <p>Personal privacy is a critical and fundamental right that researchers must respect. When it comes to sample and data collection, any obtained information must be protected with high security and kept confidential. Information may only be disclosed with patient consent. If patients have not consented to being a part of a public study (anonymously or not), statements they make as well as their data cannot be published. Finally, consideration of a participant’s personal information is respected in situations where relevant personal questions may need to be asked about the patient’s past in order to be selected and chosen for the study. In the context of a preclinical setting, question generation would be purposeful and accepted by a research ethics board. All information and recordings from interviews would be stored in secure storage, with data encryption, and restricted access. For a clinical case, information collected from patients would also be stored in a secure database or server, and all biological samples are incinerated after use. </p>
            </div>

            <div id="sub2-4" class="section">
                <h3>Authority, Mandate, and Accountability</h3>
                <p>Authority, mandate, and accountability are terms related to governance structures which define the roles and responsibilities of all involved parties in the research process. For both clinical and pre-clinical research, researchers are accountable to their sponsors, ethics boards, and to participants in their studies. As such, these structures seek to ensure that research is done ethically, responsibly, and in compliance with relevant and established policies and standards.</p>
                <ul>
                    <li>Authority<br>
                        Authority focuses on providing power to make decisions and enforce scope within research ethics. This power is held by research ethics boards, the principal investigator (PI), and institutional leadership. In preclinical and clinical research, authority is provided to research ethics boards to make decisions regarding the ethics of a study, to institutional leadership to enforce rules that researchers follow on site, and to the PI to make sure researchers follow these rules.
                    </li>

                    <li>Mandate<br>
                        Mandate refers to the official orders provided to a group to carry out a task or initiative. In the scope of pre-clinical research and clinical research, three different parties have mandates. Research ethics boards have to protect the rights and the welfare of participants and do this by reviewing research proposals and giving the “go-ahead” on continuing the research. Research institutions have to ensure that a culture of ethical research is fostered and do this by providing training to researchers and ensuring that all activities align with standards (institutional and national). Researchers have a mandate to complete their research in an ethical manner with approval from all relevant parties and to safeguard the welfare of participants.
                    </li>

                    <li>Accountability<br>
                        Each of the three parties, research ethics boards, institutions, and researchers are accountable for any consequences of studies. To ensure that they can perform their duties well and remain accountable, research ethics boards rigorously review applications, researchers adhere to approved protocols and report all approved deviations, and institutions create environments for safe and ethical research.
                    </li>
                </ul>
            </div>

            <div id="sub2-5" class="section">
                <h3>Reports of Unanticipated Issues</h3>
                <p>Maintaining reports of all unanticipated issues is critical to maintaining ethical and safety standards. All unexpected and adverse events must be reported to the research ethics board and addressed to ensure that the participants’ safety and well-being is being prioritized. Additionally, ensuring that necessary adjustments can be made to protocols to protect other researchers. This applies to clinical testing, therefore in the case that biosensor tests lead to adverse or anomalous reactions, adequate reporting must be immediately done and properly documented. An investigation must also be performed internally by the research group to determine the root cause of the issue.</p>
            </div>

            <div id="sub2-6" class="section">
                <h3>Conflict of Interest</h3>
                <p>Conflicts of interest emerge when an individual’s interests (personal, financial, etc.) can or appear to compromise their professional judgement and integrity. For instance in research, a financial conflict of interest can occur if the researchers have a share in the company that they are working for, and therefore desire positive and influential results. In another example, personal conflicts of interest can emerge if researchers have their families as part of the sample size. As such, it becomes essential to reduce and/or mitigate these to ensure that research is conducted in an objective, unbiased manner. This can be done by having conflict of interest disclosures to ensure that research ethics boards are aware of any arising issues, having independent reviews done by outside parties to ensure objective research, and informing researchers of methods to minimize conflicts of interest in studies.
                </p>
            </div>

            <div id="sub2-7" class="section">
                <h3>Interpretation and Dissemination of Research Results</h3>
                <p>Interpreting and disseminating research results is essential to conducting a study as it allows for researchers to reach wide audiences, and thus it must be done in a responsible and ethical manner. Findings must be accurately reported and shared with participants, the scientific community, and the public in a way that is clear and accessible. This ensures that the knowledge gained from the project benefits society and contributes to scientific advancement. For both pre-clinical and clinical research, the institutions and researchers involved must be able to receive knowledge of the results of the study via a paper, and further, researchers should share results at conferences to make sure that awareness is brought to their work.</p>
            </div>
        </section>

        <section>
            <div id="title3" class="section"><h3>Legal</h3></div>

            <div id="sub3-1" class="section"><h3>1. WHO: In Vitro Diagnostics (IVDs) and Laboratory Systems</h3></div>

            <div id="sub3-1-1" class="section">
                <h3>Policy:</h3>
                <ul>
                    <li><strong>Objective: </strong>These guidelines are designed to help countries create lists of diagnostic tests, prioritizing the detection and diagnosis of communicable and non-communicable diseases (adapted to local needs).</li>
                    <li><strong>Strategic Focus: </strong>The EDL (Essential Diagnostics List) aims to:
                        <ul>
                            <li>Improve diagnostic capacities, prioritize laboratory infrastructure, and facilitate bulk purchasing to enhance affordability.</li>
                            <li>Encourage the development of new or improved IVDs.</li>
                            <li>Support rational medicine use by aligning with the WHO Model List of Essential Medicines.</li>
                        </ul>
                    </li>
                    <li><strong>High-Priority Areas: </strong>Emphasis on diseases such as antimicrobial resistance, fungal diseases, influenza, reproductive health, and public health emergencies. The priority currently includes IVDs for cancer in low- and middle-income countries.</li>
                    <li><strong>Application Requirements: </strong>IVD submissions must include detailed evidence on public health importance, performance data, cost-effectiveness, and ethical considerations (e.g., human rights, equity).</li>
                </ul>
            </div>

            <div id="sub3-1-2" class="section">
                <h3>Pre-Clinical Implications</h3>
                <ul>
                    <li><strong>Assessment Criteria: </strong>Systematic reviews of diagnostic accuracy, evidence assessments, and generalizability to low-resource settings are critical. Randomized controlled trials may not be necessary; however, the evidence on diagnostic and management impacts are emphasized. It is necessary to obtain proof that the methodology and proposed biosensor will properly, effectively and accurately diagnose the condition.
                    <ul>
                        <li>This is primarily done through the QMS and following proper/safe practices, but some sort of systematic review may be needed to provide evidence for the specific biosensor/biomolecule used.</li>
                    </ul>
                    </li>
                    <li><strong>Biosensor Applications: </strong>To be added to the EDL, biosensors need comprehensive documentation covering test utility, performance, sample types, biosafety, and data on clinical and non-clinical accuracy. 
                    <ul>
                        <li>To add a new IVD under the WHO and SAGE IVD guidelines, the organization requires all biosensors/applicants to include information about:
                            <ul>
                                <li>the person or organization making the application</li>
                                <li>the disease or condition addressed</li>
                                <li>evidence of the public health importance of the disease or condition</li>
                                <li>how the candidate IVD contributes to diagnosis or treatment</li>
                                <li>how the disease or condition affects the mortality, morbidity, quality of life and/or economic status of patients</li>
                                <li>how results are provided to the intended user </li>
                                <li>biosafety requirements</li>
                                <li>studies of diagnostic accuracy </li>
                                <li>comparative cost and cost–effectiveness</li>
                            </ul>
                        </li>
                    </ul>
                    </li>
                </ul>
            </div>

            <div id="sub3-1-3" class="section">
                <h3>Post-Clinical Implications</h3>
                <ul>
                    <li><strong>Implementation: </strong>The guidelines recommend that countries should not use the EDL in isolation. Rather, IVDs should be integrated into a broader national diagnostic network that matches local healthcare infrastructure and disease burden.</li>
                    <li><strong>Adaptability: </strong>Continuous monitoring and updates based on real-world performance and effectiveness are essential, enabling IVDs to be adapted for diverse healthcare environments. Local unmet testing needs and gaps should guide future development. The main target is to use the IVD to allow for all populations, especially those who are more prone to the particular disease or condition and may lack a proper evaluation system, to have resources in regards to health.</li>
                </ul>
            </div>

            <div id="sub3-2" class="section">
                <h3>2. WHO: Global Strategy on Digital Health (2020-2025)</h3>
            </div>

            <div id="sub3-2-1" class="section">
                <h3>Policy: </h3>
                <ul>
                    <li><strong>Purpose: </strong>Strengthen health systems through digital health technologies that empower patients and promote equitable access to healthcare.</li>
                    <li><strong>Key Dimensions: </strong>Patient safety, ethics, data security, interoperability, and cost-effectiveness are central themes. Digital health initiatives must be people-centered, sustainable, and inclusive.</li>
                    <li><strong>Stakeholder Engagement: </strong>Institutions and end-users (patients, families, healthcare workers) are integral to the design and implementation of digital health systems. The policy calls for integrated national-level digital health architectures.</li>
                </ul>
            </div>

            <div id="sub3-2-2" class="section">
                <h3>Pre-Clinical Implications: </h3>
                <ul>
                    <li><strong>System Development: </strong>Pre-clinical efforts should focus on ensuring that digital health solutions (e.g., SaMD) are robust with solid frameworks for data security, ethical usage, and scalability. Early engagement with end-users during design is critical. Proposes that institutions, decision-makers, and personnel involved in the provision of health care services and all end-user communities and beneficiary populations are adequately:
                        <ul>
                            <li>engaged in design and development phases</li>
                            <li>facilitating a systematic engagement of all relevant stakeholders in the realization of the vision and its strategic objectives as part of an integrated digital health ecosystem at the national level</li>
                            <li>defining a national digital health architecture blueprint or road map, adopting open-source health data standards and aiming for reusable systems/assets including interoperability of health information systems both at national and international levels. This is in order to establish an innovative integration of different digital technologies using shared services, ensuring data is of good and comparable quality</li>
                            <li>adopting legal and ethical frameworks for ensuring patient safety, data security, appropriate use and ownership of health data, privacy data recoverability, as well as protection of intellectual property rights</li>
                        </ul>
                    </li>
                    <li><strong>Evidence-Based Integration: </strong>Digital health tools should align with national and global strategies, employing reusable systems, data standards, and interoperable health information systems.</li>
                </ul>
            </div>

            <div id="sub3-2-3" class="section">
                <h3>Post-Clinical Implications:</h3>
                <ul>
                    <li><strong>Adoption and Monitoring: </strong>Emphasizes ongoing engagement with stakeholders to adapt and enhance digital health tools. Performance monitoring indicators should align with health system objectives, facilitating a transition from reactive to proactive care.</li>
                    <li><strong>Patient-Centric Models: </strong>Digital health should simplify data collection, reduce administrative burdens, and improve patient engagement, ensuring better long-term outcomes through integrated care models.</li>
                </ul>
            </div>

            <div id="sub3-3" class="section">
                <h3>3. FDA: Guidance on Software as a Medical Device (SaMD)</h3>
            </div>

            <div id="sub3-3-1" class="section">
                <h3>Policy: </h3>
                <ul>
                    <li><strong>Definition: </strong>SaMD is software designed for medical purposes that functions independently of any hardware medical device. This includes diagnostic tools (e.g., biosensors) that utilize general computing platforms.</li>
                    <li><strong>Regulatory Framework: </strong>The FDA provides a converged approach to clinical evaluation, harmonizing principles across jurisdictions. The emphasis is on valid clinical association, technical validation, and clinical performance.</li>
                    <li><strong>Clinical Evaluation Framework: </strong>Establishes the importance of confirming clinical associations, ensuring technical accuracy, and proving clinical reliability through evidence-based approaches.</li>
                </ul>
            </div>

            <div id="sub3-3-2" class="section">
                <h3>Pre-Clinical Implications: </h3>
                <ul>
                    <li><strong>Development Standards: </strong>Manufacturers need to demonstrate that the SaMD processes input data accurately and consistently. This involves extensive pre-market verification and validation to confirm software design integrity and reliability. There needs to be:
                        <ul>
                            <li>a valid clinical association between the output of a SaMD and the targeted clinical condition (to include pathological process or state). </li>
                            <li>evidence that the SaMD provides the expected technical and clinical data. </li>
                        </ul>
                    SaMDs are required to undergo proper clinical evaluation. Clinical evaluation is defined as a set of ongoing activities conducted in the assessment and analysis of a SaMD’s clinical safety, effectiveness, and performance as intended by the manufacturer in the SaMD’s definition statement. 
                    </li>
                    <li><strong>Evidence Generation: </strong>Can include literature reviews, secondary data analysis, or clinical trials to substantiate the intended use. Examples include sensitivity, specificity, and predictive values used to ensure that software outputs align with found medical conditions.</li>
                </ul>
            </div>

            <div id="sub3-3-3" class="section">
                <h3>Post-Clinical Implications: </h3>
                <ul>
                    <li><strong>Lifecycle Management: </strong>Continuous monitoring of real-world performance data (e.g., safety reports, user feedback) is essential to address issues, expand functionalities, and ensure sustained safety and effectiveness.</li>
                    <li><strong>Adaptation and Compliance: </strong>Manufacturers may need to adapt software or intended uses based on post-market findings. This can include modifying clinical associations, refining algorithms, or enhancing user interfaces.</li>
                    <li>Once the trials are complete and hit the market, a SaMD manufacturer may have a hypothesis about future functionality and intended use of a SaMD that may be informed by continuously collecting and analyzing data on use of the SaMD in a post-market setting. </li>
                    <li>Monitoring real world performance data can help the SaMD functionality and intended use evolve after initial introduction to the market.</li>
                    <li>Such data may include post-market information such as safety data, results from performance studies, on-going clinical evidence generation for medical devices, new research publications/results that support or strengthen the clinical association of the SaMD output to a clinical condition, or direct end user feedback. This can help the SaMD manufacturer understand the real world performance of the SaMD.</li>
                    <li>Learning may impact the original category of a SaMD in the following ways:  
                        <ul>
                            <li>Real world performance data may provide evidence that the analytical or clinical validity of a SaMD is superior to the performance measures initially evaluated by the SaMD manufacturer.</li>
                            <li>Real world performance data may provide evidence that the analytical or clinical validity of a SaMD is inferior to the performance measures initially evaluated by the SaMD manufacturer. </li>
                        </ul>
                    </li>
                    <li>As additional clinical evidence is gathered to confirm the hypothesis as well as create and support new intended uses, the SaMD manufacturer will update the clinical evaluation and generate a new definition statement. Then the cycle repeats. </li>
                    <li>SaMDs should facilitate post-market information gathering to allow for disablement of existing or enablement of new functionality within the SaMD.
                        <ul>
                            <li>It is not necessary for the collection of real world performance data by the SaMD manufacturer to rely on the active involvement of the end user. </li>
                            <li>The manufacturer should aim to impose the least burdensome approach possible in its data collection and leverage the capability of a SaMD to collect clinical evidence.</li>
                        </ul>
                    </li>
                </ul>
                <p>With <strong>ongoing clinical evaluation the risk categorisation may potentially change, </strong>necessitating a change in the SaMD definition statement</p>

                <!-- TODO: add figure -->
            </div>

            <div id="sub3-4" class="section">
                <h3>4. WHO: Global Model Regulatory Framework for Medical Devices including IVDs</h3>
            </div>

            <div id="sub3-4-1" class="section">
                <h3>Policy:</h3>
                <ul>
                    <li><strong>Progressive Regulation: </strong>Advocates for a stepwise approach to regulating medical devices, ensuring quality, safety, and performance across varying levels of risk.</li>
                    <li><strong>Risk Classification: </strong>IVDs are categorized based on the potential impact of incorrect results, ranging from low-risk (Class A) to high-risk (Class D). Regulatory assessments become stricter with higher risk classes.</li>
                    <li><strong>QMS Alignment: </strong>Recommends that manufacturers implement Quality Management Systems (QMS) conforming to ISO standards (e.g., ISO 13485) to manage design, development, and production.</li>
                </ul>
            </div>

            <div id="sub3-4-2" class="section">
                <h3>Pre-Clinical Implications:</h3>
                <ul>
                    <li><strong>Risk Assessment: </strong>Pre-clinical development should emphasize risk mitigation, incorporating safety measures and performance evaluations that align with regulatory expectations.
                        <ul>
                            <li>Only medical devices that are of good quality, safe, and perform as intended may be placed on the market. The safe use and performance of most medical devices requires that the manufacturer, through labeling, provides the user with information on how to properly install, use and maintain them.</li>
                        </ul>
                    </li>
                    <li><strong>Documentation Requirements: </strong> Essential principles necessitate comprehensive technical documentation, including analytical and clinical performance data, risk assessments, and manufacturing protocols.
                        <ul>
                            <li>The QMS is important not only for assuring the quality, safety, and performance of a device, but also as the source of much of the evidence in the technical documentation used by the manufacturer in demonstrating conformity of the device with the Essential Principles and the associated declaration of conformity. Good record keeping practices and record retention policies should be observed in the QMS.</li>
                            <li><i>ISO 13485:2016 Medical devices Quality management systems – WHO Medical device technical series 27 Requirements for regulatory purposes (19) and ISO 14971:2007: Medical devices – Application of risk management to medical devices,</i> as well as ISO 17025:2005 and ISO 15189:2012 are commonly needed documents</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div id="sub3-4-3" class="section">
                <h3>Post-Clinical Implications: </h3>
                <ul>
                    <li><strong>Post-Market Surveillance: </strong>The framework calls for ongoing evaluation through performance monitoring and data assessments. Findings from post-market data (e.g., adverse event reports) help in guiding procurement decisions.
                        <ul>
                            <li>In clinical use, medical devices may not always perform as expected. This may indicate potential problems in their design, manufacturing, labeling, storage, or distribution. It could also reflect inappropriate device selection, installation, use, or maintenance.</li>
                            <li>Market surveillance is the activity of the regulatory authority related to oversight of medical devices on the domestic market. The regulatory authority may undertake targeted activities based on a risk assessment of the distribution chain, evaluation of complaints and adverse event reporting, and information from the postmarket surveillance systems of medical device manufacturers and their authorized representatives.</li>
                            <li>Postmarket surveillance and vigilance ensures that problems or risks associated with the use of devices, once marketed, are identified and reported to the regulatory authorities so that corrective actions may be taken to reduce the likelihood of recurrence.</li>
                        </ul>
                    </li>
                    <li><strong>Adaptability to Resource-Limited Settings: </strong>The WHO emphasizes that devices must be evaluated considering the environment in which they will be used. The framework encourages manufacturers to prioritize adaptability, ease of use, and cost-effectiveness, especially for low-resource settings.</li>
                </ul>
            </div>

            <div id="sub3-5" class="section">
                <h3>Bio-Safety</h3>
                <p>Biosafety in the laboratory involves the safe and protected handling of animal/human pathogens as well as potentially harmful toxins and chemicals.</p> <br>
                <ul>
                    <li>
                        <i>Risk Assessment</i> <br> <br>
                        <p>Prior to contact with research samples (saliva, blood, etc..) all involved research parties must be aware of the hazards associated with the materials as well as the work itself, be able to individually assess the risks associated with each hazard, and be able to create and follow risk mitigation procedures. All researchers must have received proper, documented training and laboratory certifications prior to contact with any potentially hazardous materials. </p> <br>
                    </li>
                    <li>
                        <i>Contamination Prevention</i> <br> <br>
                        <p>All areas within the laboratory must be sterile, contain any necessary containment barriers (fume hoods, walls, air handling, etc..), and be cleaned fully in between use of individual samples. No personal belongings are to be permitted in the containment zone. All glassware/plasticware must either be new, or heavily decontaminated prior to use in accordance with the proper government standard procedures. A specific decontamination procedure must be created/adapted from a standard and be taught to all staff, and the day-to-day following of such procedure must be properly documented.</p> <br>
                    </li>
                    <li>
                        <i>Personal Protective Equipment (PPE)</i> <br> <br>
                        <p>All personnel within the laboratory must wear the necessary personal protective equipment (PPE). Regulated materials such as lab coats, aprons, full body protective clothing, etc… may not leave the containment zone. Appropriate gloves must be worn at all times and changed in between contact with different samples, after leaving the containment zone, and if deemed dirty/contaminated in any manner. Appropriate protective eye and footwear must be worn in instances where splashing or spillage is a risk. All PPE needed is determined by the standard government procedures according to the particular chemical(s) and substance(s) present. </p> <br>
                    </li>
                    <li>
                        <i>Waste Management</i> <br> <br>
                        <p>All waste within containment zones must be properly labelled and decontaminated (disinfected, inactivated, and/or sterilized) following specified procedures for the particular substance prior to disposal. Sharp objects should be discarded into leak-proof, puncture-resistant containers with lids, and properly labelled. All waste should be properly sealed and labelled prior to being sent to the needed area of disposal/incineration. </p> <br>
                    </li>
                    <li>
                        <i>Emergency Response</i> <br> <br>
                        <p>A procedure should be created prior to any in-lab work in regards to any possible situations where biosafety/biosecurity threats could arise. Such emergencies can consist of personnel exposure to hazardous materials, the release of hazardous materials from containment, or a biosecurity breach. An action plan should be in place for the immediate steps after such an emergency occurs, as well as protocols for incident reporting and internal/external investigation. Emergency medical cards may be produced that list the contact information for relevant supervisors, all chemicals/materials present, and potential symptoms of related risks in case of a medical emergency. Upon incident, key internal personnel as well as all relevant regulatory authorities must immediately be notified, and all incidents properly documented. </p>
                    </li>
                </ul> 
            </div>
        </section>

        
        <br>
        <br>
    </article>
    <link rel="stylesheet" href="/sidenav.css">
    <script src="/sidenav-e.js"></script>
</main>