<header class="safety-header">
    <div class="header-content">
        <h1>Safety</h1>
        <div class="divider"></div>
    </div>
</header>

<main>
    <section class="safety-container">
        <div>
            <h1>Safety Hazards</h1>
            <p>Certain potential losses must be accounted for when working with patients and potential hazards in-lab. Losses are not attributed to human error and may include but are not limited to loss impacting stakeholders, environmental damage, injury to persons, etc. Identifying these scenarios ultimately helps to prevent them from occurring and aid the generation of appropriate emergency responses. This approach to hazard analysis is referred to as a Systems Theoretic Process Analysis (STPA). The STPA varies from other methods as it treats accidents as losses of control rather than outright failure. Thoroughly examining hazards related to all forms of failure allows for a more structured approach to risk mitigation. The first step to performing a STPA is to define a system boundary (to avoid an endless breakdown of a system into small insignificant parts), as well as the losses of the specific system and their associated hazards. In regards to the proposed biosensor, the following nine potential losses were considered:</p> <br>

            <p style="text-indent: 5em;"><u>Potential Losses Associated with the Proposed Biosensor: </u></p>
            <table class="safety-table1">
                <tr>
                    <th>Loss</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>L1</td>
                    <td>Loss of life (patient, including vulnerable populations)</td>
                </tr>
                <tr>
                    <td>L2</td>
                    <td>Injury or misdiagnosis leading to improper treatment of neurodegenerative conditions</td>
                </tr>
                <tr>
                    <td>L3</td>
                    <td>Unintended psychological or physiological side effects due to misinterpretation of biosensor results</td>
                </tr>
                <tr>
                    <td>L4</td>
                    <td>Loss of biosensor accuracy or reliability over time</td>
                </tr>
                <tr>
                    <td>L5</td>
                    <td>Increased financial burden on patients due to high production or operational costs</td>
                </tr>
                <tr>
                    <td>L6</td>
                    <td>Environmental contamination from improper disposal of biosensor components</td>
                </tr>
                <tr>
                    <td>L7</td>
                    <td>Loss of scientific progression or reliability in Alzheimer’s disease research due to biosensor inaccuracies</td>
                </tr>
                <tr>
                    <td>L8</td>
                    <td>Lack of accessibility or compatibility for underserved populations</td>
                </tr>
                <tr>
                    <td>L9</td>
                    <td>Failure to detect the disease at an early stage, reducing potential for timely intervention</td>
                </tr>
            </table>
            <br>
            <p>From the losses above, particular hazards (a particular set of worst-case situations that may ultimately result in a loss) can be narrowed down to refined hazards and identified as seen in the table below:</p> <br>

            <p><u>Potential Hazards Derived from Possible Losses Associated with the Proposed Biosensor</u></p>
            <table>
                <tr>
                    <th>Hazard ID</th>
                    <th>Hazard Description</th>
                    <th>Associated Loss(es)</th>
                    <th>Refined Hazard ID</th>
                    <th>Refined Hazard Description</th>
                    <th>Notes</th>
                </tr>
                <tr>
                    <td scope="col" rowspan="3">H1</td>
                    <td scope="col" rowspan="3">Biosensor produces false positive results, leading to unnecessary treatment or stress</td>
                    <td scope="col" rowspan="3">L1, L2, L3</td>
                    <td scope="col" style="text-align: center;">H1.1</td>
                    <td scope="col">False positive results occur due to cross-reactivity with unrelated biomarkers</td>
                    <td scope="col">Potentially triggers unneeded treatment or undue stress for patients</td>
                </tr>
                <tr>
                    <td scope="col">H1.2</td>
                    <td scope="col">Signal interference causes false positives</td>
                    <td scope="col">Environmental factors (e.g., heat, light) alter signal interpretation</td>
                </tr>
                <tr>
                    <td scope="col">H1.3</td>
                    <td scope="col">Contaminants within the sample lead to false positives</td>
                    <td scope="col">Sample contamination could mimic biomarker presence</td>
                </tr>

                <tr>
                    <td scope="col" rowspan="2">H2</td>
                    <td scope="col" rowspan="2">Biosensor produces false negative results, missing early signs of neurodegeneration</td>
                    <td scope="col" rowspan="2">L1, L9</td>
                    <td scope="col" style="text-align: center;">H2.1</td>
                    <td scope="col">Low sensitivity to biomarkers at early disease stages</td>
                    <td scope="col">Detection may not pick up biomarkers in low concentrations</td>
                </tr>
                <tr>
                    <td scope="col">H2.2</td>
                    <td scope="col">Signal degradation or interference results in false negatives</td>
                    <td scope="col">Environmental or handling conditions degrade signal</td>
                </tr>

                <tr>
                    <td scope="col" rowspan="2">H3</td>
                    <td scope="col" rowspan="2">Biosensor components degrade, reducing detection accuracy</td>
                    <td scope="col" rowspan="2">L4, L7</td>
                    <td scope="col" style="text-align: center;">H3.1</td>
                    <td scope="col">Dye or aptazyme degradation over time lowers sensitivity</td>
                    <td scope="col">Loss of efficacy due to component instability</td>
                </tr>
                <tr>
                    <td scope="col">H3.2</td>
                    <td scope="col">Storage conditions affect sensor stability and performance</td>
                    <td scope="col">Non-ideal temperatures or humidity levels degrade sensor performance</td>
                </tr>

                <tr>
                    <td scope="col" rowspan="2">H4</td>
                    <td scope="col" rowspan="2">Biosensor materials contaminate the environment upon disposal</td>
                    <td scope="col" rowspan="2">L6</td>
                    <td scope="col" style="text-align: center;">H4.1</td>
                    <td scope="col">Sensor materials release toxic residues upon degradation</td>
                    <td scope="col">Decomposition releases hazardous chemicals</td>
                </tr>
                <tr>
                    <td scope="col">H4.2</td>
                    <td scope="col">Improper disposal methods lead to environmental contamination</td>
                    <td scope="col">Lack of proper disposal channels in underserved regions</td>
                </tr>

                <tr>
                    <td scope="col" rowspan="2">H5</td>
                    <td scope="col" rowspan="2">High cost of biosensor limits accessibility for low-income or underserved populations</td>
                    <td scope="col" rowspan="2">L5, L8</td>
                    <td scope="col" style="text-align: center;">H5.1</td>
                    <td scope="col">High production costs drive up sensor prices</td>
                    <td scope="col">Cost-prohibitive for low-income individuals or regions</td>
                </tr>
                <tr>
                    <td scope="col">H5.2</td>
                    <td scope="col">Lack of subsidies or reimbursement options restricts availability</td>
                    <td scope="col">Limited access in healthcare systems without funding</td>
                </tr>

                <tr>
                    <td scope="col" rowspan="2">H6</td>
                    <td scope="col" rowspan="2">Improper or ineffective signal processing results in erroneous data interpretation</td>
                    <td scope="col" rowspan="2">L2, L3</td>
                    <td scope="col" style="text-align: center;">H6.1</td>
                    <td scope="col">Noise in signal interpretation algorithm produces erroneous results</td>
                    <td scope="col">Poorly calibrated algorithms lead to misinterpretation</td>
                </tr>
                <tr>
                    <td scope="col">H6.2</td>
                    <td scope="col">Inadequate filtering in signal processing increases error rates</td>
                    <td scope="col">Unfiltered signal data may incorporate irrelevant information, leading to false readings</td>
                </tr>

                <tr>
                    <td scope="col" rowspan="2">H7</td>
                    <td scope="col" rowspan="2">Delays in biosensor signal processing extend time before results are available</td>
                    <td scope="col" rowspan="2">L2, L9</td>
                    <td scope="col" style="text-align: center;">H7.1</td>
                    <td scope="col">Software processing delays increase time to result</td>
                    <td scope="col">High computational load or inefficient algorithms slow down diagnosis</td>
                </tr>
                <tr>
                    <td scope="col">H7.2</td>
                    <td scope="col">Manual data handling adds delays to signal processing</td>
                    <td scope="col">Human intervention required for data entry or processing</td>
                </tr>

                <tr>
                    <td scope="col" rowspan="2">H8</td>
                    <td scope="col" rowspan="2">Manufacturing inconsistencies affect biosensor sensitivity and reliability</td>
                    <td scope="col" rowspan="2">L4, L7</td>
                    <td scope="col" style="text-align: center;">H8.1</td>
                    <td scope="col">Variability in aptazyme structure affects sensor consistency</td>
                    <td scope="col">Irregular aptazyme folding or binding impacts sensitivity</td>
                </tr>
                <tr>
                    <td scope="col">H8.2</td>
                    <td scope="col">Variation in dye quality impacts signal strength</td>
                    <td scope="col">Inconsistent dye batches affect signal visibility</td>
                </tr>

                <tr>
                    <td scope="col" rowspan="2">H9</td>
                    <td scope="col" rowspan="2">Sensor interacts negatively with co-administered medications</td>
                    <td scope="col" rowspan="2">L3</td>
                    <td scope="col" style="text-align: center;">H9.1</td>
                    <td scope="col">Interaction between sensor dye and certain medications alters results</td>
                    <td scope="col">Signal interference or physiological interactions affect accuracy</td>
                </tr>
                <tr>
                    <td scope="col">H9.2</td>
                    <td scope="col">Medications accelerate degradation of biosensor components</td>
                    <td scope="col">Biochemical interactions may reduce sensor lifetime</td>
                </tr>

                <tr>
                    <td scope="col" rowspan="4">H10</td>
                    <td scope="col" rowspan="4">Sensor is administered incorrectly</td>
                    <td scope="col" rowspan="4">L1, L3</td>
                    <td scope="col" style="text-align: center;">H10.1</td>
                    <td scope="col">Sensor is confused with another medical device</td>
                    <td scope="col">Incorrect administration due to mix-up with similar devices</td>
                </tr>
                <tr>
                    <td scope="col">H10.2</td>
                    <td scope="col">The test is administered too late</td>
                    <td scope="col">Late detection may miss early-stage indicators</td>
                </tr>
                <tr>
                    <td scope="col">H10.3</td>
                    <td scope="col">The test is given to patients who do not need it</td>
                    <td scope="col">Misuse on non-target patients leading to wasted resources or risks</td>
                </tr>
                <tr>
                    <td scope="col">H10.4</td>
                    <td scope="col">Sensor cannot function in extreme environmental conditions</td>
                    <td scope="col">Could fail in regions with high humidity, temperature, or vibrations</td>
                </tr>

                <tr>
                    <td scope="col" rowspan="2">H11</td>
                    <td scope="col" rowspan="2">Sensor is manufactured incorrectly</td>
                    <td scope="col" rowspan="2">L1, L3</td>
                    <td scope="col" style="text-align: center;">H11.1</td>
                    <td scope="col">Sensor retains unwanted biomolecules or contaminants</td>
                    <td scope="col">Risks contamination or false readings</td>
                </tr>
                <tr>
                    <td scope="col">H11.2</td>
                    <td scope="col">Harmful purification chemicals remain in the sensor</td>
                    <td scope="col">May lead to adverse effects upon application</td>
                </tr>

                <tr>
                    <td scope="col" rowspan="5">H12</td>
                    <td scope="col" rowspan="5">Sensor preparation is flawed</td>
                    <td scope="col" rowspan="5">L1, L3, L4</td>
                    <td scope="col" style="text-align: center;">H12.1</td>
                    <td scope="col">Sensor contaminated by external microbes during preparation</td>
                    <td scope="col">Risks contamination or false readings</td>
                </tr>
                <tr>
                    <td scope="col">H12.2</td>
                    <td scope="col">Air bubbles form within the sensor solution</td>
                    <td scope="col">May render the sensor ineffective or cause incorrect readings</td>
                </tr>
                <tr>
                    <td scope="col">H12.3</td>
                    <td scope="col">Sensor components are not properly mixed or re-suspended</td>
                    <td scope="col">Inaccurate readings or test inefficacy</td>
                </tr>
                <tr>
                    <td scope="col">H12.4</td>
                    <td scope="col">Components of the sensor are not connected properly</td>
                    <td scope="col">Potential for sensor failure</td>
                </tr>
                <tr>
                    <td scope="col">H12.5</td>
                    <td scope="col">Connection parts of the sensor are defective or fail</td>
                    <td scope="col">Risk of loss of data or inaccurate detection</td>
                </tr>

                <tr>
                    <td scope="col" rowspan="3">H13</td>
                    <td scope="col" rowspan="3">Sensor preparation is delayed</td>
                    <td scope="col" rowspan="3">L1, L2</td>
                    <td scope="col" style="text-align: center;">H13.1</td>
                    <td scope="col">Re-suspension of components takes too long</td>
                    <td scope="col">Unprepared components might affect functionality</td>
                </tr>
                <tr>
                    <td scope="col">H13.2</td>
                    <td scope="col">Preparation protocol is too complex/long</td>
                    <td scope="col">Could cause errors or delays in production</td>
                </tr>
                <tr>
                    <td scope="col">H13.3</td>
                    <td scope="col">Sensor is not stored in an accessible place</td>
                    <td scope="col">Limited access may delay diagnosis</td>
                </tr>
            </table>
            <br>
            <p>The second step of an STPA is to create a control structure, which clearly denotes a hierarchy of control within staff and describes the impact different pieces of the system have on one another. This is done with the goal of identifying potentially hazardous system interactions and ensures there is no confusion as to who overrides whom in an emergency scenario. Next, the third step is to identify any Unsafe Control Actions (UCAs). UCAs are actions derived from the control structure that could ultimately lead to a hazard. Lastly, step five consists of the identification of causal scenarios, which are actions that could lead to the previously identified unsafe control actions. A risk mitigation plan can then be created with the goal of preventing hazards/losses through avoidance of UCAs as well as causal scenarios. Through examining the various potential hazards associated with both the production and use of our proposed biosensor, the team can be proactive in regards to risk mitigation. Implementing a robust and comprehensive emergency protocol will help reduce confusion and lessen the damages and/or losses that could occur in certain situations. This would also result in more informed, prepared, and trained staff. </p>
        </div>
    </section>
</main>