

.table-container{
    margin: 0 20px 20px 0;
    text-align: center;
    max-width: 50%;
    place-self: center;
}

table {
    margin: 0 auto; /* Centers the table */
    border-collapse: collapse; /* Merges borders between cells */
    max-width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

table caption {
    text-align: center; /* Centers the caption */
    font-weight: bold;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid white; /* Adds white borders */
}

th, td {
    padding: 7px; /* Adds padding inside cells */
    text-align: center; /* Centers text within cells */
}

thead {
    background-color: #333; /* Optional: Dark background for headers */
    color: white; /* Makes header text white */
}

.dropdown-container {
    place-content: center;
    background: #333;
    border-radius: 8px;
}

.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.dropdown-header:hover {
    background-color: #313131;
    border-radius: 8px;
}

.dropdown-arrow {
    font-size: 1em;
    transition: transform 0.3s;
}

/* Rotate arrow when active */
.dropdown-arrow.active {
    transform: rotate(180deg);
}

.dropdown-arrow2 {
    font-size: 1em;
    transition: transform 0.3s;
}

/* Rotate arrow when active */
.dropdown-arrow2.active {
    transform: rotate(180deg);
}

.dropdown-content {
    display: none;
    padding: 30px;
    line-height: 1.6;
    border-top: 1px solid #ddd;
}

/* Optional: Add some spacing for steps */
.step {
    margin-top: 5px;
}

.step ul {
    list-style-type: disc;
    margin-left: 20px;
}

.step ol {
    margin-left: 20px;
}

.viewer-container{
    text-align: center;
    place-content: center;
}


/* Flex container for side-by-side layout */
.pdb-container {
    display: flex;
    align-items: center;
}

/* Each viewer takes up 45% of the width */
.viewer {
    width: 50%;
    height: 300px;
    position: relative;
}

