/* .toc {
    position: sticky;
    left: 3em;
    top: 6em;
    padding: 0.5em;
    width: 13em;
    line-height: 1.5;
} */

.toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc ul ul {
    padding-left: 2em;
}

.toc li a {
    display: inline-block;
    color: #e5e5e5;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.toc li.visible > a {
    color: #14b8a6;
    transform: translate(5px);
}

.toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.toc-marker path {
    transition: all 0.3s ease;
}

.contents {
    padding-left: 10em;
    max-width: 1200px;
    font-size: 1.2em;
}

.contents h2, h3 {
    padding-top: 1em;
}

.contents h2 {
    margin-top: 1.2em;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 4em;
    left: 10px;
    z-index: 1000;
}

.toc-container {
    position: sticky;
    width: 10em;
    top: 0;
    padding-top: 3rem;
    max-height: 100vh;
    padding-right: 2em;
    padding-left: 2em;
}

.toc.hidden{
    transform: translateX(-100%);
}

@media(max-width: 992px) {
    .hamburger {
        display: block;
    }

    .toc-container {
        display: none;
    }

    .toc-container.show {
        display: block;
    }

    .toc {
        transform: translateX(-100%);
        top: 4em;
        background-color: black;
    }

    .toc-container.show .toc {
        transform: translateX(0);
    }

    .contents {
        padding-left: 5em;
        max-width: 800px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 14px;
    }
}