/* Universal Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Yu Gothic;
    background-color: black;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

/* Navbar Styling */

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 10px;
}

.navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-logo {
    height: 40px;
    width: auto;
    align-self: center;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    color: white;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-menu li {
    position: relative;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.navbar-menu a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.navbar-menu .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.navbar-menu .dropdown li {
    min-width: fit-content;
    width: 150px;
}

.navbar-menu li:hover .dropdown {
    display: block;
}

/* Responsive Navbar */
@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        width: 100%;
    }

    .navbar-menu .dropdown {
        position: static;
        box-shadow: none;
    }

    .navbar-menu .dropdown li {
        width: 100%;
    }
}

/* Homepage */

.video-container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.abstract-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 40px;
}

.abstract-container {
    max-width: 800px;
    margin: 0 auto;
}

.abstract-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.abstract-container p {
    font-size: 1.2em;
    line-height: 1.6;
}

.divider {
    width: 150px; /* Adjust line width */
    height: 2px; /* Adjust line thickness */
    background-color: #ffffff; /* Line color */
    margin: 0 auto 20px; /* Center and space below title */
}

.learn-more-section {
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 40px;
}

.learn-more-container {
    max-width: 1000px;
    margin: 0 auto;
}

.learn-more-container h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.learn-more-button {
    display: inline-flex; /* Use inline-flex to allow centering */
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    width: 150px; /* Set width and height for circle */
    height: 150px;
    border-radius: 50%; /* Use 50% for circle shape */
    transition: background-color 0.3s ease;
    overflow: hidden; /* Ensure content doesn't overflow */
}

.learn-more-button:hover {
    background-color: #555;
}

.learn-more-button span {
    display: block;
    text-align: center;
    width: 100%; /* Ensure text spans the entire button width */
}

/* Project Description Page Styling */

.description-header {
    background-image: url('/img/draft-header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.notebook-header {
    background-image: url('/img/notebook-header.png');
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    height: 40vh; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.description-header h1 {
    font-size: 3em; /* Adjust size as needed */
    margin: 0;
}

.header-divider {
    width: 150px; /* Adjust line width */
    height: 2px; /* Adjust line thickness */
    background-color: white; /* Line color */
    margin-top: 20px;
}

.description-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.description-contents {
    margin: 0 auto;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 50px;
    text-align: left;
    display: inline-block;
}

.container h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.container h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.sub-container {
    padding: 10px 50px;
    text-align: left;
    display: inline-block;
}

.subtitle-divider {
    width: 150px; /* Adjust line width */
    height: 2px; /* Adjust line thickness */
    background-color: #333; /* Line color */
    margin-bottom: 20px;
    align-self: flex-start;
}

/* Modelling Page */
.modelling-header {
    background-image: url('/img/draft-header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modelling-container {
    width: 100%;
    margin: 0 auto;
}

.modelling-container section {
    margin-bottom: 3rem;
}

.image-container{
    margin: 0 20px 20px 0; /* Adjust margins as needed */
    text-align: center;
    max-width: 50%; /* Ensure the image does not exceed 50% of the container width */
}

.image-left{
    float: left; /* Float the image to the left */
}

.image-right{
    float: right; /* Float the image to the left */
}

.image-center{
    place-self: center;
}
.image-container img {
    max-width: 100%;
    max-height: 75vh;
    place-self: center;
    display: block;
}

.contents-m ol li{
    margin-left: 50px;
}

.contents-m h4{
    padding-top: 20px;
    padding-bottom: 10px;
}

.figure-label {
    margin-top: 10px;
    font-style: italic;
    text-align: center;
}

.flow-text {
    text-align: justify;
    margin: 0;
}

@media (max-width: 768px) {
    .description-header {
        height: 30vh; /* Adjust as needed */
    }

    .description-header h1 {
        font-size: 2em; /* Adjust size as needed */
    }
    
    .image-container {
        float: none; /* Disable float on smaller screens */
        margin: 20px 0; /* Adjust margins as needed */
        max-width: 100%; /* Ensure the image uses the full width of the container */
    }
}


/* Description(Diagram) styling */
#diagram-container {
    position: relative;
    width: 1000px;
    height: 600px;
    background-image: url('img/temp.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.diagram-label {
    position: absolute;
    background: red;
    padding: 5px;
    cursor: pointer;
    border: none;
}

#diagram-revert-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: blue;
    border: none;
    cursor: pointer;
}

/* ELSI Page Styling */
.ethics-header {
    background-image: url('/img/draft-header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Team Members section */
/* carousel */
.carousel-container {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

.carousel-container img {
    max-width: 950px;
    height: auto;
    display: block;
    max-height: 90%;
    object-fit: cover;
}

#dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #555;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #bbb;
}


/* FIX */
.members-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.members-cont {
    margin: 0 auto;
    padding-top: 40px;
}

.members-cont h2 {
    text-align: center;
}

.card-sub {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    display: flex;
    align-items: flex-end;
}

.card-sub-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    transition: all 0.3s ease;
}

.card-sub-info p {
    line-height: 1.2;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
    max-width: 1200px;
    gap: 20px;
}


.card {
    position: relative;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    display: flex;
    align-items: flex-end;
}

.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    transition: all 0.3s ease;
}

.card:hover .card-info {
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
}


.info-btn {
    margin-top: 10px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%, 0);
    opacity: 0;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-btn svg {
    width: 26px;
    height: 26px;
}

.card:hover .info-btn {
    opacity: 1;
    transform: translate(-50%, 0);
}

.second-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.second-content {
    width: 70%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    position: relative;
    text-align: left;
}

.second-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.second-left img {
    max-width: 100%;
    border-radius: 10px;
}

.second-left h3, .second-left p {
    text-align: center;
    margin: 10px, 0;
    color: black;
}

.second-right {
    padding: 10px;
    color: black;
}

@media(max-width: 768px) {
    .second-content {
        grid-template-columns: 1fr;
    }
    .second-left {
        margin-bottom: 10px;
    }
}

.second-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: black;
}


/* Footer Styling*/

footer {
    background-color: #373737;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.contact-section {
    flex: 1 1 50%; 
    max-width: 500px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.footer-page-section {
    flex: 1 1 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links a {
    text-decoration: none;
    color: aliceblue;
}

.footer-logo {
    max-width: 250px;
    height: auto;
    padding-bottom: 36px;
}

.contact-nav {
    display: flex;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Adjust button size as needed */
    height: 40px; /* Adjust button size as needed */
    margin: 0 10px;
    background-color: white; /* Button background color */
    border-radius: 50%; /* Make the buttons round */
    color: #333; /* Icon color */
    text-decoration: none;
}

.socials svg {
    width: 50%;
    height: 50%;
}

.socials:hover {
    background-color: #f0f0f0;
    color: #000;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Stack sections vertically */
        align-items: center; /* Center align items */
    }

    .contact-section {
        margin-bottom: 20px; /* Space between sections */
    }

    .footer-page-section {
        flex-direction: column; /* Stack footer sections vertically */
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px; /* Space between sections */
    }
}


/* Notebook Section */
.timeline-container {
    position: relative;
    height: 65vh; /* Full viewport height */
    top: 25vh;
    overflow-x: hidden; /* Hide horizontal scroll bar */
}

.timeline-scroll {
    display: flex;
    transition: transform 0.3s ease; /* Smooth scrolling effect */
    align-items: center; /* Center items vertically */
    padding: 30px; /* Padding around the timeline */
}

/* visual only (horizontal line) */
.timeline-container::before {
    content: '';
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #fff;
    z-index: -3;
}

.timeline-item {
    flex: 0 0 auto; /* Prevent flex items from shrinking */
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px; /* Space between items */
    transition: transform 0.8s ease; /* Smooth scaling effect */
    cursor: pointer; /* Change cursor on hover */
}

.timeline-week {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 50%;
    background-color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: transform 0.8s ease;
    font-weight: bold;
}

.timeline-blurb {
    text-align: center; /* Center text */
    font-size: 14px; /* Blurb text size */
    opacity: 0; /* Start hidden */
    padding-top: 10px;
}

.timeline-item.active-week {
    transform: scale(1.4); /* Scale up active item */
    z-index: 2; /* Ensure active item is on top */
    margin: 0 18vw;
    color: #ffffff;
}

.timeline-item.active-week .timeline-blurb {
    opacity: 1; /* Show blurb for active item */
}

.timeline-item.active-week .timeline-week {
    background-color: #f0f0f0;
}

.week-content-container {
    margin: auto;
    width: 80%;
    overflow-y: auto;
    height: calc(150vh - 50px);
}

.week-content {
    display: none;
}

.week-content.active-content {
    display: block;
    text-align: center;
}

.news-table {
    width: 100%;
    border: 1px solid #000; /* Optional for border */
    border-spacing: 0;
    margin: 20px 0;
    background-color: #f9f9f9;
}

/* Header styling */
.news-table .header {
    background-color: #e0e0e0;
    padding: 15px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

/* Content row styling */
.news-table .content {
    padding: 10px;
    font-family: 'Arial', sans-serif;
    color: #555;
}

/* Section Title styling */
.news-table h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: #000;
}

/* Description styling */
.news-table p {
    margin: 10px 0;
    padding: 0;
}

/* Witness comments styling */
.news-table .witness-comments {
    margin-top: 15px;
    font-style: italic;
    color: #777;
}


/* Experiments section */
.experiments-container {
    width: 100%;
    margin: 0 auto;
}

.experiments-container section {
    margin-bottom: 3rem;
}

.experiments-header {
    background-image: url('/img/draft-header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Experiments diagram */
.experiments-diagram {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.experiments-timeline {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top: 2px solid #333;
    padding-top: 20px;
    margin-bottom: 20px;
}

.experiments-month {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-right: 1px solid #ccc;
    position: relative;
}

.experiments-month:last-child {
    border-right: none;
}

.experiments-events {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experiments-event {
    position: absolute;
    top: 0;
    bottom: 0;

    /* color of timeline box */
    background-color: #f0f0f0;
    color: red;

    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: bold;

    /* multiply by 20% because there are five months shown */
    left: calc((var(--start) - 1) * 20%);
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
    top: calc(var(--index) * 60px);

    animation: growWidth 1.2s ease-out forwards;
}
/* growing animation */
@keyframes growWidth {
    from {
        width: 0%;
    }
    to {
        width: calc(var(--span) * 20%);
    }
}

@media (max-width: 768px) {
    .experiments-event {
        font-size: 0.8rem;
        top: calc(var(--index) * 50px);
    }
}

/* Ethics */
.ethics-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

/* Results Section */
.results-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.results-header {
    background-image: url('/img/draft-header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.results-contents {
    margin: 0 auto;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2em;
}

.results-container table {
    border: 1px solid rgb(140, 140, 140);
    border-collapse: collapse;
    border-spacing: 0;
}

.results-container th,
.results-container td {
    border: 1px solid rgb(160, 160, 160);
    padding: 4px 10px;
}

.nano-content {
    display: flex;
    align-items: center;
}

.apt-content {
    text-align: center;
}

.apt-table {
    width: 100%;
    table-layout: fixed;
}

.apt-table td {
    width: 33.33%;
}

.apt-table img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* results subwindow with tabs */
.results-sub {
    padding-top: 3rem;
}

.results-tabs {
    display: flex;
}

.results-tab {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.results-tab.active, .results-tab:hover {
    background-color: #555;
    color: #fff;
}

.results-window {
    width: 100%;
    height: 550px;
    display: flex;
    background-color: #f0f0f0;
    color: #333;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tab-window {
    margin-top: 2rem;
    width: 100%;
    display: none;
    line-height: 2;
    padding: 20px;
    margin-top: 20px;
    overflow-y: auto;
}

.tab-window ol {
    padding-left: 4rem;
}

.tab-window table caption {
    font-size: 14px;
}

.tab-window.active {
    display: block;
}

/* Safety Section */
.safety-header {
    background-image: url('/img/draft-header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.safety-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
    font-size: 1.2em;
}

.safety-table1 {
    margin: 0 auto;
}

.safety-container ul {
    list-style-type: disc;
    margin-left: 30px;
}

.safety-container table {
    border: 1px solid rgb(140, 140, 140);
    border-collapse: collapse;
    border-spacing: 0;
}

.safety-container th,
.safety-container td {
    border: 1px solid rgb(160, 160, 160);
    padding: 4px 10px;
}

.safety-container td:first-child {
    text-align: center;
}

/* Scroll to top button */
/* change styling as needed */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #575757;
    cursor: pointer;
    outline: none;
    border: none;
}

#scrollToTopBtn svg {
    fill: white;
}


/* lab notebook*/

.notebook-container {
    padding: 20px;
}

.filter-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 10px;
}

.toggle-group h4 {
    margin-bottom: 10px;
}

/* Toggle Slider Styling */
.toggle-container {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}

.toggle-input {
    opacity: 0;
    position: absolute;
    left: 0;
}

.toggle-container .slider {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    margin-left: 10px;
    transition: 0.4s;
}

.toggle-container {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-container input:checked + .slider {
    background-color: #d9c5f5;
}

.toggle-container.active {
    background-color: #d9c5f5; /* Apply the highlight when selected */
}

.toggle-input:checked + .slider:before {
    transform: translateX(18px);
}

.notebook-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.experiment-box {
    background-color: #e6e6fa;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.experiment-box:hover {
    transform: scale(1.05);
}

/* Centered Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    text-align: left;
    position: relative;
}

/* Style for month buttons */
.month-button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.month-button:hover {
    background-color: #ddd;
}

/* Highlight selected month */
.month-button.selected {
    background-color: #d9c5f5; /* Light purple */
    color: white;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}