<div class="main-content">
    <header>
        <div class="video-container">
            <iframe class="fullscreen-video" src="https://www.youtube.com/embed/ehu1Uct3S24?si=Au9mcSXl7QgEHaDx" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </header>
    <main>
        <section class="abstract-section">
            <div class="abstract-container">
                <h2>Abstract</h2>
                <div class="divider"></div>
                <p>The urgent need for early detection of neurovascular diseases, coupled with the limitations of current diagnostic methods, motivates the development of DNADetect, a novel modular fluorescence-based biosensor. DNADetect utilises the mechanism of a nanopore and an aptazyme. The biosensor uses a blocked DNA origami nanopore, a tiny hole formed by folding DNA into specific shapes, inserted into a membrane encasing fluorescent dye. An aptazyme, a molecule combining an aptamer (a DNA or RNA molecule that binds to specific targets) and an enzyme, is used as the blockage. This blockage remains in place until it binds to the theophylline target molecule, triggering the cleavage of the blockage and the efflux of dye from the membrane, providing a fluorescence signal. This innovative design offers advantages such as sustainability, versatility, and enhanced sensitivity, making it a promising solution for early disease detection. The focus of this work is to design a biosensor capable of detecting specific target molecules, offering potential for widespread application in disease diagnosis.</p>
            </div>
        </section>
        <section class="learn-more-section">
            <div class="learn-more-container">
                <h3>Learn More</h3>
                <div class="divider"></div>
                <div class="button-container">
                    <a href="/project/description" class="learn-more-button">Description</a>
                    <a href="/project/modelling" class="learn-more-button">Modelling</a>
                    <a href="/project/experiments" class="learn-more-button">Experiments</a>
                    <a href="/project/results" class="learn-more-button">Results</a>
                    <a href="/team/members" class="learn-more-button">Members</a>
                </div>
            </div>
        </section>
    </main>
</div>