<div class="main-content">
    <header>
        <div class="video-container">
            <iframe class="fullscreen-video" src="https://www.youtube.com/embed/f2ccVXZRLWw?autoplay=1&mute=1&controls=0&loop=1&playlist=f2ccVXZRLWw" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </header>
    <main>
        <section class="abstract-section">
            <div class="abstract-container">
                <h2>Project Abstract</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sapien et justo viverra lacinia. Phasellus scelerisque neque a arcu feugiat, sit amet bibendum odio tincidunt. Mauris dictum justo at urna tincidunt, nec sagittis velit aliquam. Curabitur nec turpis eget quam luctus feugiat et eget libero. Integer euismod, libero nec sollicitudin ullamcorper, lorem nunc volutpat justo, et bibendum sem sapien sit amet arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer nec eros vel lacus fermentum suscipit. Integer at lacus ac justo scelerisque pulvinar.</p>
            </div>
        </section>
    </main>
</div>