<header class="description-header">
    <div class="header-content">
        <h1>Description</h1>
        <div class="divider"></div>
    </div>
</header>
<main>
    <section class="description-container">
        <div class="container">
            <div id="description-background">
                <h2>Background</h2>
                <div class="divider"></div>
                <h3>What are we aiming to address?</h3>
                <figure class="image-container">
                    <img src="/img/logo.png" alt="Description Image">
                    <figcaption class="figure-label">Figure 1: Caption for the image</figcaption>
                </figure>
                <p class="flow-text">
                    There is an urgent need to detect neurodegenerative damaging diseases like Alzheimer’s disease (AD), in their early stages. Current technologies lack the sensitivity required for early detection. Additionally, the process for differential diagnosis, which is essential for conditions like AD, is hindered by the absence of a definitive standard for diagnosis. This process often also exposes patients to high levels of radiation through computed tomography (CT) and magnetic resonance imaging (MRI) scans. These solutions also tend to be unsustainable, relying on helium - a rapidly depleting non-renewable natural resource - to operate MRI scans, and taking large amounts of energy to operate CT and MRI machines.
                    <br><br>
                    Our goal is to create a sensitive and accurate system for the early detection of neurodegenerative diseases. This will in turn reduce patient exposure to radiation to enhance diagnostic safety. As well, we hope to promote sustainability by developing diagnostic methods that do not rely on non-renewable resources or that take up lots of energy.
                    <br><br>
                </p>
                <h3>Research Questions</h3>
                <div class="subtitle-divider"></div>
                <p class="flow-text"> 
                    1. How can we create a solution that is highly sensitive for early detection of neurodegenerative diseases?
                    <br>2. How can we introduce sustainable practices into our experiments and the design of our solution to improve sustainability?
                </p>
            </div>
            
            <div id="description-solution">
                <h2>Our Solution</h2>
                <div class="divider"></div>
                <p class="flow-text"> 
                    Nulla semper ipsum at ultricies consequat. Nam efficitur lacus porttitor ligula porttitor aliquam. Vivamus at enim id nisl interdum lobortis. Duis vulputate mauris vel dolor consequat, sit amet mattis lorem euismod. Ut pulvinar, nulla quis rhoncus tristique, tortor libero lacinia nisi, ut ornare tortor velit at mauris. Mauris ultricies, risus non egestas varius, augue augue fermentum tellus, ut elementum ex ante et diam. Vestibulum tincidunt, erat sit amet fringilla faucibus, augue lacus facilisis ante, et pharetra ipsum odio id magna. Aliquam mauris dolor, condimentum non velit varius, molestie condimentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                </p>
            </div>

            <div id="diagram-container">
                <img id="diagram-main" src="/img/temp.jpg">
                <div id="tooltip label-1">Label 1</div>
                
            </div>
            
        </div>
    </section>

    <script src="/description-diagram.js"></script>
</main>