<main class="experiments-container">

    <div class="experiments-diagram">
        <div class="experiments-timeline">
            <div class="experiments-month">May</div>
            <div class="experiments-month">June</div>
            <div class="experiments-month">July</div>
            <div class="experiments-month">August</div>
            <div class="experiments-month">September</div>
        </div>

        <div class="experiments-events">
            <!-- --start = which month to start, --span = how many months it spaned -->
            <div class="experiments-event event1" style="--start: 1; --span: 1.7; --index: 0;">Aptazyme</div>
            <div class="experiments-event event2" style="--start: 1.5; --span: 2; --index: 1;">Nanopore</div>
            <div class="experiments-event event3" style="--start: 2; --span: 1.7; --index: 2;">TMSD</div>
            <div class="experiments-event event3" style="--start: 3; --span: 1.7;--index: 3;">Vesicles</div>
            <div class="experiments-event event3" style="--start: 1.2; --span: 1.7; --index: 4;">Dye Flux</div>
        </div>
    </div>

</main>