<head>
    <style>
        :root {
            --1: #a1c5ff;
            --2: #ff8ae9;
            --3: #dfa3e6;
            --4: #a6a3e6;
            --5: #7680c6;
            --6: #d1ffc9;
            --7: #ffc9fa;
            --8: #cfa8e3;
        }
    </style>
</head>



<main class="experiments-container">

    <div class="experiments-diagram">
        <header class="experiments-header">
            <div class="header-content">
                <h1>Experiments</h1>
                <div class="divider"></div>
            </div>
        </header>
        <div class="experiments-timeline">
            <div class="experiments-month">May</div>
            <div class="experiments-month">June</div>
            <div class="experiments-month">July</div>
            <div class="experiments-month">August</div>
            <div class="experiments-month">September</div>
        </div>

        <div class="experiments-events">
            <!-- --start = which month to start (1-May~5-September), --span = how many months it spaned -->
             <!-- add click and lead to section  -->
            <a href="#experiments-aptazyme">
                <div class="experiments-event" style="--start: 1; --span: 1.7; --index: 0;">Aptazyme</div>
            </a>
            <a href="#experiments-nanopore">
                <div class="experiments-event" style="--start: 1.5; --span: 2; --index: 1;">Nanopore</div>
            </a>
            <a href="#experiments-tmsd">
                <div class="experiments-event" style="--start: 2; --span: 1.7; --index: 2;">TMSD</div>
            </a>
            <a href="#experiments-liposome">
                <div class="experiments-event" style="--start: 3; --span: 1.7;--index: 3;">Liposome</div>
            </a>
            
            <a href="#experiments-dyeflux">
                <div class="experiments-event" style="--start: 1.2; --span: 1.7; --index: 4;">Dye Flux</div>
            </a>
        </div>
    </div>

    <div class="experiments-body">
        <div class="hamburger" onclick="toggleSidebar()">&#9776;</div>
        <div class="toc-container-e">
            <nav class="toc">
                <ul>
                    <li>
                        <a href="#experiments-tmsd">TMSD</a>
                        <ul>
                            <li><a href="#tmsd-tabs" onclick="openTab(event, 'tab1', 'tmsd')" class="toc-link">Sample Preparation</a></li>
                            <li><a href="#tmsd-tabs" onclick="openTab(event, 'tab2', 'tmsd')" class="toc-link">Non-SDS Native PAGE</a></li>
                            <li><a href="#tmsd-tabs" onclick="openTab(event, 'tab3', 'tmsd')" class="toc-link">Non-SDS Native PAGE Staining and Image Processing</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#experiments-aptazyme">Aptazyme</a>
                        <ul>
                            <li><a href="#aptazyme-tabs" onclick="openTab(event, 'apt-tab1', 'aptazyme')" class="toc-link">Polymerase chain reaction (PCR)</a></li>
                            <li><a href="#aptazyme-tabs" onclick="openTab(event, 'apt-tab2', 'aptazyme')" class="toc-link">Agarose gel electrophoresis</a></li>
                            <li><a href="#aptazyme-tabs" onclick="openTab(event, 'apt-tab3', 'aptazyme')" class="toc-link">In-vitro transcription</a></li>
                            <li><a href="#aptazyme-tabs" onclick="openTab(event, 'apt-tab4', 'aptazyme')" class="toc-link">Denaturing urea-PAGE</a></li>
                            <li><a href="#aptazyme-tabs" onclick="openTab(event, 'apt-tab5', 'aptazyme')" class="toc-link">Activity Assay</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#experiments-nanopore">Nanopore</a>
                        <ul>
                            <li><a href="#sub2-1">sub2</a></li>
                            <li><a href="#sub2-2">sub2-2</a></li>
                            <li><a href="#sub2-3">sub2-3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#experiments-liposome">Liposome</a>
                        <ul>
                            <li><a href="#liposome-tabs" onclick="openTab(event, 'tab5', 'liposome')" class="toc-link">Lipid Film</a></li>
                            <li><a href="#liposome-tabs" onclick="openTab(event, 'tab6', 'liposome')" class="toc-link">Synthesis, Extrusion and Purification</a></li>
                            <li><a href="#liposome-tabs" onclick="openTab(event, 'tab7', 'liposome')" class="toc-link">Size Characterization and Lamellarity</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#experiments-dyeflux">Dye Flux</a>
                        <ul>
                            <li><a href="#dyeflux-tabs" onclick="openTab(event, 'df-tab1', 'dyeflux')" class="toc-link">SRB Gradient Sample Preparation and Plate Reader Reading</a></li>
                            <li><a href="#dyeflux-tabs" onclick="openTab(event, 'df-tab2', 'dyeflux')" class="toc-link">Nanopore Insertion Testing Sample Preparation and Plate Reader Reading</a></li>
                        </ul>
                    </li>
                    <li><a href="#experiments-protocol">Protocol</a></li>
                </ul>
                <svg 
                    class="toc-marker"
                    width="200"
                    height="200"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <!-- stroke color -->
                    <path 
                        stroke="#ccfbf1"
                        stroke-width="3"
                        fill="transparent"
                        stroke-dasharray="0, 0, 0, 1000"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        transform="translate(-0.5, -0.5)" />
                </svg>
            </nav> 
        </div>

        <article class="contents-e">
            <section id="experiments-tmsd">
                <h2>Toehold Strand Displacement (TMSD)</h2>
                <p>We planned to use TMSD to provide our sensor with on-demand modularity, allowing the various parts of the sensor to be bound and dissociated on demand. This was done by first modifying the TMSD reaction from literature to suit our sensor use and followed by a series of experiments to test the functionality of the modified strands.</p>
        
                <div class="results-sub" data-group="tmsd">
                    <div class="results-tabs" id="tmsd-tabs">
                        <!-- openTab(event, name of corresponding tab window id) -->
                        <button class="results-tab active" onclick="openTab(event, 'tab1', 'tmsd')" style="border-top-left-radius: 10px;">Sample Preparation</button>
                        <button class="results-tab" onclick="openTab(event, 'tab2', 'tmsd')">Non-SDS Native PAGE</button>
                        <button class="results-tab" onclick="openTab(event, 'tab3', 'tmsd')" style="border-top-right-radius: 10px;">Non-SDS Native PAGE Staining and Image Processing</button>
                    </div>
            
                    <div class="results-window">
                        <div id="tab1" class="tab-window active" style="border-top-left-radius: 10px;">
                            <p><strong>Objective: </strong>To prepare samples of 200uM stock of TMSD oligos and 20uM working solutions for TMSD for TMSD strand interactions on PAGE.</p>
                            <br>
                            <ol>
                                <li>
                                    <p>Prepare and resuspend samples to 200uM (keep all samples inside an ice bath) as follows:</p>
                                    <table>
                                        <tr>
                                            <th>Sample</th>
                                            <th>Label</th>
                                            <th>nmoles</th>
                                            <th>Mass (mg)</th>
                                            <th>Volume (uL) to resuspend in:</th>
                                        </tr>
                                        <tr>
                                            <td>TMSDTAR</td>
                                            <td>TMSDTAR</td>
                                            <td>28.7</td>
                                            <td>0.35</td>
                                            <td>143.3</td>
                                        </tr>
                                        <tr>
                                            <td>TMSDKEY</td>
                                            <td>KEY</td>
                                            <td>85.1</td>
                                            <td>1.30</td>
                                            <td>426.5</td>
                                        </tr>
                                        <tr>
                                            <td>TMSDNAN</td>
                                            <td>NAN</td>
                                            <td>29.5</td>
                                            <td>0.30</td>
                                            <td>513.3</td>
                                        </tr>
                                    </table>
                                    <ol type="a">
                                        <li>Centrifuge at 10000 for 30 seconds or 3000 x g</li>
                                        <li>Add deionized water</li>
                                        <li>Vortex and centrifuge</li>
                                    </ol>
                                </li>
                                <li>Prepare 20uM of 100 uL sample working stocks</li>
                                <li>Store all Oligo stocks in the -20C fridge</li>
                            </ol>
                        </div>
            
                        <div id="tab2" class="tab-window">
                            <p><strong>Objective: </strong>Visualizing the modified TMSD strands with the original TMSD strands to confirm functionality using PAGE.</p>
                            <br>
        
                            <ol>
                                <li>Prepare 1xTBE running buffer</li>
                                <li>Prepare samples for experiment 1 and experiment and incubate them for 30 minutes at 25 C.</li>
                                <li>Prepare the ladder by thawing and centrifuge briefly before loading.</li>
                                <li>Prepare PAGE apparatus and check for leakage
                                    <ol type="a">
                                        <li>Clean plates and spacers with deionized water, ethanol, dry, and assemble the apparatus</li>
                                        <li>Assemble 2 Hoeffer minigels of 1mm thickness</li>
                                        <li>Add DEPC-water and check for leakage (leave the set up for 20 minutes)
                                            <ol type="i">
                                                <li>If no leakage is observed then drain the water in the sink and use a folded paper towel to dry the casting apparatus as much as possible making sure not to move the glass plates in the process.</li>
                                            </ol>
                                        </li>
                                        <li>Prepare a 15% gel solution of 12mL according to Table 1 for 1 running gel and Table 2 for 2 running gels.
        
                                            <table>
                                                <caption><strong>Table 2.</strong> PAGE% preparation for 16mL</caption>
                                                <tr>
                                                    <th>%</th>
                                                    <th>30% Acrylamide/Bisacrylamide (29:1) (mL)</th>
                                                    <th>H20 (Milli-Q or DEPC-treated) (mL)</th>
                                                    <th>5X TBE (mL)</th>
                                                    <th>10%APS (uL)</th>
                                                </tr>
                                                <tr>
                                                    <td>15</td>
                                                    <td>8</td>
                                                    <td>5.4</td>
                                                    <td>2.4</td>
                                                    <td>200</td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>Add SYBRSafe according to gel preparation volume
                                            <ol type="i">
                                                <li>1.2 uL for 12mL of gel preparation or;</li>
                                                <li>1.6 uL for 16mL of gel preparation</li>
                                            </ol>
                                        </li>
                                        <li>Vortex the solution </li>
                                        <li>Add 10uL of TEMED
                                            <ol type="i">
                                                <li>Do this in a fume hood as TEMED is toxic</li>
                                            </ol>
                                        </li>
                                        <li>Immediately vortex for 2 seconds and pour the gel into the casting apparatus
                                            <ol type="i">
                                                <li>Make sure to cast two gels to complete the circuit for PAGE</li>
                                                <li>You cannot perform PAGE with only one casted gel </li>
                                            </ol>
                                        </li>
                                        <li>Insert a comb and let the gel polymerize for 20-30 minutes
                                            <ol type="i">
                                                <li>A good way to estimate polymerization is to see whether the left over gel in the gel preparation centrifuge tube has solidified or not.</li>
                                                <li>The polymerized gel can be placed in 1X TBE and stored in 4C for overnight storage</li>
                                            </ol>
                                        </li>
                                        <li>Remove the comb and set the running PAGE apparatus by adding the gel (with both glass slides) to the electrophoresis tank. Cover the gels with 1X TBE buffer </li>
                                        <li>Prepare samples according to the experiment being performed.Incubate each sample for 30 minutes at 25C. Do not incubate the samples with the DNA ladder.
                                            <ol type="i">
                                                <li>For experiment 1 (seeing whether the reaction from literature works or not) prepare samples according to Table 3.</li>
                                                <li>For experiment 2 (seeing whether the reaction works when the nanopore strand of TMSD is modified) prepare samples according to Table 4.</li>
                                                <li>For experiment 3 (seeing whether the reaction works when the target strand of TMSD is modified) prepare samples according to Table 5. </li>
                                                <li>For experiment 4 (seeing whether the reaction works when the nanopore strand and aptazyme strands of TMSD are modified) prepare samples according to Table 6
                                                    <table>
                                                        <caption><strong>Table 3. </strong>TMSD Experiment 1 (original reaction)</caption>
                                                        <tr>
                                                            <th>Tubes</th>
                                                            <th>Content</th>
                                                            <th>Amount (uL)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>TMSDNAN</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>TMSDTAR</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>TMSDKEY</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>TMSDNAN + TMSDTAR</td>
                                                            <td>5, 5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>TMSDNAN + TMSDTAR + TMSDKEY</td>
                                                            <td>3.33, 3.33, 3.33</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>TMSDNAN + TMSDKEY</td>
                                                            <td>5, 5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>TMSDTAR + TMSDKEY</td>
                                                            <td>5, 5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>8</td>
                                                            <td>LADDER</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>9</td>
                                                            <td>LADDER</td>
                                                            <td>20</td>
                                                        </tr>
                                                    </table>
                                                    <br>
                                                    <table>
                                                        <caption><strong>Table 4. </strong>TMSD Experiment 2 (modified nanopore strand)</caption>
                                                        <tr>
                                                            <th>Tubes</th>
                                                            <th>Content</th>
                                                            <th>Amount (uL)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>TMSDNAN</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>TMSDNANL</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>TMSDTAR</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>TMSDKEY</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>TMSDTAR + TMSDNAN</td>
                                                            <td>5, 5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>TMSDTAR + TMSDNANL</td>
                                                            <td>5, 5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>LADDER</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>8</td>
                                                            <td>TMSDTAR+ TMSDNANL + TMSDKEY</td>
                                                            <td>3.33, 3.33, 3.33</td>
                                                        </tr>
                                                        <tr>
                                                            <td>9</td>
                                                            <td>TMSDNANL + TMSDKEY</td>
                                                            <td>5, 5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>10</td>
                                                            <td>LADDER</td>
                                                            <td>20</td>
                                                        </tr>
                                                    </table>
                                                    <br>
                                                    <table>
                                                        <caption><strong>Table 5. </strong>TMSD Experiment 3 (modified target strand)</caption>
                                                        <tr>
                                                            <th>Tubes</th>
                                                            <th>Content</th>
                                                            <th>Amount (uL)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>TMSDNAN</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>TMSDTAR</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>TMSDKEY</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>TMSDNAN + TMSDTAR</td>
                                                            <td>5, 5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>TMSDNAN + TMSDTAR + TMSDKEY</td>
                                                            <td>3.33, 3.33, 3.33</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>TMSDNAN + TMSDKEY</td>
                                                            <td>5, 5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>TMSDTAR + TMSDKEY</td>
                                                            <td>5, 5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>8</td>
                                                            <td>LADDER</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>9</td>
                                                            <td>LADDER</td>
                                                            <td>20</td>
                                                        </tr>
                                                    </table>
                                                    <br>
                                                    <table>
                                                        <caption><strong>Table 6. </strong>TMSD Experiment 4 (modified nanopore and target strands)</caption>
                                                        <tr>
                                                            <th>Tubes</th>
                                                            <th>Content</th>
                                                            <th>Amount (uL)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>TMSDNAN</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>TMSDTAR</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>TMSDKEY</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>TMSDNAN + TMSDTAR</td>
                                                            <td>5, 5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>TMSDNAN + TMSDTAR + TMSDKEY</td>
                                                            <td>3.33, 3.33, 3.33</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>TMSDNAN + TMSDKEY</td>
                                                            <td>5, 5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>TMSDTAR + TMSDKEY</td>
                                                            <td>5, 5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>8</td>
                                                            <td>LADDER</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>9</td>
                                                            <td>LADDER</td>
                                                            <td>20</td>
                                                        </tr>
                                                    </table>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>Add 2uL of loading dye to each sample and briefly centrifuge the samples down before loading 12uL of each sample into the wells.</li>
                                        <li>Run gel at 1V/cm - 8V/cm until the dye front has reached the end of the gel or washed past the gel length
                                            <ol type="i">
                                                <li>If no current is detected, run the gel at 120V</li>
                                                <li>Run at constant volts; do not change the other parameters</li>
                                            </ol>
                                        </li>
                                        <li>Turn the apparatus off, discard the buffer in a bottle and image the gels</li>
                                        <li>If no bands are visible then perform post-run staining either with SYBRSafe or with Ethidium Bromide</li>
                                    </ol>
                                </li>
                                <li>Resuspend gels in 50mL of 1X TBE and store overnight at 4C</li>
                            </ol>
                        </div>
            
                        <div id="tab3" class="tab-window">
                            <p><strong>Objective: </strong>To visualize the ethidium bromide stained TMSD experiment PAGE gels.</p>
                            <br>
                            <ol>
                                <li>Add 2.5uL of EtBr in 50mL of the 1X TBE buffer that the gels are soaked in.
                                    <ol type="a">
                                        <li>Dispose of gloves that have come into EtBr in an EtBr-specific waste container in the fume hood </li>
                                        <li>Keep all pipettes and pipette tips outside of the fume hood</li>
                                    </ol>
                                </li>
                                <li>Cover the gel box with aluminum foil and avoid exposing the box to direct light </li>
                                <li>Transfer gels to a rocking platform and agitate them for 30 minutes at room temperature</li>
                                <li>Image the gel using a transilluminator</li>
                                <li>If there is high background observed, destain the gel in deionized water for 5-15 minutes to remove excess dye</li>
                                <li>Post-stain image processing
                                    <ol type="a">
                                        <li>Open the gel image in ImageJ. Click on image on the top panel> color > split channels. Three windows should appear. Select the window with the green for the best results. </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
            
                        <div id="tab4" class="tab-window" style="border-top-right-radius: 10px;">
            
                        </div>
                    </div>
                </div>
            </section>
        
            <section id="experiments-aptazyme">
                <h2>Aptazyme</h2>
                <p>The aptazyme serves as the gate of the nanopore and detecting mechanism of the sensor design. The first task with aptazyme experiments was to synthesize it from the DNA template strand.  The goal with aptazyme experimentation was to first and foremost show that aptazyme performs a cleavage reaction in the presence of theophylline target. Secondly, ideal cleavage conditions would be important to explore as well as specificity of the aptazymes. These factors would influence the function of the overall biosensor design.</p>

                <div class="results-sub" data-group="aptazyme">
                    <div class="results-tabs" id="aptazyme-tabs">
                        <button class="results-tab active" onclick="openTab(event, 'apt-tab1', 'aptazyme')" style="border-top-left-radius: 10px;">Polymerase chain reaction (PCR)</button>
                        <button class="results-tab" onclick="openTab(event, 'apt-tab2', 'aptazyme')">Agarose gel electrophoresis</button>
                        <button class="results-tab" onclick="openTab(event, 'apt-tab3', 'aptazyme')">In-vitro transcription</button>
                        <button class="results-tab" onclick="openTab(event, 'apt-tab4', 'aptazyme')">Denaturing urea-PAGE</button>
                        <button class="results-tab" onclick="openTab(event, 'apt-tab5', 'aptazyme')" style="border-top-right-radius: 10px;">Activity Assay</button>
                    </div>

                    <div class="results-window">
                        <div id="apt-tab1" class="tab-window active">
                            <p><strong>Objective: </strong>To amplify DNA constructs from a template.</p>
                            <ol>
                                <li>Thaw components of PCR MasterMix, briefly centrifuge to collect at the bottom.</li>
                                <li>Set up a PCR Master mix in a 1.8mL microcentrifuge tube on, mix by pipetting up and down, spin down to combine everything:
                                    <ol type="a">
                                        <li>
                                            <table>
                                                <tr>
                                                    <th>Component</th>
                                                    <th>25-µL rxn</th>
                                                    <th>Custom</th>
                                                    <th>Final Concentration</th>
                                                </tr>
                                                <tr>
                                                    <td>DEPC Water</td>
                                                    <td>To 25µL</td>
                                                    <td>To XµL</td>
                                                    <td>---</td>
                                                </tr>
                                                <tr>
                                                    <td>PCR SuperMix</td>
                                                    <td>22.5µL</td>
                                                    <td>90% v/v</td>
                                                    <td>1X</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">Prepare primers as part of the mastermix only if applicable. Otherwise keep them separated in the PCR tubes</td>
                                                </tr>
                                                <tr>
                                                    <td>10µM Fwd primer</td>
                                                    <td>0.5µL</td>
                                                    <td>2% v/v</td>
                                                    <td>0.2µM</td>
                                                </tr>
                                                <tr>
                                                    <td>10µM Rev Primer</td>
                                                    <td>0.5µL</td>
                                                    <td>2% v/v</td>
                                                    <td>0.2µM</td>
                                                </tr>
                                                <tr>
                                                    <td>DNA Template</td>
                                                    <td>varies</td>
                                                    <td>varies</td>
                                                    <td>&lt; 500ng</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">ADD TEMPLATE LAST (step 7)</td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>The total volume of primers and templates should be 0.5-20µL.
                                            <ol type="i">
                                                <li>Use the desired amount from the 50µL PCR stock solution.</li>
                                            </ol>
                                        </li>
                                        <li>If the final Mg concentration is adjusted to 1.5mM, the volume of primer and template solution that you can add to 45µL of SuperMix can be more than 50µL.</li>
                                        <li>Prepare this MasterMix with the tubes on ice.</li>
                                    </ol>
                                </li>
                                <li>Label PCR tubes, determine the components that will go in each.</li>
                                <li>Place a 96-well plate into an ice bucket, place PCR tubes inside.</li>
                                <li>Pipette Master Mix into PCR tubes except for negative control.</li>
                                <li>Set up negative control in a separate PCR tube:
                                    <ol type="a">
                                        <li>Add all the same reagents as Master Mix except for the template DNA</li>
                                        <li>Increase the volume of water added to account for the missing template DNA</li>
                                    </ol>
                                </li>
                                <li>Add Template DNA as determined by the table above. Spin down briefly to combine.</li>
                                <li>Cap PCR tubes and place onto thermal cycler
                                    <ol type="a">
                                        <li>Thermal cycler settings:
                                            <ol type="i">
                                                <li>Initial denaturation: 94C, 2 min</li>
                                                <li>25-35 PCR cycles:
                                                    <ol>
                                                        <li>Denature: 94C, 15s</li>
                                                        <li>Anneal: 62C (based primer Tm and template Tm), 30s</li>
                                                        <li>Extend: 72C, 1 min/kb</li>
                                                    </ol>
                                                </li>
                                                <li>Hold: 4C, indefinite</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>When the program is run, store PCR tubes at 4°C for a few days or -20°C for several months.</li>
                                <li>Use 10µL of PCR product for gel electrophoresis</li>
                            </ol>
                        </div>

                        <div id="apt-tab2" class="tab-window">
                            <p><strong>Objective: </strong>Agarose gel electrophoresis is one of the most common ways to analyze oligonucleotide sequences based on size, used to check PCR products.</p><br>

                            <p><u>Preparation of the gel</u></p>
                            <ol>
                                <li>Weigh out a 2% agarose gel in an erlenmeyer flask.
                                    <ol type="a">
                                        <li>3 grams of agarose for a 150mL gel.</li>
                                    </ol>
                                </li>
                                <li>Add the correct volume of running buffer to the agarose-containing flask. Swirl to mix.
                                    <ol type="a">
                                        <li>(1X) TBE or TAE buffer
                                            <ol type="i">
                                                <li>Use milli-q water to dilute</li>
                                            </ol>
                                        </li>
                                        <li>150mL</li>
                                    </ol>
                                </li>
                                <li>Melt the agarose/buffer mixture in a microwave, at 30 s intervals, remove the flask and swirl the contents to mix well. Repeat until the agarose has completely dissolved.</li>
                                <li>Wait until the flask is cooled  down enough to touch the skin, Add 15µL of SYBR Safe dye.</li>
                                <li>Clean and place the gel tray into the casting apparatus. Place an appropriate comb into the gel mold to create the wells.</li>
                                <li>Pour the molten agarose into the gel mold. Allow the agarose to set at room temperature.</li>
                                <li>Remove the comb and place the gel in the gel tank.
                                    <ol type="a">
                                        <li>Place in a tank with the direction of DNA running from negative to positive.</li>
                                    </ol>
                                </li>
                            </ol>
                            <br>
                            <p><u>Sample preparation and running gel</u></p>
                            <ol>
                                <li>Add loading dye to the DNA samples to be separated. Use about 10µL of DNA products.
                                    <ol type="a">
                                        <li>Gel loading dye is typically made at 6X concentration</li>
                                        <li>2uL of loading dye to 10uL of sample</li>
                                    </ol>
                                </li>
                                <li>Program the power supply to 120V
                                    <ol type="a">
                                        <li>(Could change to somewhere between 1-5V/cm between electrodes).</li>
                                    </ol>
                                </li>
                                <li>Add enough running buffer to cover the surface of the gel.
                                    <ol type="a">
                                        <li>Same running buffer as the one used to make the gel, approx 700ml</li>
                                    </ol>
                                </li>
                                <li>Attach the leads of the gel box to the power supply. Ensure everything is running properly.</li>
                                <li>Remove the lid. Carefully load the DNA sample(s) into the gel.
                                    <ol type="a">
                                        <li>Including an appropriate DNA size marker should always be loaded along with experimental samples. 12uL is commonly used. Try to use the same volume as the sample youre loading.</li>
                                    </ol>
                                </li>
                                <li>Replace the lid to the gel box. Double check the leads are connected properly.</li>
                                <li>Turn on the power. Run the gel until the dye has migrated to an appropriate distance. This will take approximately 30 min
                                    <ol type="a">
                                        <li>At least over halfway, tweak time as needed.</li>
                                    </ol>
                                </li>
                            </ol>
                            <br>
                            <p><u>Observing results</u></p>
                            <ol>
                                <li>When the gel has run, turn off power and remove the gel from the tank, drain off excess buffer.</li>
                                <li>Place the gel tray on paper towels to absorb the extra buffer.</li>
                                <li>Use a UV transilluminator to look at the gel.</li>
                                <li>Image the gel using a gel documentation system (Gel Doc).</li>
                                <li>Dispose of gel and running buffer properly.</li>
                            </ol>
                        </div>

                        <div id="apt-tab3" class="tab-window">
                            <p><strong>Objective: </strong>Transcribe RNA sequences using RNA polymerase from a DNA template. Generates the RNA aptazyme from the template construct.</p><br>
                            <p><u>In vitro transcription</u></p>
                            <ol>
                                <li>Thaw all frozen reaction components, mix and briefly centrifuge to collect everything at the bottom.</li>
                                <li>Keep TranscriptAid Enzyme Mix and nucleotides <u>on ice</u></li>
                                <li>Keep 5X TranscriptAid Reaction buffer and DEPC-treated water at <u>room temp</u></li>
                                <li>Combine equal volumes of the four NTP solution in one tube</li>
                                <li>Combine the following reaction components at room temp in the given order:
                                    <ol type="a">
                                        <li>
                                            <table>
                                                <tr>
                                                    <th>Component</th>
                                                    <th>Amount</th>
                                                </tr>
                                                <tr>
                                                    <td>DEPC-treated water</td>
                                                    <td>To 20µL</td>
                                                </tr>
                                                <tr>
                                                    <td>5X TranscriptAid Reaction Buffer</td>
                                                    <td>4µL</td>
                                                </tr>
                                                <tr>
                                                    <td>ATP/CTP/GTP/UTP mix</td>
                                                    <td>8µL</td>
                                                </tr>
                                                <tr>
                                                    <td>Template DNA</td>
                                                    <td>1µg</td>
                                                </tr>
                                                <tr>
                                                    <td>TranscriptAid Enzyme Mix</td>
                                                    <td>2µL</td>
                                                </tr>
                                                <tr>
                                                    <td>Total volume</td>
                                                    <td>20µL</td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>Notes: Equal amounts of the four NTP solutions should be used.</li>
                                        <li>2-5µL of PCR mixture can be directly used in 20 µL of in vitro transcription reaction</li>
                                    </ol>
                                </li>
                                <li>Mix thoroughly by pipetting, spin to collect</li>
                                <li>Incubate at <u>37°C</u> for 2hrs.</li>
                                <li>Proceed to purification of RNA transcripts</li>
                            </ol>
                            <br>
                            <p><u>Control reaction</u></p>
                            <ol>
                                <li>Combine the following components at room temp in the given order:
                                    <table>
                                        <tr>
                                            <th>Component</th>
                                            <th>Amount</th>
                                        </tr>
                                        <tr>
                                            <td>DEPC-treated water</td>
                                            <td>4µL</td>
                                        </tr>
                                        <tr>
                                            <td>5X TranscriptAid Reaction Buffer</td>
                                            <td>4µL</td>
                                        </tr>
                                        <tr>
                                            <td>ATP/CTP/GTP/UTP mix</td>
                                            <td>8µL</td>
                                        </tr>
                                        <tr>
                                            <td>Control DNA (0.5µg/µL)</td>
                                            <td>2µL</td>
                                        </tr>
                                        <tr>
                                            <td>TranscriptAid Enzyme Mix</td>
                                            <td>2µL</td>
                                        </tr>
                                        <tr>
                                            <td>Total volume</td>
                                            <td>20µL</td>
                                        </tr>
                                    </table>
                                </li>
                                <li>Mix thoroughly by pipetting up and down, briefly spin to collect</li>
                                <li>Incubate at 37 C for 2hrs.</li>
                                <li>Proceed to purification of RNA transcripts.</li>
                            </ol>
                            <br>
                            <p><u>Removal of Template DNA after transcription</u></p>
                            <ol>
                                <li>Add 2U of DNase I, RNase-free per 1µg of template DNA directly to the transcription reaction mixture.
                                    <ol type="a">
                                        <li>The DNase I from the kit comes in a concentration of 1U/µL</li>
                                        <li>This amount can also be adjusted as seen with empirical results.</li>
                                    </ol>
                                </li>
                                <li>Incubate at 37°C for 15 min.</li>
                                <li>Inactivate DNase I by chloroform extraction
                                    <ol type="a">
                                        <li>or inactivate by adding 2µL of 0.5M EDTA, pH 8.0 and incubated at 65°C for 10 min</li>
                                    </ol>
                                </li>
                            </ol>
                            <br>
                            <p><u>Purification of RNA Transcripts</u></p>
                            <ol>
                                <li>Extract three times with an equal volume of chloroform.
                                    <ol type="a">
                                        <li>Use chemical grade, if issues arise try DEPC treating the chloroform.</li>
                                    </ol>
                                </li>
                                <li>Collect the aqueous phase and transfer to a new tube.</li>
                                <li>To XµL of reaction mixture, add 5.75XµL of DEPC-treated water and 0.75XµL of 3M sodium acetate solution (pH 5.2; provided). Mix by pipetting up and down.
                                    <ol type="a">
                                        <li>To 20µL of reaction mixture, add 115µL of DEPC-treated water and 15µL of 3M sodium acetate solution (pH 5.2; provided). Mix by pipetting up and down.</li>
                                    </ol>
                                </li>
                                <li>Precipitate RNA by adding 2 volumes of 96+% ethanol, incubate at -20C for at least 30 minutes</li>
                                <li>Centrifuge and carefully remove the supernatant, rinse the pellet with 500µL of cold 70% ethanol</li>
                                <li>Resuspend the RNA in 20µL of DEPC-water</li>
                                <li>Store the RNA at -20C short-term or -70C long-term</li>
                            </ol>
                            <br>
                            <p><u>Evaluation of transcripts</u></p>
                            <ul>
                                <li>Run a formaldehyde denaturing agarose gel to analyze transcripts</li>
                            </ul>
                        </div>

                        <div id="apt-tab4" class="tab-window">
                            <p><strong>Objective: </strong>A gel electrophoresis technique using polyacrylamide as the gel and urea to denature secondary oligonucleotide structures. Higher resolution technique than agarose gel electrophoresis.</p><br>
                            <p><u>Gel preparation</u></p>
                            <ol>
                                <li>Assemble gel apparatus
                                    <ol type="a">
                                        <li>Use 0.5-1.5mm spacers</li>
                                        <li>Check with water to ensure no leaks are occuring</li>
                                    </ol>
                                </li>
                                <li>Prepare the gel solution as follows:
                                    <ol type="a">
                                        <li>Use the following table to prepare the required gel. This procedure prepares 9mL of gel solution.</li>
                                        <li>30% APS (w/v) needs to be prepared beforehand if not available</li>
                                        <li>ADD TEMED LAST IN THE FUME HOOD</li>
                                        <li>Add urea to 30% Acrylamide, then add 10X TBE, and half the DEPC-treated water.
                                            <ol type="i">
                                                <li>Warm solution in the microwave for 20s or less, gel should be hand-warm
                                                    <ol>
                                                        <li>Repeat warming if using a larger gel</li>
                                                        <li>If urea is heated too much it will degrade and produce an ammonia odor</li>
                                                    </ol>
                                                </li>
                                                <li>This solution can be stored at 4C</li>
                                            </ol>
                                        </li>
                                        <li>Once dissolved, allow to cool to room temperature before add remaining DEPC-treated  H2O up to 9 mL (or whatever volume the gel is for)</li>
                                        <li>Add 30% APS and TEMED in the fume hood, gently mix
                                            <ol type="i">
                                                <li>If the gel is too warm it will polymerize too early</li>
                                            </ol>
                                        </li>
                                    </ol>
                                    <table>
                                        <tr>
                                            <th>Volume</th>
                                            <td>9mL</td>
                                            <td>10mL</td>
                                        </tr>
                                        <tr>
                                            <th>Concentration</th>
                                            <td>6%</td>
                                            <td>10%</td>
                                        </tr>
                                        <tr>
                                            <th>Urea g</th>
                                            <td>4.32g</td>
                                            <td>4.8g</td>
                                        </tr>
                                        <tr>
                                            <th>30% Acrylamide (29:1) mL</th>
                                            <td>1.8 mL</td>
                                            <td>2.5 mL</td>
                                        </tr>
                                        <tr>
                                            <th>10X TBE mL</th>
                                            <td>0.9 mL</td>
                                            <td>1 mL</td>
                                        </tr>
                                        <tr>
                                            <th>DEPC-water mL</th>
                                            <td>To 9 mL</td>
                                            <td>To 10mL</td>
                                        </tr>
                                        <tr>
                                            <th>30% APS uL</th>
                                            <td>29.7 uL</td>
                                            <td>3.33mL (or 2.5 mL of 40%)</td>
                                        </tr>
                                        <tr>
                                            <th>TEMED uL</th>
                                            <td>3.6 uL</td>
                                            <td>4 uL</td>
                                        </tr>
                                    </table>
                                </li>
                                <li>Use a serological pipette or similar to pour gel into the caster apparatus
                                    <ol type="a">
                                        <li>Some gel solution should be left over, let it sit to be able to tell when the gel is set</li>
                                    </ol>
                                </li>
                                <li>Immediately insert comb tilted at an angle (to minimize trapping air bubbles). Make sure you are wearing appropriate gloves. Lower completely.</li>
                                <li>Allow gel to polymerise for >15 mins.
                                    <ol type="a">
                                        <li>Check the small amount of gel solution that remains to see if gel is set.</li>
                                        <li>Gels can be stored at 4˚C wrapped in plastic (use within 3-5 days).</li>
                                    </ol>
                                </li>
                                <li>After the gel is set, dismount the gel from the caster.</li>
                                <li>Place gel in buffer chamber</li>
                            </ol>
                            <br>
                            <p><u>Sample Preparation</u></p>
                            <ol>
                                <li>About 10uL of sample should be loaded into the well
                                    <ol type="a">
                                        <li>If running ssRNA, add loading dye and incubate for 10 min at 70°C.</li>
                                    </ol>
                                </li>
                                <li>Run gel at desired settings, 120V for ~1hr.</li>
                            </ol>
                        </div>

                        <div id="apt-tab5" class="tab-window">
                            <p><strong>Objective: </strong>Observe the self-cleavage reaction of the aptazymes by incubating the sample with target, change in molecular weight visualized on a urea-PAGE gel used to determine cleavage.</p><br>
                            <p><u>10X MOPS running buffer preparation</u></p>
                            <ol>
                                <li>Prepare 10x MOPS running buffer (if 10mL isn’t readily available):
                                    <ol type="a">
                                        <li>Add 41.85 g 4-morpholino propanesulfonic acid (MOPS-free acid) and 6.80 g sodium acetate–3H2O to 800 mL DEPC-treated dH2O and stir until completely dissolved.</li>
                                        <li>Add 20 mL of a DEPC-treated 0.5 M Na2EDTA solution and adjust pH to 7.0 with 10 M sodium hydroxide or glacial acetic acid</li>
                                        <li>Adjust volume to 1 L with DEPC-treated dH<sub>2</sub>O</li>
                                    </ol>
                                </li>
                                <li>If MOPS 10x is not available, TBE buffer can also substitute.</li>
                            </ol>
                            <br>
                            <p><u>Aptazyme Activity Assay: Modified Target Concentrations</u></p>
                            <ol>
                                <li>Moles of aptazyme in each tube is approximately 21.08 pmoles.</li>
                                <li>Aptzyme and target were diluted in 50mM Tris-HCl (pH 8.0)</li>
                            </ol>
                            <table style="line-height: 1.1; text-align: center;">
                                <tr>
                                    <td>Tube</td>
                                    <td>Ratio<br>(AP:Tar)</td>
                                    <td>Aptazyme<br>(ng/uL)</td>
                                    <td>Aptazyme<br>(pmoles)</td>
                                    <td>Aptazyme<br>(uM)</td>
                                    <td>Volume of aptazyme solution<br>(uL)</td>
                                    <td style="background-color: var(--1);">Target<br>(uM)</td>
                                    <td>Volume of target solution</td>
                                    <td>50mM Tris-HCl pH 8.0</td>
                                    <td>Total Vol.<br>(uL)</td>
                                </tr>
                                <tr>
                                    <td>Negative control</td>
                                    <td>1:0</td>
                                    <td>50</td>
                                    <td>~21.08</td>
                                    <td>~2.108</td>
                                    <td>10</td>
                                    <td style="background-color: var(--1);">0</td>
                                    <td>0</td>
                                    <td>10</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>Activity test</td>
                                    <td>1:1</td>
                                    <td>50</td>
                                    <td>~21.08</td>
                                    <td>~2.108</td>
                                    <td>10</td>
                                    <td style="background-color: var(--1);">2.108</td>
                                    <td>10</td>
                                    <td>0</td>
                                    <td>20</td>
                                </tr>
                            </table>
                            <ol>
                                <li>First, prepare PCR tubes of target concentrations without adding aptazyme samples using the following table above:
                                    <ol type="a">
                                        <li>There should be negative controls for each activity sample</li>
                                    </ol>
                                </li>
                                <li>Add the correctly diluted Aptazyme solutions.
                                    <ol type="a">
                                        <li>Do this on ice.</li>
                                    </ol>
                                </li>
                                <li>Incubate PCR tubes of aptazyme for 30 minutes at 37°C
                                    <ol type="a">
                                        <li>Will only use AP samples for now</li>
                                    </ol>
                                </li>
                                <li>Take 5 uL aliquot from the PCR tubes for gel, quench immediately with the same volume of 2X RNA Loading dye.
                                    <ol type="a">
                                        <li>Also prepare Low Range Riboruler RNA ladder similarly</li>
                                    </ol>
                                </li>
                                <li>IMMEDIATELY place the rest of the solution on ice or freeze to save
                                    <ol type="a">
                                        <li>Avoid cooling this solution to prevent annealing</li>
                                    </ol>
                                </li>
                                <li>Incubate all samples at 70°C for 10 min.
                                    <ol type="a">
                                        <li>Place on ice for a few minutes after</li>
                                    </ol>
                                </li>
                                <li>Run samples on a gel</li>
                            </ol>
                            <br>
                            <p><u>2.5 % Agarose/Formaldehyde/TBE Gel Electrophoresis</u></p>
                            <ol>
                                <li>Rinse gel box, combs, and caster with millipure water and ensure all salt deposits are removed prior to undergoing electrophoresis</li>
                                <li>Air dry the components</li>
                                <li>Wipe components with RNase-eliminating solvent (RNase Zap).</li>
                                <li>Melt agarose for a gel:
                                    <ol type="a">
                                        <li>Melt 0.8 grams of RNase-free agarose in 28 mL of RNase-free ddH2O n a 250 mL erlenmeyer flask</li>
                                    </ol>
                                </li>
                                <li>Cool down to 60°C, or just until you can hold the flask to bare skin.
                                    <ol type="a">
                                        <li>In a fumehood, add 8 mL of 37% formaldehyde and 4 mL of 10X (MOPS or TBE) buffer to the agarose solution</li>
                                        <li>Add 4uL SYBR Safe dye</li>
                                    </ol>
                                </li>
                                <li>Cast the gel in the fumehood by placing the gel comb in the gel caster and pouring the melted agarose/formaldehyde/buffer solution in the gel caster.
                                    <ol type="a">
                                        <li>Cover and allow the gel to cool and polymerize.</li>
                                    </ol>
                                </li>
                                <li>Heat the samples to be loaded to 70°C for 10 minutes</li>
                                <li>Load each of each sample into each well of the gel</li>
                                <li>Run the gel in 1x TBE buffer for approximately 12 minutes at 0.10 A (constant)
                                    <ol type="a">
                                        <li>Voltage should be set to 50V</li>
                                        <li>Recirculate the running buffer while the gel runs if possible, otherwise stop the gel halfway and mix manually by pipetting the buffer from one side to the other.</li>
                                    </ol>
                                </li>
                                <li>Photograph the gel using a gel doc system
                                    <ol type="a">
                                        <li>Destain more if necessary.</li>
                                        <li>Get densitometry analysis image, in TIFF file format</li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
        
            <section id="experiments-nanopore">
                <h2>Nanopore</h2>
                <p>The objective of the protocol is to fold the nanopore with varying magnesium chloride concentrations. Afterwards, we confirm proper assembly by performing agarose gel electrophoresis on a daily basis. Then we purify and then quantify the final concentration of the folded nanopore to ensure that it is ready to be inserted into the sensor component and to be tested for dye flux. </p>
                
            </section>
        
            <section id="experiments-liposome">
                <h2>Liposome</h2>
                <p>In order to create a housing construct for our fluorescence dye and allow for nanopore insertion, we decided to create DOPC:DOPE liposomes of about 150 nm in diameter. </p>
        
                <div class="results-sub" data-group="liposome">
                    <div class="results-tabs" id="liposome-tabs">
                        <!-- openTab(event, name of corresponding tab window id) -->
                        <button class="results-tab active" onclick="openTab(event, 'tab5', 'liposome')" style="border-top-left-radius: 10px;">Lipid Film</button>
                        <button class="results-tab" onclick="openTab(event, 'tab6', 'liposome')">Synthesis, Extrusion and Purification</button>
                        <button class="results-tab" onclick="openTab(event, 'tab7', 'liposome')" style="border-top-right-radius: 10px;">Size Characterization and Lamellarity</button>
                    </div>
            
                    <div class="results-window">
                        <div id="tab5" class="tab-window active">
                            <p><strong>Objective: </strong>To create liposomes we first need to generate a lipid film at the proper ratio</p>
                            <ol>
                                <li>Place tin foil on Sartorius Microbalance MC 5 analytical scale, and weigh by difference approximately 1 mg of lipid (or less)</li>
                                <li>Transfer the lipids to the clean vial, attempting to deposit as much lipid as possible towards the bottom of the vial</li>
                                <li>Reweigh the tin foil to determine the amount of lipid deposited into the vial</li>
                                <li>Dissolve the lipids in chloroform to approximately 1 mg/mL of buffer</li>
                                <li>Briefly Sonicate to ensure dissolution of lipids (30-60 seconds)</li>
                                <li>Evaporate solvent in the fume hood, by using a steady and smooth stream of argon gas – Be sure to avoid too much force as this will cause solution to spill and continue this process until there is little to no solvent remaining
                                    <ol type="a">
                                        <li>There should be a noticeable formation of lipid film after evaporation</li>
                                    </ol>
                                </li>
                                <li>Place the vial in the vacuum overnight at ~20 inHg to ensure complete evaporation of the organic solvent</li>
                            </ol>
                        </div>
            
                        <div id="tab6" class="tab-window">
                            <p><strong>Objective: </strong>To synthesize 150 nm liposomes that encapsulate SRB and purify the liposomes. </p>
                            <ol>
                                <li>Clean the mini extruder parts with a 4 solvent wash. Let everything dry. </li>
                                <li>Assemble the extruder as shown: <a href="https://www.youtube.com/watch?v=D-rxpnyR2T8" target="_blank">https://www.youtube.com/watch?v=D-rxpnyR2T8</a></li>
                                <li>Take dried lipid films and resuspend vial 1 with 1 mL of buffer and vial 2 with 1 mL of  buffer+50mM sulforhodamine B </li>
                                <li>Vortex and sonicate the vials briefly </li>
                                <li>Run each sample through 5 freeze-thaw cycles starting from sonicating for 30 seconds by half submerging the samples in a bath sonicator. Freeze the samples by placing them for 5 minutes in -80c freezer followed by thawing the vials on a hotplate set at 30-40C. </li>
                                <li>Prep the mini extruder by extruding the buffer from the right syringe to the left one.</li>
                                <li>Empty both syringes and load non encapsulated lipids on the right syringe. Extrude 21 to 25 times. Collect extruded liposome fractions in the right syringe.</li>
                                <li>Purify vesicle solution using standard desalting columns</li>
                            </ol>
                        </div>
        
            
                        <div id="tab7" class="tab-window" style="border-top-right-radius: 10px;">
                            <p><strong>Objective: </strong>To ensure that the liposomes are formed uniformly and have a diameter that ranges between 100 nm to 150 nm as determined by the mean size and a polydispersity of &lt;0.30 </p> <br>
                            <p>To perform dynamic light scattering to ensure the desired liposomes are 150nm as determined by the mean diameter value and are uniform by the polydisperrsity value. </p>
                            <ol>
                                <li>Dilute 100uL of purified liposomes by adding 900uL of buffer. </li>
                                <li>Run DLS analysis thrice for each sample and generate the report note average size and polydispersity. </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
        
            <section id="experiments-dyeflux">
                <h2>Dye Flux</h2>
                <p>We used a plate reader to determine the ideal fluorescence wavelength range to detect SRB, gather high throughput data on the change in fluorescence once the nanopore inserts, and confirm SRB encapsulation by liposomes. This allowed us to confirm whether our liposomes performed as expected while informing us of any nanopore insertion events with fluorescence as an output. </p>
        
                <div class="results-sub" data-group="dyeflux">
                    <div class="results-tabs" id="dyeflux-tabs">
                        <!-- openTab(event, name of corresponding tab window id) -->
                        <button class="results-tab active" onclick="openTab(event, 'df-tab1', 'dyeflux')" style="border-top-left-radius: 10px;">SRB Gradient Sample Preparation and Plate Reader Reading</button>
                        <button class="results-tab" onclick="openTab(event, 'df-tab2', 'dyeflux')" style="border-top-right-radius: 10px;">Nanopore Insertion Testing Sample Preparation and Plate Reader Reading</button>
                    </div>
            
                    <div class="results-window">
                        <div id="df-tab1" class="tab-window active" style="border-top-left-radius: 10px;">
                            <p><strong>Objective:</strong> To set up a 96 well plate to determine ideal wavelengths for SRB. determine nanopore insertion events through a 30 minute kinetic run. </p>
                            <ol>
                                <li>Prepare a buffer solution with 1X TAE, 0.5M NaCl, and 16 mM MgCl2</li>
                                <li>Prepare a 100mM SRB stock</li>
                                <li>
                                    Prepare an SRB gradient plate as shown below: 
                                    <ul style="list-style-type: none;">
                                        <li>A1 → 100 uL Buffer Solution</li>
                                        <li>A2 → 0.01 mM: 1 μL 1 mM SRB and 99 μL Buffer Solution</li>
                                        <li>A3 → 0.02 mM: 2 μL 1 mM SRB and 98 μL Buffer Solution</li>
                                        <li>A4 → 0.05 mM: 5 μL 1 mM SRB and 95 μL Buffer Solution</li>
                                        <li>A5 → 0.1 mM: 10 μL 1 mM SRB and 90 μL Buffer Solution</li>
                                        <li>A6 → 0.5 mM: 50 μL 1 mM SRB and 50 uL Buffer Solution</li>
                                        <li>A7 → 1 mM: 100 μL 1 mM SRB</li>
                                        <li>A8 → 2 mM: 6.67 μL 30 mM SRB and 93.33 μL Buffer Solution</li>
                                        <li>A9 → 5 mM: 16.67 μL 30 mM SRB and 83.33 μL Buffer Solution</li>
                                        <li>A10 → 10 mM: 33.33 μL 30 mM SRB and 66.67 μL Buffer Solution</li>
                                        <li>A11 → 15 mM: 50 μL 30 mM SRB and 50 μL Buffer Solution</li>
                                        <li>A12 → 30 mM: 100 μL 30 mM SRB</li>
                                    </ul>
                                </li>
                                <li>On the plate reader, configure to the following specifications and press read:
                                    <ol type="a">
                                        <li>Read Mode: FL (fluorescence)</li>
                                        <li>Read Type: Spectrum</li>
                                        <li>Wavelengths: Excitation = 544 nm / Emission = 564 - 700 nm / Step = 9 nm</li>
                                        <li>Plate Type: 96 Well Standard clrbtm*</li>
                                        <li>Read Area: Highlight the follow wells that were populated in the 96 well plate</li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
            
                        <div id="df-tab2" class="tab-window" style="border-top-right-radius: 10px;">
                            <p><strong>Objective: </strong>To set up a 96 well plate to identify nanopore insertion events through a 30 minute kinetic run. </p>
                            <ol>
                                <li>Prepare a buffer solution with 1X TAE, 0.5M NaCl, and 16 mM MgCl2</li>
                                <li>Prepare a 100mM SRB stock</li>
                                <li>Prepare the samples to a total volume of 100uL on the plate as shown below: <br>(note: R6S1 indicates the first nanopore sample from the 6th folding run)
        
                                
                                    <table style="font-size: 12px; line-height: 1.2;">
                                        <tr>
                                            <th style="background-color: var(--1);">Buffer</th>
                                            <th style="background-color: var(--1);">Buffer</th>
                                            <th style="background-color: var(--1);">Blank</th>
                                            <th style="background-color: var(--2);">Liposome</th>
                                            <th style="background-color: var(--2);">Liposome</th>
                                            <th style="background-color: var(--2);">Liposome</th>
                                            <th style="background-color: var(--3);">R6S1 + Chol + 10mM SRB liposome</th>
                                            <th style="background-color: var(--3);">R6S1 + Chol + 10mM SRB liposome</th>
                                            <th style="background-color: var(--3);">R6S1 + Chol + 10mM SRB liposome</th>
                                            <th style="background-color: var(--4);">R6S2 + Chol + 10mM SRB liposome</th>
                                            <th style="background-color: var(--4);">R6S2 + Chol + 10mM SRB liposome</th>
                                            <th style="background-color: var(--4);">R6S2 + Chol + 10mM SRB liposome</th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--5);">10uM Cholesterol</th>
                                            <th style="background-color: var(--5);">10uM Cholesterol</th>
                                            <th style="background-color: var(--5);">10uM Cholesterol</th>
                                            <th style="background-color: var(--2);">Triton + Liposome</th>
                                            <th style="background-color: var(--2);">Triton + Liposome</th>
                                            <th style="background-color: var(--2);">Triton + Liposome</th>
                                            <th style="background-color: var(--3);">R6S1 + Chol + 10mM SRB liposome + Triton</th>
                                            <th style="background-color: var(--3);">R6S1 + Chol + 10mM SRB liposome + Triton</th>
                                            <th style="background-color: var(--3);">R6S1 + Chol + 10mM SRB liposome + Triton</th>
                                            <th style="background-color: var(--4);">R6S2 + Chol + 10mM SRB liposome + Triton</th>
                                            <th style="background-color: var(--4);">R6S2 + Chol + 10mM SRB liposome + Triton</th>
                                            <th style="background-color: var(--4);">R6S2 + Chol + 10mM SRB liposome + Triton</th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--6);">1% Triton</th>
                                            <th style="background-color: var(--6);">1% Triton</th>
                                            <th style="background-color: var(--6);">1% Triton</th>
                                            <th style="background-color: var(--2);">10mM SRB liposome</th>
                                            <th style="background-color: var(--2);">10mM SRB liposome</th>
                                            <th style="background-color: var(--2);">10mM SRB liposome</th>
                                            <th style="background-color: var(--7);">R6S3 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--7);">R6S3 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--7);">R6S3 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--8);">R6S4 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--8);">R6S4 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--8);">R6S4 + Chol +10mM SRB liposome</th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--4);">1uM SRB</th>
                                            <th style="background-color: var(--4);">1uM SRB</th>
                                            <th style="background-color: var(--4);">1uM SRB</th>
                                            <th style="background-color: var(--2);">Triton + 10mM SRB liposome</th>
                                            <th style="background-color: var(--2);">Triton + 10mM SRB liposome</th>
                                            <th style="background-color: var(--2);">Triton + 10mM SRB liposome</th>
                                            <th style="background-color: var(--7);">R6S3 + Chol +10mM SRB liposome + Triton</th>
                                            <th style="background-color: var(--7);">R6S3 + Chol +10mM SRB liposome + Triton</th>
                                            <th style="background-color: var(--7);">R6S3 + Chol +10mM SRB liposome + Triton</th>
                                            <th style="background-color: var(--8);">R6S4 + Chol +10mM SRB liposome +Triton</th>
                                            <th style="background-color: var(--8);">R6S4 + Chol +10mM SRB liposome +Triton</th>
                                            <th style="background-color: var(--8);">R6S4 + Chol +10mM SRB liposome +Triton</th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--4);">100uM SRB</th>
                                            <th style="background-color: var(--4);">100uM SRB</th>
                                            <th style="background-color: var(--4);">100uM SRB</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th style="background-color: var(--3);">R6S5 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--3);">R6S5 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--3);">R6S5 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--4);">R6S6 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--4);">R6S6 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--4);">R6S6 + Chol +10mM SRB liposome</th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--4);">500uM SRB</th>
                                            <th style="background-color: var(--4);">500uM SRB</th>
                                            <th style="background-color: var(--4);">500uM SRB</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th style="background-color: var(--3);">R6S5 + Chol +10mM SRB liposome +Triton</th>
                                            <th style="background-color: var(--3);">R6S5 + Chol +10mM SRB liposome +Triton</th>
                                            <th style="background-color: var(--3);">R6S5 + Chol +10mM SRB liposome +Triton</th>
                                            <th style="background-color: var(--4);">R6S6 + Chol +10mM SRB liposome +Triton</th>
                                            <th style="background-color: var(--4);">R6S6 + Chol +10mM SRB liposome +Triton</th>
                                            <th style="background-color: var(--4);">R6S6 + Chol +10mM SRB liposome +Triton</th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--4);">1mM SRB</th>
                                            <th style="background-color: var(--4);">1mM SRB</th>
                                            <th style="background-color: var(--4);">1mM SRB</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th style="background-color: var(--7);">R6S7 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--7);">R6S7 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--7);">R6S7 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--8);">R6S8 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--8);">R6S8 + Chol +10mM SRB liposome</th>
                                            <th style="background-color: var(--8);">R6S8 + Chol +10mM SRB liposome</th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: var(--4);">10mM SRB</th>
                                            <th style="background-color: var(--4);">10mM SRB</th>
                                            <th style="background-color: var(--4);">10mM SRB</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th style="background-color: var(--7);">R6S7 + Chol +10mM SRB liposome + Triton</th>
                                            <th style="background-color: var(--7);">R6S7 + Chol +10mM SRB liposome + Triton</th>
                                            <th style="background-color: var(--7);">R6S7 + Chol +10mM SRB liposome + Triton</th>
                                            <th style="background-color: var(--8);">R6S8 + Chol +10mM SRB liposome + Triton</th>
                                            <th style="background-color: var(--8);">R6S8 + Chol +10mM SRB liposome + Triton</th>
                                            <th style="background-color: var(--8);">R6S8 + Chol +10mM SRB liposome + Triton</th>
                                        </tr>
                                    </table>
                                </li>
        
                                <li>On the plate reader, press the “Settings” button on the Plate Reader Window and configure to the following specifications below and read the plate:
                                    <ol type="a">
                                        <li>Read Mode: FL (fluorescence)</li>
                                        <li>Read Type: Kinetic</li>
                                        <li>Read Length: 30 minutes</li>
                                        <li>Wavelengths:
                                            <ol type="i">
                                                <li>Excitation:559nm </li>
                                                <li>Emission: 579nm</li>
                                            </ol>
                                        </li>
                                        <li>Plate Type: 96 Well Standard clrbtm*</li>
                                    </ol>
                                </li>
                                <li>The plate reader should initialize before reading the signals from the samples. </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
        
        
            <section id="experiments-protocol">
                <h2>Protocols</h2>
                <div class="experiments-pdf">
                    <embed 
                        src="/Experiments.pdf"
                        type="application/pdf"
                        width="100%"
                        height="600px"
                    />
                </div>
            </section>
        </article>

    </div>
    
    

    
    <link rel="stylesheet" href="/sidenav-e.css">
    <script src="/results.js"></script>
    <script src="/sidenav-e.js"></script>
</main>