<main class="notebook-container">

    <!-- sticky_parent (horizontal scroll) -->
    <div class="timeline-container">
        <div class="timeline-scroll">
            <!-- 18 weeks in total -->
            <!-- format generated in notebook.js for each week.
                <timeline-item>
                    <timeline-week>
                    <timeline-blurb>
            -->
        </div>
    </div>



    <!-- vertical (daily) -->
    <div class="week-content-container">
        <div id="content-week1" class="week-content active-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week2" class="week-content">
            <p>week 2 waaaaaa</p>
        </div>

        <div id="content-week3" class="week-content">
            <p>week 3 waaaaaa</p>
        </div>

        <div id="content-week4" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week5" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week6" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week7" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week8" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week9" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week10" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week11" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week12" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week13" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week14" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week15" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week16" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week17" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>

        <div id="content-week18" class="week-content">
            <p>week 1 waaaaaa</p>
        </div>
    </div>

    <script src="/notebook.js"></script>
</main>
