
<header class="notebook-header">
    <div class="header-content">
        <h1>Notebook</h1>
        <div class="divider"></div>
    </div>
</header>

<main class="notebook-container">

    <!-- sticky_parent (horizontal scroll) -->
    <div class="timeline-container">
        <div class="timeline-scroll">
            <!-- 18 weeks in total -->
            <!-- <div id="week1" class="timeline-item active-week"> -->
        </div>
    </div>



    <!-- vertical (daily) -->
    <div class="week-content-container">
        <div id="content-week1" class="week-content active-content">
            <p>This was our first week in the lab; however, we mainly focused on dry lab tasks. We also prepared for the Tech Futures Challenge (TFC), which was an opportunity for us to practice presenting for BIOMOD and possibly win monetary prizes! Meagan, our Dry Lab lead, worked on simulation software like Maya, Cadnano, Chimera and OxDNA. Using Cadnano, she was able to make a 72hb nanopore!! We also looked into selecting the aptamer and the target, and a lot of literature review to verify our summer plans.</p>
        </div>

        <div id="content-week2" class="week-content">
            <p>This week, we discovered the student lounge in the building!! It includes little tables to eat, but more importantly, a pool table, a foosball table, and a ping-pong table! We also decided to start a Duolingo competition to see who could get the longest streak before we leave for Japan (learning Japanese, of course)! Whoever wins this competition will receive a tiramisu paid for by the other team members!
                <br><br></p>
                Our team largely applied to funding opportunities this week because flights to Japan are EXPENSIVE!! Meagan continued to look into more dry lab software, like UniFold, RNAComposer, Autodock, and with the help of Ziyad and Emma, OxDNA, and docking through HADDOCK. Meagan was able to use RNAComposer to get a pub file of our aptazyme!  We also started working on finalizing some of our protocols, specifically the GUV formation, gel, nanopore insertion, and dye flux assay protocol. Sana sent out our first materials list (with the lab discount because money is tight), so hopefully we can get into wet lab work soon!
                </p>

                <div id="news-container-week2"></div>

        </div>

        <div id="content-week3" class="week-content">
            <p>Ziyad began looking into using mutant T7 RNA enzyme for our project, but after a few meetings with our TAs, we were advised to take a different route with this. Sana, Amber, Meagan, Stavan, and Jez all worked on TMSD research - a big task! We were also able to finalize the rest of our protocols this week. Otherwise, this week is all about getting ourselves organized and moving forward with more literature review. </p>
        </div>

        <div id="content-week4" class="week-content">
            <p>This week, we worked on finishing our Tech Future Challenges (TFC) video and presentation, and applied for some grants. We were also developing our experimental plans and some protocols. Sana and Meagan were working hard sending out project updates. Towards the end of the week, we worked on our TFC trifold, made model DNA origami out of paper, and practiced for the TFC presentation! Our TFC pitch was on May 25 and we won the People’s Choice Award!
            <br>Jez unfortunately lost in foosball to Meagan twice, and the losing streak begins… </p>
        </div>

        <div id="content-week5" class="week-content">
            <p>This week was dedicated to optimizing our aptazyme sequence and protocols. Meagan worked on testing the aptazyme sequence and used AutoDock Vina for ligand docking, as well as testing the full aptazyme sequences with Chimera and PubChem ID. Jezrael continued with more literature review on RNA and DNA binding. At the same time, Sana completed a cost-benefit analysis for fluorescence mechanisms and reached out to experts for feedback on aptazyme synthesis. Amber, Stavan, and Jezrael made significant progress in adding SDS to various protocols, and Ziyad worked on primer designs​ and aptazyme protocols. Emma worked on the RNase protocol.  We also got a tour of the NANS lab - a new location for testing unlocked!</p>
        </div>

        <div id="content-week6" class="week-content">
            <p>We started cleaning the lab areas to RNAse-proof them! Jezrael and Amber completed our first experiment, creating DEPC-treated water! Then, Ziyad and Stavan worked on PCR preparation in the lab and readying the PCR machine, as well as starting our first PCR this week. Sana and Meagan had more meetings this week, and Meagan continued refining nanopore models and requested feedback on the structure. Jezrael focused on inventory and brainstorming backup protocols.</p>
             
        </div>

        <div id="content-week7" class="week-content">
            <p>This week, we worked on nanopore structures, running gels on PCR products, and preparing for transcription (as well as the Centrifuge Incident of June 13). Meagan was able to begin the first steps of the wiki this week! Meagan and Sana continued refining nanopore sequences and materials orders. At the same time, Amber and Stavan helped with gel electrophoresis and updating lab notebooks. Meanwhile, Ziyad focused on aptazyme PCR and in vitro transcription. Jezrael and Stavan worked on the Oligo data sheet to ensure we have proper dilutions!
            </p>
            <div id="news-container-week7"></div>
        </div>

        <div id="content-week8" class="week-content">
            <p>The focus shifted toward troubleshooting and running more gels for PCR products. Meagan and Jezrael worked on aptazyme stability using PAGE, while Amber and Stavan ran gels on PCR samples and prepared RNA samples with transcription. Sana was busy planning TMSD experiments and coordinating materials ​in addition to the meetings she and Meagan had to attend. Ziyad worked on aptazyme protocols and helped troubleshoot PCR gels. Jezrael won for the second and third time in foosball against Meagan! (the score is probably 3-20)</p>
        </div>

        <div id="content-week9" class="week-content">
            <p>This week was dedicated to vesicle purification and TMSD experiments, on top of more PCR production and purifications. Sana worked on preparing and confirming the experiment protocols. Meagan began modelling TEG-cholesterol bonds (Tetraethylene Glycol-Cholesterol bonds), while Amber focused on PCR and RNA purification and preparing formaldehyde gels. Stavan completed the transcription of PCR samples, and Ziyad finalized aptazyme protocols​. Jezrael also helped with RNA purification and the denaturing gel.</p>
        </div>

        <div id="content-week10" class="week-content">
            <p>This week, we focused on TMSD troubleshooting and creating more RNA through the PCR-gel-purificaition-transcription pipeline. Meagan worked on nanopore models, while the rest of the team helped with protocol finalizations and a review of the materials list for nanopore work. There was also some troubleshooting related to aptazyme protocols, and we conducted gel runs to analyze our PCR products.
            </p>
            <div id="news-container-week10"></div>
        </div>

        <div id="content-week11" class="week-content">
            <p>This week, the focus was on advancing the nanopore project and troubleshooting aptazyme activity. Meagan worked on finalizing the cholesterol attachment to nanopore models, using software like CHARMM-GUI and Chimera to test different bond parameters. Meanwhile, Sana coordinated the nanopore folding protocol with Nick and Pratik, ensuring that the calculations were optimized for upcoming experiments. The rest of the team helped with nanopore gel preparations and tested aptazyme stability assays. Amber worked on in vitro transcription (IVT) and helped prepare folding buffer solutions, while Stavan ensured that nanopore folding reactions ran smoothly in the thermal cycler. Ziyad focused on running aptazyme PCR protocols and refining RNA aliquot preparation.
            </p>
        </div>

        <div id="content-week12" class="week-content">
            <p>This week was productive as we began wet lab work at the NANS lab. Meagan and Sana took a tour of Dr. Prenner’s lab to begin vesicle preparation, marking a significant milestone in our nanopore project. In the meantime, Jezrael prepared lipid films for vesicle synthesis. The team also worked on annotating gel results from previous TMSD experiments, with Amber and Ziyad running PCR and RNA gels to analyze aptazyme activity. Stavan prepared gels for nanopore characterization and focused on cleaning the lab space for vesicle experiments. Overall, we progressed in synthesizing vesicles, purifying them, and characterizing the results.</p>
        </div>

        <div id="content-week13" class="week-content">
            <p>We focused on refining nanopore purification and characterization this week. Meagan created updated nanopore models with linkers and cholesterol attachments, working with CHARMM-GUI to get the final structures right. The team also prepared for TEM (Transmission Electron Microscopy) imaging by contacting Dr. Wang. Amber and Stavan focused on preparing more gels to run nanopore folding experiments, while Jezrael worked on cholesterol insertion into vesicles and planned gel assays to verify the binding. Sana coordinated the team’s progress, updating the nanopore protocol and ensuring all materials were ready for upcoming experiments.
            </p>
        </div>

        <div id="content-week14" class="week-content">
            <p>We shifted towards finalizing the dye flux assays this week, running vesicle purification and preparing new nanopore batches. Meagan worked on nanopore gel imaging and provided updates on materials orders for the upcoming month. Jezrael and Amber focused on analyzing gel results and troubleshooting vesicle binding using cholesterol insertions. Stavan worked on nanopore folding calculations and confirmed the concentrations needed for the next series of reactions. Sana updated the team's budget and timeline, ensuring we stayed on track.</p>
        </div>

        <div id="content-week15" class="week-content">
            <p>This week, the team made significant strides in nanopore purification and liposome synthesis. Meagan finalized the purification protocol while Amber worked on stage 2 of the dye flux assay. Stavan focused on nanopore folding experiments and running gels to assess the results. Jezrael completed RNA transcription and supported the rest of the team with gel electrophoresis preparations. We also prepped materials for the HBI symposium poster presentation, focusing on data analysis from our nanopore experiments.</p>
            <div id="news-container-week15"></div>
        </div>

        <div id="content-week16" class="week-content">
            <p>The team pushed forward with dye flux analysis and nanopore modelling. Meagan worked on refining nanopore structures using CHARMM-GUI and tested different folding methods. Sana updated the wet lab schedule and prepared for imaging experiments. Amber focused on creating BIOMOD video content and assisting Jezrael with dye flux experiments, ensuring the data was properly recorded and analyzed. Stavan handled additional nanopore purification work, ensuring we were ready for the next assays.</p>
            <div id="news-container-week16"></div>
        </div>

        <div id="content-week17" class="week-content">
            <p>We made significant progress on dye flux experiments this week. Meagan worked on refining nanopore protocols and calculations, while Amber and Ziyad focused on preparing aptazyme assays. Jezrael handled the final preparations for the HBI symposium, presenting the team’s poster on vesicle purification and nanopore assembly. Stavan completed gel shift assays to characterize nanopore folding and dye flux interactions further, and Sana worked on logistics for nanopore synthesis.</p>
        </div>

        <div id="content-week18" class="week-content">
            <p>This week's focus was completing stage 2 of the dye flux experiments and finalizing nanopore testing. Meagan and Amber worked on vesicle synthesis and purification, while Stavan helped with TMSD gel runs. The team analyzed the RNA aptazyme assays, which showed promising results for future nanopore integration. Jezrael and Ziyad helped with RNA purification and aptazyme modelling, and the wet lab schedule was updated to reflect our progress. <br>Meagan ran the final nanopore models, and the team worked on troubleshooting some PCR issues. Amber and Jezrael continued data analysis from previous experiments, while Stavan and Ziyad refined RNA aptazyme stability protocols. The team also completed SUPERwork funding letters (we need money to go to Japan).</p>
        </div>
    </div>

    <div id="notebookGrid" class="notebook-grid"></div>

<div id="pageModal" class="modal">
    <div class="modal-content">
        <span onclick="closePageModal()" class="close">&times;</span>
        <!-- Page content will be dynamically populated here -->
    </div>
</div>

<script src="/notebook.js"></script>
    
</main>

<main class="notebook-container">
    <!-- Folder Tabs for each month -->
    <div class="tabs-container">
        <div class="tab" onclick="showTab('June')" id="tab-June">June</div>
        <div class="tab" onclick="showTab('July')" id="tab-July">July</div>
        <div class="tab" onclick="showTab('August')" id="tab-August">August</div>
        <div class="tab" onclick="showTab('September')" id="tab-September">September</div>
    </div>

    <!-- Experiment Sections for each month -->
    <div id="content-June" class="tab-content"></div>
    <div id="content-July" class="tab-content"></div>
    <div id="content-August" class="tab-content"></div>
    <div id="content-September" class="tab-content"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const experiments = [
    { 
        date: "24/06/05", 
        month: "June", 
        type: "Reagents", 
        title: "Preparing DEPC-treated Water (Ultrapure) I", 
        details: `
            <strong>Partner(s):</strong> 
            Jezrael Carpio, Amber Quo 
            <br>
            <strong>Purpose/ Objective of the lab:</strong> 
            Make 500 mL of DEPC-treated water
            <br>
            <strong>Last Edited (yy/mm/dd):</strong><br>
            24/06/06 – Taken out of orbital shaker/stored 
            <br>
            24/06/10 – Sent to the Autoclave 
            <br>
            
            <strong>Materials:</strong>
            <ul>
                <li>0.5mL DEPC</li>
                <li>499.5 mL Milli-Q Water</li>
                <li>1 L glass contained with a lid</li>
                <li>Magnetic Stirring Apparatus/Orbital Shaker</li>
                <li>Autoclave</li>
            </ul>
            
            <strong>Procedure:</strong><br>
            <ol>
                <li>Add 0.1% (v/v) (500 uL) of DEPC to 499.5 mL of Milli-Q Water to a 1L glass container.
                    <ul>
                        <li>Shake to gently mix.
                            </li>
                        <li>Don’t mix with reagents with an amine group.
                            </li>
                    </ul>
                </li>
                <li>Shake for 1 hour to overnight on orbital shaker.
                    </li>
                    <ul>  
                        <li>Alternative Method: Mix with a magnetic stirrer for 30 minutes.
                            </li>
                    </ul>
                <li>Autoclave for 45 minutes at 15 PSI on liquid cycle.
                    </li>
                </ol>
        
            
            <strong>Notes/Observations:</strong>
            <ul>
                <li>DEPC was transparent blob near bottom of bottle
                    </li>
                <li>Magnetic stirrer was heavily cleansed with ethanol and Milli-Q Water before dropping in the DEPC-Water mixture
                    </li>
                <li>Magnetically stirred (VWR) from 1:50 PM-2:20 PM at Level 4-5
                    </li>
                <ul>
                <li>There were bubbles on the surface of the solution which went away after resting
                    </li>
                </ul>
                <li>Retrieved the magnetic stir bar with a magnetic stick and another magnetic stir bar
                    <ul>
                        <li>The magnetic stick did not make contact with the DEPC-Water
                            </li>
                        <li>The bottle was shaken by hand one more time
                            </li>
                    </ul>
                </li>
                <li>Brought to autoclave at 2:40 PM but were too late for the last cycle
                    </li>
                <li>Put in shaker overnight from June 5 2:54 PM at 150RPM and 37°C
                    </li>
                <li>RPM was changed to 220 at 4:15pm
                    </li>
                <li>Taken out of orbital shaker at 9 AM Jun 6 → No autoclave due to water shortage
                    </li>
                <li>Stored in Buffer Cabinet
                    </li>
                <li>At 24/06/10 9:09 AM, the 500 mL bottles with the DEPC-treated water was sent to the autoclave
                    </li>
            </ul>
             `
    },
    {
        date: "24/06/05",
        month: "June",
        type: "PCR",
        title: "Aptazyme PCR Prep",
        details: `
            <strong>Partner(s):</strong> Stavan Patel, Ziyad Syed <br>
            <strong>Purpose/ Objective of the lab:</strong> Prepare for PCR amplification<br>
            <strong>Last Edited (yy/mm/dd):</strong>  24/06/06 <br>
            
            <strong>Materials:</strong>
            <ul>
                <li>RNAse free water</li>
                <li>Pipette</li>
                <li>RNAse free pipette tips</li>
                <li>Ice tray</li>
                <li>Ice</li>
                <li>Bunsen burner</li>
            </ul>
            
            <strong>Procedure:</strong><br>
            <ol>
                <li>Thaw components of PCR MasterMix, briefly centrifuge to collect at the bottom.</li>
                <li>Set up a PCR Master mix in a 1.5mL microcentrifuge tube, mix by pipetting up and down, spin down to combine everything</li>
                <li>Label PCR tubes, determine the components that will go in each.</li>
                <li>Determine the volume of stock solution and the volume of water required to obtain the desired final concentration</li>
            </ol>
            
            <strong>Notes/Observations:</strong><br>
            <ul>
                <li>Notes about ordered oligos
                    <ul>
                        <li>Primers were suspended in 1mL of UltraPure water</li>
                        <li>ds DNA was resuspended in UltraPure water
                            <ul>
                                <li>Template DNA (5SeqT7Ap, 5SeqT7ApL, 5SeqT7ApTMSDTar) were diluted too low for nanodrop concentration</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            
            <strong>Table 1. DNA primer and their respective information</strong><br>
            <table>
                <tr>
                    <th>Primers</th>
                    <th>Tm (°C)</th>
                    <th>Size (nmol)</th>
                    <th>Mass (mg)</th>
                </tr>
                <tr>
                    <td>5seqT7ApFwd</td>
                    <td>62</td>
                    <td>104.1</td>
                    <td>0.76</td>
                </tr>
                <tr>
                    <td>5seqT7ApRev</td>
                    <td>59.2</td>
                    <td>68.4</td>
                    <td>0.53</td>
                </tr>
                <tr>
                    <td>5seqT7ApLRev</td>
                    <td>58.1</td>
                    <td>69.5</td>
                    <td>0.56</td>
                </tr>
                <tr>
                    <td>5seqT7ApTMSDTARRev</td>
                    <td>57.8</td>
                    <td>77</td>
                    <td>0.58</td>
                </tr>
            </table>
            
            <ul>
                <li>Volume used: 1mL </li>
                <li>Desired concentration: 10 μM</li>
            </ul>

            <strong>Table 2. Preliminary volumes for PCR </strong><br>
            <table>
                <tr>
                    <th>Primers</th>
                    <th>Concentration (μmol/L)</th>
                    <th>Total Volume of Stock and Water Needed (μL)</th>
                    <th>Mass (mg)</th>
                </tr>
                <tr>
                    <td>5seqT7ApFwd</td>
                    <td>62</td>
                    <td>104.1</td>
                    <td>0.76</td>
                </tr>
                <tr>
                    <td>5seqT7ApRev</td>
                    <td>59.2</td>
                    <td>68.4</td>
                    <td>0.53</td>
                </tr>
                <tr>
                    <td>5seqT7ApLRev</td>
                    <td>58.1</td>
                    <td>69.5</td>
                    <td>0.56</td>
                </tr>
                <tr>
                    <td>5seqT7ApTMSDTARRev</td>
                    <td>57.8</td>
                    <td>77</td>
                    <td>0.58</td>
                </tr>
            </table>

            <strong>Results:</strong>

            <strong>Sample Calculation:</strong><br>
            <ul>
                <li>For 5SeqT7APFwd (Forward Primer)
                    <ul>
                        <li>Size: 104.1 nmol × 1µ / 1000n = 0.1041µmol</li>
                        <li>C1: 0.1041µmol / 1 mL × 1000mL / 1 L = 104.1 µmol/L</li>
                        <li>V1: ?</li>
                        <li>C2: 10 µmol/L</li>
                        <li>V2: 3µL</li>
                        <li>C1V1 = C2V2</li>
                        <li>V1 = C2V2 / C1</li>
                        <li>V1 = 10 µmol/L × 3µL / 104.1 µmol/L = 0.288 µL</li>
                        <li>Vwater = V2 - V1</li>
                        <li>Vwater = 3µL − 0.288 µL = 2.711 µL</li>
                    </ul>
                </li>
            </ul>
            
        `
    },
    { 
        date: "24/06/05", 
        month: "June", 
        type: "PCR", 
        title: "Aptazyme PCR", 
        details: `
            <strong>Partner(s):</strong> Stavan Patel, Ziyad Syed <br>
            <strong>Purpose/ Objective of the lab:</strong> Prepare for PCR amplification<br>
            <strong>Last Edited (yy/mm/dd):</strong> <br>
            
            <strong>Materials:</strong>
            <ul>
                <li>RNAse free water</li>
                <li>Pipette</li>
                <li>RNAse free pipette tips</li>
                <li>Ice tray</li>
                <li>Ice</li>
                <li>Bunsen burner</li>
            </ul>
            
            <strong>Procedure:</strong>
            <ol>
                <li>Thaw components of PCR MasterMix, briefly centrifuge to collect at the bottom.</li>
                <li>Set up a PCR Master mix in a 1.5mL microcentrifuge tube, mix by pipetting up and down, spin down to combine everything</li>
                <li>Label PCR tubes, determine the components that will go in each.</li>
                <li>Determine the volume of stock solution and the volume of water required to obtain the desired final concentration</li>
            </ol>
            
            <strong>Notes/Observations:</strong>
            <ul>
                <li>Notes about ordered oligos
                    <ul>
                        <li>Primers were suspended in 1mL of UltraPure water</li>
                        <li>ds DNA was resuspended in UltraPure water
                            <ul>
                                <li>Template DNA (5SeqT7Ap, 5SeqT7ApL, 5SeqT7ApTMSDTar) were diluted too low for nanodrop concentration</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            
            <strong>Table 1. DNA primer and their respective information</strong>
            <table>
                <tr>
                    <th>Primers</th>
                    <th>Tm (°C)</th>
                    <th>Size (nmol)</th>
                    <th>Mass (mg)</th>
                </tr>
                <tr>
                    <td>5seqT7ApFwd</td>
                    <td>62</td>
                    <td>104.1</td>
                    <td>0.76</td>
                </tr>
                <tr>
                    <td>5seqT7ApRev</td>
                    <td>59.2</td>
                    <td>68.4</td>
                    <td>0.53</td>
                </tr>
                <tr>
                    <td>5seqT7ApLRev</td>
                    <td>58.1</td>
                    <td>69.5</td>
                    <td>0.56</td>
                </tr>
                <tr>
                    <td>5seqT7ApTMSDTARRev</td>
                    <td>57.8</td>
                    <td>77</td>
                    <td>0.58</td>
                </tr>
            </table>
            
            <strong>Results:</strong><br>
            
            <strong>Sample Calculation:</strong>
            <ul>
                <li>For 5SeqT7APFwd (Forward Primer)
                    <ul>
                        <li>Size: 104.1 nmol × 1µ / 1000n = 0.1041µmol</li>
                        <li>C1: 0.1041µmol / 1 mL × 1000mL / 1 L = 104.1 µmol/L</li>
                        <li>V1: ?</li>
                        <li>C2: 10 µmol/L</li>
                        <li>V2: 3µL</li>
                        <li>C1V1 = C2V2</li>
                        <li>V1 = C2V2 / C1</li>
                        <li>V1 = 10 µmol/L × 3µL / 104.1 µmol/L = 0.288 µL</li>
                        <li>Vwater = V2 - V1</li>
                        <li>Vwater = 3µL − 0.288 µL = 2.711 µL</li>
                    </ul>
                </li>
            </ul>
            
        `
    }, { 
        date: "24/06/05", 
        month: "June", 
        type: "Reagants", 
        title: "Preparing DEPC-treated Water (Ultrapure) II", 
        details: `
            <strong>Partner(s):</strong> Jezrael Carpio, Amber Quo <br>
            <strong>Purpose/ Objective of the lab:</strong> Make 2x250 mL of DEPC-treated water<br>
            <strong>Last Edited (yy/mm/dd):</strong>
            24/06/10 – Sent to the Autoclave
            
            <strong>Materials:</strong>
            <ul>
                <li>0.5mL DEPC</li>
                <li>499.5 mL Milli-Q Water</li>
                <li>2 250mL glass containers with a lid</li>
                <li>Magnetic Stirring Apparatus/Orbital Shaker</li>
                <li>Autoclave</li>
            </ul>
            
            <strong>Procedure:</strong><br>
            <ol>
                <li>Add 0.1% (v/v) (500 uL) of DEPC to 499.5 mL of Milli-Q Water to a 1L glass container.
                    <ul>
                        <li>Shake to gently mix.</li>
                        <li>Don’t mix with reagents with an amine group.</li>
                    </ul>
                </li>
                <li>Shake for 1 hour to overnight on orbital shaker.</li>
                <ol start="4">
                    <li>Alternative Method: Mix with a magnetic stirrer for 30 minutes.</li>
                    <li>Autoclave for 45 minutes at 15 PSI on liquid cycle.</li>
                </ol>
            </ol>
            
            <strong>Notes/Observations:</strong>
            <ul>
                <li>Rinsed autoclaved bottles with Milli Q water</li>
                <li>DEPC was transparent blob near bottom of bottle</li>
                <li>Put in shaker overnight from June 6 3:34 PM - (____) at 200RPM and 37°C</li>
                <li>NEED TO: 1.see if properly dissolved, if not, magnetically stir for ~30min, 2. Add autoclave tape and loosen cap, 3. Bring to autoclave</li>
                <li>At 24/06/10 9:09 AM, both the 250 mL bottles with the DEPC-treated water were sent to the autoclave</li>
            </ul>  `
    },

];


            // Function to show a specific month's tab
            function showTab(month) {
                // Hide all content sections
                const allContents = document.querySelectorAll('.tab-content');
                allContents.forEach(content => {
                    content.style.display = 'none';
                });

                // Remove active class from all tabs
                const allTabs = document.querySelectorAll('.tab');
                allTabs.forEach(tab => {
                    tab.classList.remove('active-tab');
                });

                // Show selected month's content and activate tab
                const selectedContent = document.getElementById(`content-${month}`);
                const selectedTab = document.getElementById(`tab-${month}`);
                
                if (selectedContent && selectedTab) {
                    selectedContent.style.display = 'block';
                    selectedTab.classList.add('active-tab');
                    
                    // Clear existing content
                    selectedContent.innerHTML = '';
                    
                    // Add experiments for this month
                    experiments
                        .filter(exp => exp.month === month)
                        .forEach(exp => {
                            const experimentBox = document.createElement('div');
                            experimentBox.classList.add('experiment-box');
                            experimentBox.innerHTML = `
                                <h3>${exp.title}</h3>
                                <p>${exp.date}</p>
                            `;
                            experimentBox.addEventListener('click', () => toggleDetails(exp, experimentBox));
                            selectedContent.appendChild(experimentBox);
                        });
                }
            }

            // Function to toggle the experiment details
            function toggleDetails(experiment, box) {
                let detailsSection = box.querySelector('.experiment-details');
                
                // If details are already showing, hide them
                if (detailsSection) {
                    detailsSection.style.display = detailsSection.style.display === 'none' ? 'block' : 'none';
                } else {
                    // Otherwise, create a new details section and append it
                    detailsSection = document.createElement('div');
                    detailsSection.classList.add('experiment-details');
                    detailsSection.innerHTML = `
                        <strong>Type:</strong> ${experiment.type}<br>
                        ${experiment.details}
                    `;
                    box.appendChild(detailsSection);
                }
            }

            // Add click event listeners to tabs
            document.querySelectorAll('.tab').forEach(tab => {
                tab.addEventListener('click', () => {
                    const month = tab.id.replace('tab-', '');
                    showTab(month);
                });
            });

            // Show June tab by default
            showTab('June');
        });
    </script>

    <style>
        .notebook-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.tabs-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    cursor: pointer;
}

.tab {
    padding: 10px 20px;
    background-color: #25132a;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tab.active-tab {
    background-color: #c1a3eb;
    font-weight: bold;
}

.tab:hover {
    background-color: #b3a2db;
}

.tab-content {
    display: none;
}

.experiment-box {
    background-color: #451161;
    color: white;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.experiment-box:hover {
    transform: scale(1.03);
}

.experiment-details {
    line-height: 1.6;
    font-size: 16px;
    margin-top: 10px;
    display: none;
    text-align: left;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-top: 15px;
}

/* List styling */
.experiment-details ul,
.experiment-details ol {
    white-space: normal;
    padding-left: 20px;
    margin: 10px 0;
}

.experiment-details li {
    margin: 5px 0;
    white-space: normal;
}

/* Nested lists */
.experiment-details ul ul,
.experiment-details ol ol,
.experiment-details ul ol,
.experiment-details ol ul {
    margin: 5px 0;
    padding-left: 20px;
}

/* Table styling */
.experiment-details table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
    background-color: rgba(255, 255, 255, 0.05);
}

.experiment-details th,
.experiment-details td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 8px;
    text-align: left;
}

.experiment-details th {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Responsive design */
@media (max-width: 768px) {
    .experiment-details {
        max-width: 100%;
        overflow-x: auto;
    }
    
    .experiment-details table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
    </style>
</main>
