<header class="notebook-header">
    <div class="header-content">
        <h1>Notebook</h1>
        <div class="divider"></div>
    </div>
</header>


<main class="notebook-container">

    <!-- sticky_parent (horizontal scroll) -->
    <div class="timeline-container">
        <div class="timeline-scroll">
            <!-- 18 weeks in total -->
            <!-- <div id="week1" class="timeline-item active-week"> -->
        </div>
    </div>



    <!-- vertical (daily) -->
    <div class="week-content-container">
        <div id="content-week1" class="week-content active-content">
            <p>This was our first week in the lab; however, we mainly focused on dry lab tasks. We also prepared for the Tech Futures Challenge (TFC), which was an opportunity for us to practice presenting for BIOMOD and possibly win monetary prizes! Meagan, our Dry Lab lead, worked on simulation software like Maya, Cadnano, Chimera and OxDNA. Using Cadnano, she was able to make a 72hb nanopore!! We also looked into selecting the aptamer and the target, and a lot of literature review to verify our summer plans.</p>
        </div>

        <div id="content-week2" class="week-content">
            <p>This week, we discovered the student lounge in the building!! It includes little tables to eat, but more importantly, a pool table, a foosball table, and a ping-pong table! We also decided to start a Duolingo competition to see who could get the longest streak before we leave for Japan (learning Japanese, of course)! Whoever wins this competition will receive a tiramisu paid for by the other team members!
                <br><br></p>
                Our team largely applied to funding opportunities this week because flights to Japan are EXPENSIVE!! Meagan continued to look into more dry lab software, like UniFold, RNAComposer, Autodock, and with the help of Ziyad and Emma, OxDNA, and docking through HADDOCK. Meagan was able to use RNAComposer to get a pub file of our aptazyme!  We also started working on finalizing some of our protocols, specifically the GUV formation, gel, nanopore insertion, and dye flux assay protocol. Sana sent out our first materials list (with the lab discount because money is tight), so hopefully we can get into wet lab work soon!
                </p>

                <div id="news-container-week2"></div>

        </div>

        <div id="content-week3" class="week-content">
            <p>Ziyad began looking into using mutant T7 RNA enzyme for our project, but after a few meetings with our TAs, we were advised to take a different route with this. Sana, Amber, Meagan, Stavan, and Jez all worked on TMSD research - a big task! We were also able to finalize the rest of our protocols this week. Otherwise, this week is all about getting ourselves organized and moving forward with more literature review. </p>
        </div>

        <div id="content-week4" class="week-content">
            <p>This week, we worked on finishing our Tech Future Challenges (TFC) video and presentation, and applied for some grants. We were also developing our experimental plans and some protocols. Sana and Meagan were working hard sending out project updates. Towards the end of the week, we worked on our TFC trifold, made model DNA origami out of paper, and practiced for the TFC presentation! Our TFC pitch was on May 25 and we won the People’s Choice Award!
            <br>Jez unfortunately lost in foosball to Meagan twice, and the losing streak begins… </p>
        </div>

        <div id="content-week5" class="week-content">
            <p>This week was dedicated to optimizing our aptazyme sequence and protocols. Meagan worked on testing the aptazyme sequence and used AutoDock Vina for ligand docking, as well as testing the full aptazyme sequences with Chimera and PubChem ID. Jezrael continued with more literature review on RNA and DNA binding. At the same time, Sana completed a cost-benefit analysis for fluorescence mechanisms and reached out to experts for feedback on aptazyme synthesis. Amber, Stavan, and Jezrael made significant progress in adding SDS to various protocols, and Ziyad worked on primer designs​ and aptazyme protocols. Emma worked on the RNase protocol.  We also got a tour of the NANS lab - a new location for testing unlocked!</p>
        </div>

        <div id="content-week6" class="week-content">
            <p>We started cleaning the lab areas to RNAse-proof them! Jezrael and Amber completed our first experiment, creating DEPC-treated water! Then, Ziyad and Stavan worked on PCR preparation in the lab and readying the PCR machine, as well as starting our first PCR this week. Sana and Meagan had more meetings this week, and Meagan continued refining nanopore models and requested feedback on the structure. Jezrael focused on inventory and brainstorming backup protocols.</p>
             
        </div>

        <div id="content-week7" class="week-content">
            <p>This week, we worked on nanopore structures, running gels on PCR products, and preparing for transcription (as well as the Centrifuge Incident of June 13). Meagan was able to begin the first steps of the wiki this week! Meagan and Sana continued refining nanopore sequences and materials orders. At the same time, Amber and Stavan helped with gel electrophoresis and updating lab notebooks. Meanwhile, Ziyad focused on aptazyme PCR and in vitro transcription. Jezrael and Stavan worked on the Oligo data sheet to ensure we have proper dilutions!
            </p>
            <div id="news-container-week7"></div>
        </div>

        <div id="content-week8" class="week-content">
            <p>The focus shifted toward troubleshooting and running more gels for PCR products. Meagan and Jezrael worked on aptazyme stability using PAGE, while Amber and Stavan ran gels on PCR samples and prepared RNA samples with transcription. Sana was busy planning TMSD experiments and coordinating materials ​in addition to the meetings she and Meagan had to attend. Ziyad worked on aptazyme protocols and helped troubleshoot PCR gels. Jezrael won for the second and third time in foosball against Meagan! (the score is probably 3-20)</p>
        </div>

        <div id="content-week9" class="week-content">
            <p>This week was dedicated to vesicle purification and TMSD experiments, on top of more PCR production and purifications. Sana worked on preparing and confirming the experiment protocols. Meagan began modelling TEG-cholesterol bonds (Tetraethylene Glycol-Cholesterol bonds), while Amber focused on PCR and RNA purification and preparing formaldehyde gels. Stavan completed the transcription of PCR samples, and Ziyad finalized aptazyme protocols​. Jezrael also helped with RNA purification and the denaturing gel.</p>
        </div>

        <div id="content-week10" class="week-content">
            <p>This week, we focused on TMSD troubleshooting and creating more RNA through the PCR-gel-purificaition-transcription pipeline. Meagan worked on nanopore models, while the rest of the team helped with protocol finalizations and a review of the materials list for nanopore work. There was also some troubleshooting related to aptazyme protocols, and we conducted gel runs to analyze our PCR products.
            </p>
            <div id="news-container-week10"></div>
        </div>

        <div id="content-week11" class="week-content">
            <p>This week, the focus was on advancing the nanopore project and troubleshooting aptazyme activity. Meagan worked on finalizing the cholesterol attachment to nanopore models, using software like CHARMM-GUI and Chimera to test different bond parameters. Meanwhile, Sana coordinated the nanopore folding protocol with Nick and Pratik, ensuring that the calculations were optimized for upcoming experiments. The rest of the team helped with nanopore gel preparations and tested aptazyme stability assays. Amber worked on in vitro transcription (IVT) and helped prepare folding buffer solutions, while Stavan ensured that nanopore folding reactions ran smoothly in the thermal cycler. Ziyad focused on running aptazyme PCR protocols and refining RNA aliquot preparation.
            </p>
        </div>

        <div id="content-week12" class="week-content">
            <p>This week was productive as we began wet lab work at the NANS lab. Meagan and Sana took a tour of Dr. Prenner’s lab to begin vesicle preparation, marking a significant milestone in our nanopore project. In the meantime, Jezrael prepared lipid films for vesicle synthesis. The team also worked on annotating gel results from previous TMSD experiments, with Amber and Ziyad running PCR and RNA gels to analyze aptazyme activity. Stavan prepared gels for nanopore characterization and focused on cleaning the lab space for vesicle experiments. Overall, we progressed in synthesizing vesicles, purifying them, and characterizing the results.</p>
        </div>

        <div id="content-week13" class="week-content">
            <p>We focused on refining nanopore purification and characterization this week. Meagan created updated nanopore models with linkers and cholesterol attachments, working with CHARMM-GUI to get the final structures right. The team also prepared for TEM (Transmission Electron Microscopy) imaging by contacting Dr. Wang. Amber and Stavan focused on preparing more gels to run nanopore folding experiments, while Jezrael worked on cholesterol insertion into vesicles and planned gel assays to verify the binding. Sana coordinated the team’s progress, updating the nanopore protocol and ensuring all materials were ready for upcoming experiments.
            </p>
        </div>

        <div id="content-week14" class="week-content">
            <p>We shifted towards finalizing the dye flux assays this week, running vesicle purification and preparing new nanopore batches. Meagan worked on nanopore gel imaging and provided updates on materials orders for the upcoming month. Jezrael and Amber focused on analyzing gel results and troubleshooting vesicle binding using cholesterol insertions. Stavan worked on nanopore folding calculations and confirmed the concentrations needed for the next series of reactions. Sana updated the team's budget and timeline, ensuring we stayed on track.</p>
        </div>

        <div id="content-week15" class="week-content">
            <p>This week, the team made significant strides in nanopore purification and liposome synthesis. Meagan finalized the purification protocol while Amber worked on stage 2 of the dye flux assay. Stavan focused on nanopore folding experiments and running gels to assess the results. Jezrael completed RNA transcription and supported the rest of the team with gel electrophoresis preparations. We also prepped materials for the HBI symposium poster presentation, focusing on data analysis from our nanopore experiments.</p>
            <div id="news-container-week15"></div>
        </div>

        <div id="content-week16" class="week-content">
            <p>The team pushed forward with dye flux analysis and nanopore modelling. Meagan worked on refining nanopore structures using CHARMM-GUI and tested different folding methods. Sana updated the wet lab schedule and prepared for imaging experiments. Amber focused on creating BIOMOD video content and assisting Jezrael with dye flux experiments, ensuring the data was properly recorded and analyzed. Stavan handled additional nanopore purification work, ensuring we were ready for the next assays.</p>
            <div id="news-container-week16"></div>
        </div>

        <div id="content-week17" class="week-content">
            <p>We made significant progress on dye flux experiments this week. Meagan worked on refining nanopore protocols and calculations, while Amber and Ziyad focused on preparing aptazyme assays. Jezrael handled the final preparations for the HBI symposium, presenting the team’s poster on vesicle purification and nanopore assembly. Stavan completed gel shift assays to characterize nanopore folding and dye flux interactions further, and Sana worked on logistics for nanopore synthesis.</p>
        </div>

        <div id="content-week18" class="week-content">
            <p>This week's focus was completing stage 2 of the dye flux experiments and finalizing nanopore testing. Meagan and Amber worked on vesicle synthesis and purification, while Stavan helped with TMSD gel runs. The team analyzed the RNA aptazyme assays, which showed promising results for future nanopore integration. Jezrael and Ziyad helped with RNA purification and aptazyme modelling, and the wet lab schedule was updated to reflect our progress. <br>Meagan ran the final nanopore models, and the team worked on troubleshooting some PCR issues. Amber and Jezrael continued data analysis from previous experiments, while Stavan and Ziyad refined RNA aptazyme stability protocols. The team also completed the SUPERWork letter and prepared to submit a finalized nanopore report.</p>
        </div>
    </div>

    <script src="/notebook.js"></script>
</main>
