<!-- tab format // have tabs on top with each tab selection and display image and text box under when clicked, like browser tab and viewing (maybe min the tab text (maybe just replace text/images)) -->

<!-- test 3d model formatting stuff (see if it works or not) -->

<main class="results-container">
    <div class="results-sub">
        <div class="results-tabs">
            <!-- openTab(event, name of corresponding tab window id) -->
            <button class="results-tab active" onclick="openTab(event, 'tab1')">Tab 1</button>
            <button class="results-tab" onclick="openTab(event, 'tab2')">Tab 2</button>
            <button class="results-tab" onclick="openTab(event, 'tab3')">Tab 3</button>
            <button class="results-tab" onclick="openTab(event, 'tab4')">Tab 4</button>
        </div>

        <div class="results-window">
            <div id="tab1" class="tab-window active" style="border-top-left-radius: 10px;">
                <p>testing</p>
            </div>

            <div id="tab2" class="tab-window">

            </div>

            <div id="tab3" class="tab-window">

            </div>

            <div id="tab4" class="tab-window" style="border-top-right-radius: 10px;">

            </div>
        </div>
    </div>
    <script src="/results.js"></script>
</main>