<header class="results-header">
    <div class="header-content">
        <h1>Results</h1>
        <div class="divider"></div>
    </div>
</header>

<main class="results-container">
    <div class="hamburger" onclick="toggleSidebar()">&#9776;</div>
    <div class="toc-container">
        <nav class="toc">
            <ul>
                <li><a href="#nanopore">Nanopore</a></li>
                <li><a href="#dyeflux">Dye Flux</a></li>
                <li><a href="#tmsd">TMSD</a></li>
                <li><a href="#vesicles">Vesicles</a></li>
                <li>
                    <a href="#aptazyme">Aptazyme</a>
                    <ul>
                        <li><a href="#apt-overview">Overview</a></li>
                        <li><a href="#apt-methods">Methods</a></li>
                        <li>
                            <a href="#apt-ri">Results and Interpretation</a>
                            <ul>
                                <li><a href="#apt-sub1">Time Influence</a></li>
                                <li><a href="#apt-sub2">Specificity</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <svg 
                class="toc-marker"
                width="200"
                height="200"
                xmlns="http://www.w3.org/2000/svg">
                <path 
                    stroke="#ccfbf1"
                    stroke-width="3"
                    fill="transparent"
                    stroke-dasharray="0, 0, 0, 1500"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    transform="translate(-0.5, -0.5)" />
            </svg>
        </nav>
    </div>
    
    <article class="results-contents">
        <section id="nanopore">
            <div class="container">
                <h2>Nanopore</h2>
                <div class="divider"></div>
                <p><u>Important Nanopore folding Gels</u></p>
                <p>These are the gels from the first run of the nanopore. In this round, there was 20uL of the nanopore sample that was going through the folding protocol. From this gel we can see that there are bright bands present in the wells for sample #8 and #10 around the 500bp - 900bp range which could be indicative of nanopore folding. Sample #8 has 1.4mM MgCl<sub>2</sub> while sample #10 has 2.1mM MgCl<sub>2</sub>.</p>
                <figure>
                    <div class="nano-content">
                        <table>
                            <tr>
                                <th>Tube #</th>
                                <th>MgCl<sub>2</sub> Concentration (mM)</th>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>0.7</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>1.4</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>1.4</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2.1</td>
                            </tr>
                        </table>
                        <img src="/img/results-nano1.png" alt="Nanopore 1" style="width: 500px; height: auto;">
                    </div>
                    <figcaption>Figure 1. Gel electrophoresis for nanopore samples ran in 1X TAE Buffer. Stained using EtBr. The ladder is 1kb.</figcaption>
                </figure>
            </div>

            <div class="sub-container">
                <p>This is the gel from day 3 of our second run, in this gel there is a band seen in the gel for sample #4 (2.1mM MgCl<sub>2</sub>).  Which could be indicative of nanopore folding. </p>
                <figure>
                    <div class="nano-content">
                        <img src="/img/results-nano2.png" alt="Nanopore 2">
                        <table>
                            <tr>
                                <th>Tube #</th>
                                <th>MgCl<sub>2</sub> Concentration (mM)</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>0.7</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>1.4</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>2.1</td>
                            </tr>
                        </table>
                    </div>
                    <figcaption>Figure 2. Gel electrophoresis for nanopore samples ran in 1X TAE Buffer. Stained using EtBr. The ladder is 1kb.</figcaption>
                </figure><br>
            </div>
            <div class="sub-container">
                <p>This gel is from day 7 of our third run of the nanopore gel. In this gel, and in this gel we see bands for both samples 7 and 8 which show folding at the same MgCl<sub>2</sub> concentration.</p>
                <figure>
                    <div class="nano-content">
                        <table>
                            <tr>
                                <th>Tube #</th>
                                <th>MgCl<sub>2</sub> Concentration (mM)</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>0.7</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>0.7</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>1.4</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>1.4</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>2.1</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>2.1</td>
                            </tr>
                        </table>
                        <img src="/img/results-nano3.png" alt="Nanopore 3">
                    </div>
                    <figcaption>Figure 3. Gel electrophoresis for nanopore samples ran in 1X TBE Buffer. Stained using EtBr. The ladder is 1kb. </figcaption>
                </figure><br>
            </div>
            <div class="sub-container">
                <p>This is day 3 of our sixth and final run of the nanopore, in this gel there is a bright band for sample 8 and 9 (which had a large concentration of magnesium chloride). From this we saw a consistent pattern across the series of gel electrophoresis runs that were performed. A higher magnesium chloride concentration resulted in improved folding of the nanopore. </p><br>
                <figure>
                    <div class="nano-content">
                        <table>
                            <tr>
                                <th>Tube #</th>
                                <th>MgCl<sub>2</sub> Concentration (mM)</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>1.4</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>1.4</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>2.1</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>2.1</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>21</td>
                            </tr>
                        </table>
                        <img src="/img/results-nano4.png" alt="Nanopore 4">
                    </div>
                    <figcaption>Figure 4. Gel electrophoresis for nanopore samples ran in 0.5X TBE with 6mM MgCl<sub>2</sub> Buffer. Stained using EtBr. The ladder is 1kb. </figcaption>
                </figure><br>
            </div>
            <div class="sub-container">
                <p>In the end, from these various gel results we were able to see a consistent pattern that with an increase in concentration of magnesium chloride (MgCl<sub>2</sub>), we were able to see an increase in folding of the nanopore. This was especially evident in the earlier days of each run, however as the days of the run progressed we were still able to see bands indicative of nanopore folding on the gels, however the bands were not as bright as seen in the earlier days of the runs. Furthermore, when the gel was ran in 0.5X TBE with 6mM MgCl<sub>2</sub> instead of 1X TAE (figure 4) we saw brighter bands for the gels, which could also be due to the concentration of MgCl<sub>2</sub> being present in the TBE gels compared to the TAE gels. </p>
            </div>
        </section>

        <section id="dyeflux">
            <div class="container">
                <h2>Dye Flux</h2>
                <div class="divider"></div>
                <p>The primary aim of performing dye flux experiments was to assess the success of nanopore insertion into the vesicles. </p> <br>
                <p>The first step is to characterize the fluorescence properties of both Sulforhodamine (SRB) and Fluorescein Isothiocyanate-Dextran (FITC-Dextran) dyes in the buffer solutions used for vesicle synthesis. In this step we also want to determine which concentration(s) can be used to apply “self-quenching” characteristics of the dyes when synthesizing vesicles.</p> <br>
                <figure class="image-container">
                    <img src="/img/results-df1.png" alt="Dye Flux 1">
                    <figcaption class="figure-label">Figure 1. Tested a fluorescence Spectra of SRB from concentrations 0.1 mM to 100 mM. Maximum fluorescence is detected from an SRB concentration of 0.1 mM whereas minimum fluorescence is detected from 100 mM. Maximum fluorescence for all SRB concentrations occurs at around 591 nm.</figcaption>
                </figure>
                <p class="flow-text">
                    Once the SRB concentration reaches 10 mM, further increase in concentration does not affect the fluorescence intensity by a significant amount. This suggests that SRB begins to self quench at around 10 mM. Therefore, this test indicates that the concentration of SRB in the vesicles has potential to be lower to a value between 10-30 mM. Additionally this test indicates that lower values of SRB should be tested to discover what the true peak concentration is as well as where the fluorescence lowers to provide a better comparison to diluted dye from the vesicles later in application.
                </p>
            </div>
            <div class="container">
                <figure class="image-container">
                    <img src="/img/results-df2.png" alt="Dye Flux 2">
                    <figcaption class="figure-label">Figure 2. Fluorescence spectra of FITC in a buffer with a concentration gradient of 1 nm to 1 mM. There are 2 fluorescence peaks at 515 and 535 nm when the excitation wavelength is 480 nm.</figcaption>
                </figure>
                <p class="flow-text">This demonstrates that FITC at 1mM does not express self quenching properties. Additionally, the fluorescence intensity decreases with lower concentrations of dye. The spectrum demonstrates that the fluorescence peaks at approximately 535 nm, therefore, in subsequent experiments for kinetic sensor testing an excitation wavelength of 535 nm for FITC peak fluorescence should be used.<br><br>
                Our final step had two objectives: first, to determine if SRB was encapsulated by the vesicles, and second, to observe whether adding folded nanopore samples functionalized with cholesterol anchors would produce a significant change in fluorescence to indicate nanopore insertion.<br><br>
                To induce vesicle rupture and observe the maximum fluorescence of the encapsulated SRB, Triton X-100 was mixed with the vesicle solution. To observe an increase in fluorescence once the nanopore samples were added and characterize it, we calculated the fluorescence difference between R6S1 and 10mMSRB and performed an ANOVA to determine if it was statistically significant (see table 1. and figure 3.)
                </p>
                <br><br>
                <table style="margin: 0 auto;">
                    <caption><strong>Table 1.</strong> Sample set up for the nanopore insertion experiment. R6S2 indicates nanopores from run 6 and sample number 2.</caption>
                    <tr>
                        <td>Name</td>
                        <td>Composition</td>
                    </tr>
                    <tr>
                        <td>10mM SRB</td>
                        <td>10mM SRB liposome solution</td>
                    </tr>
                    <tr>
                        <td>R6S2</td>
                        <td>10mM SRB liposomes solution + R6S2 nanopores</td>
                    </tr>
                    <tr>
                        <td>R6S2T</td>
                        <td>10mM SRB liposomes solution + R6S2 nanopores + TritonX-100</td>
                    </tr>
                </table>
                <br><br>
                <figure class="image-container">
                    <img src="/img/results-df3.png" alt="Dye Flux 3">
                    <figcaption class="figure-label">Figure 3. Averaged fluorescence of triplicates from 10mM SRB liposomes, R6S2, and R6S2T samples over time (30 minutes). </figcaption>
                </figure>
                <p class="flow-text">The figure does not show any large increase in fluorescence in the R6S2 sample over time. This indicates that nanopore insertion likely did not happen. However, further statistical analysis is needed to confirm this observation. The overall for all the samples is stable over the 30 minute recording. R6S2T has a large averaged fluorescence due to the availability of the SRB from the ruptured liposomes. This indicates that SRB was likely self-quenched at 10mM inside the vesicles.</p>
            </div>
            <div class="container">
                <figure class="image-container">
                    <img src="/img/results-df4.png" alt="Dye Flux 4">
                    <figcaption class="figure-label">Figure 4. Averaged fluorescence (AU) of the 10mM SRB vesicles (10mM SRB) triplicates with nanopore sample 2 from run 6 (R6S2), and with R6S2 and TritonX-100 added at 30 minutes. The bars represent standard error. </figcaption>
                </figure>
                <p class="flow-text">This graph shows that the SRB vesicles on their own produced a detectable fluorescence signal. The addition of the folded nanopores from sample 2 produced a fluorescence signal that was similar to the ones produced by SRB. The rupturing of liposomes in R6S2T produced a signal greater than the other samples. <br><br>
                An ANOVA was performed to compare the difference in mean fluorescence between the three samples (10mM SRB, R6S2, R6S2T). The ANOVA results indicated that there was a statistically significant difference in mean fluorescence between at least two samples (F(4,10) = [225.7], p = 9.39 × 10⁻¹⁰). Tukey’s HSD Test for multiple comparisons found that the averaged fluorescence was significantly different between R6S2T and 10mM SRB (p = 0.00, 95% C.I. = -612355.27, -442748.06) as well as between R6S2T and R6S2 (p = 0.00, 95% C.I. = 385520.73, 555127.94). The averaged fluorescence between 10mM SRB and R6S2 was not statistically significant (p = 0.25, 95% C.I. = -142030.94, 27575.27).
                </p>
                <br><br>
                <p>Overall, fluorescence did not change between the 10mM SRB liposomes only sample and the sample with these liposomes and the nanopores indicating that nanopore insertion did not occur which does not align with the expected results for the design. This could be due to various reasons such as a limited time allowed for insertion, the buffer composition, improper storage of the nanopore samples, or a lack of proper nanopore folding. The large change in fluorescence upon the addition of tritonX-100 indicates that SRB encapsulation was successful and that SRB was encapsulated at concentration where some self-quenching was observed. These results confirm the functionality of the vesicles providing pathways for further fluxing testing of the sensor constructs.</p><br>
                <p>FITC vesicles were not tested in the last stage, however, future experiments would involve FITC-encapsulated dyes for verifying aptazyme attachment to the nanopore. If the aptazyme is attached to the nanopore, SRB dye would be allowed to efflux out whilst FITC dye would not due to the size difference. Addition of target molecules would cleave the aptazyme or the addition of the TMSD key strand would displace the aptazyme, both of which would allow the FITC dye to efflux out. Based on the fluorescence behaviour of both dye fluorescence, a clear indicator of aptazyme functionality would be provided.</p>
            </div>
        </section>

        <section id="tmsd">
            <div class="container">
                <h2>TMSD</h2>
                <div class="divider"></div>
                <p>The aim of these series of experiments was to test whether the TMSD reaction would allow for sensor modularity by modifying a reaction from Cabello-Garcia et al. (2021). This was done by adding theophylline aptazyme sequences to the target strand (TAR) and attaching a DNA linker to the strand that binds to a nanopore overhang (NAN), to create the APT and NANL strands, respectively.</p> <br>
                <img src="/img/results-tmsd1.png" alt="TMSD 1" style="width: 100%;">
                <img src="/img/results-tmsd2.png" alt="TMSD 2" style="width: 100%;">
                <br><br>
                <p>Our next step was to see whether these newly modified strands would work as intended. To do this we first tested NANL with the rest of the original strand displacement reaction strands on a 15% PAGE gel. </p> <br>

                <figure class="image-container">
                    <img src="/img/results-tmsd3.png" alt="TMSD 3">
                    <figcaption>Figure 1. Toehold mediated strand displacement reaction with a linker modified nanopore strand. The gel was stained using EtBr. A 1kb DNA ladder was used.</figcaption>
                </figure>
                <p class="flow-text">We can observe that, in lane 7,  NANL interacts with the unmodified target strand (TAR) indicating that the addition of the linker does not hinder target binding. When a key strand was introduced (lane 8),  the formation of an intermediate was observed indicating that NANL, TAR, and KEY are strongly bound while the dissociation of NANL and the formation of a TAR-KEY complex was minimal. Overall, this indicates that the linker modification added to NAN results in a secondary structure that favours strong binding of TAR and KEY to NANL.</p> <br>
                <p>We then characterized how the modified theophylline target strand (APT) interacts with the modified nanopore strand to understand the impact of these modifications on the strand displacement reaction. In this experiment we aimed to observe two outcomes: (1) that the aptazyme strand would effectively link with the nanopore strand, ensuring successful integration of both sensor components, and (2) that the addition of the KEY strand would facilitate the dissociation of the aptazyme from the nanopore, enabling on-demand disassembly of the aptazyme from the sensor.</p><br>
                <figure class="image-container">
                    <img src="/img/results-tmsd4.png" alt="TMSD 4">
                    <figcaption>Figure 2. Toehold mediated strand displacement reaction with the aptazyme modified APT strand and linker modified NANL strands. The gel was stained using EtBr. A 1kb DNA ladder was used. </figcaption>
                </figure>
                <p>APT binding to NANL or KEY reduces the instability of the aptazyme and creates distinct bands (lanes 4, 5, 6, and 7).  The binding of NANL and KEY creates a complex as observed in previous experiments however, once APT is added, it is not entirely clear to what extent the KEY binds to NANL and APT as it’s band could be covered up by the high abundance of NANL-APT interactions.  Overall, this indicates that the modified strands interact with each other and can be used to link various parts of the sensor together. Further analysis needs to be performed to determine what is causing the NANL, APT, and KEY to complex together and why the binding of KEY strand does not result in APT dissociation from the complex. </p><br>
                <p>The TMSD reaction aimed to link the nanopore to the aptazyme. The modified nanopore strand binds strongly with both the unmodified target and the aptazyme-modified target, suggesting successful linking. However, the second goal of dissociating the aptazyme from the nanopore strand was not achieved. The presence of a high-abundance intermediate indicates that dissociation does not occur as intended, and warrants further analysis of the KEY strand's secondary structure. Thus, while linking is effective, the current TMSD design does not enable the expected dissociation.</p>
            </div>
        </section>

        <section id="vesicles">
            <div class="container">
                <h2>Vesicles</h2>
                <div class="divider"></div>
                <p>The aim of these results and analyses was to characterize the purified vesicles (or liposomes) in order for them to be used for the final nanopore insertion tests. Before we could do that, we had to first characterize the size of the synthesized vesicles on their own as well as their uniformity. Uniformity would be indicated by getting a polydispersity value of  0.1 ideally,  or between 0.1 to 0.3 <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC6027495/" target="_blank">[1]</a>. We intended to synthesize uniform vesicles with a diameter of approximately 100 nm as a 100 nm filter was used during extrusions.</p> <br>
                <figure class="image-container">
                    <img src="/img/results-v1.png" alt="Vesicles 1">
                    <figcaption>Figure 1. Light scattering intensity (%) and diameter (nm) of vesicles made with  7:3 DOPC:DOPE lipids at 25 °C. Each line indicates a recording from a run on the same sample. </figcaption>
                </figure>
                <p class="flow-text">According to the dynamic light scattering report generated by the Zetasizer, the average diameter of these vesicles was 159.2nm while the polydispersity, which indicates the uniformity of the vesicles, was 0.115. These results show that the vesicles were slightly larger than intended. Because this sample did not require gravity flow filtration, it likely retained larger lipid clusters that were not properly extruded. These larger clusters could scatter more light and shift the diameter of the vesicles to be shifted towards larger values when recorded by a Zetasizer. This can be resolved by increasing the freeze-thaw cycles during synthesis, increasing the extrusions, and, if necessary, filtering the vesicles through gravity flow filtration.</p>
            </div>
            <div class="sub-container">
                <p>In order to see whether the nanopore folded properly and inserted into the liposomes through its cholesterol anchors, we also synthesized and purified vesicles that encapsulated SRB at a self-quenching concentration of 10mM -  this concentration was determined by the first round of dye flux experiments. In this sample we expected to see uniform vesicles that have an average diameter of 100 nm.</p> <br>
                <figure class="image-container">
                    <img src="/img/results-v2.png" alt="Vesicles 2">
                    <figcaption>Figure 2. Light scattering intensity (%) and diameter (nm) of vesicles that encapsulated 10mM of SRB. These vesicles were made with  7:3 DOPC:DOPE lipids at 25 °C. Each line indicates a recording from a run on the same sample.</figcaption>
                </figure>
                <p class="flow-text">According to the dynamic light scattering report generated by the Zetasizer, the average diameter of these vesicles was 105.2 nm while the polydispersity was 0.125. These results show that the vesicles were uniform, close to the intended diameter of 100 nm, and can be used for subsequent nanopore insertion testing.</p>
            </div>
            <div class="sub-container">
                <p>To test the aptazyme's function by observing FITC-Dextran-20K (FITC) flux upon aptazyme cleavage from nanopores embedded in vesicles, we needed to synthesize vesicles that encapsulated FITC. Due to limited availability of this custom FITC, achieving self-quenching concentrations was not feasible. Instead, we encapsulated 1 mM FITC, a concentration chosen based on initial dye flux experiments for optimal fluorescence detection.</p><br>
                <figure class="image-container">
                    <img src="/img/results-v3.png" alt="Vesicles 3">
                    <figcaption>Figure 3. Light scattering intensity (%) and diameter (nm) of vesicles that encapsulated 1mM of FITC-Dextran-20K. These vesicles were made with  7:3 DOPC:DOPE lipids at 25 °C. Each line indicates a recording from a run on the same sample.</figcaption>
                </figure>
                <p class="flow-text">According to the dynamic light scattering report generated by the Zetasizer, the average diameter of these vesicles was 133.2 nm while the polydispersity was 0.141. These results show that the vesicles were uniform, close to the intended diameter of 100 nm, though they could benefit from further freeze thaw and extrusion cycles. Overall, these vesicles could be used for further aptazyme testing at the final sensor assembly stage. </p><br>
                <p>To summarize, vesicle synthesis and encapsulation of both 10mM SRB and 1mM FITC into their respective liposome samples was successful. These samples were uniform and could be used in tests that detect nanopore insertion events as well in tests that detect aptazyme activity upon sensor assembly. </p>
            </div>
        </section>

        <section id="aptazyme">
            <div class="container">
                <h2>Aptazyme</h2>
                <div class="divider"></div>
                <div id="apt-overview">
                    <h3>Overview</h3>
                    <div class="subtitle-divider"></div>
                    <p>Aptazymes are highly specific receptors of their target ligands. The theophylline-responsive aptazyme utilized in our project was tested against its target as well as non-target molecules in incubation experiments to characterize its activity. Both incubation temperature and time were tested to determine the effect they had on aptazyme activity. Self-cleavage of the aptazyme product was expected to result in multiple bands at a molecular weight smaller than the original sequence. </p><br>
                </div>

                <div id="apt-methods">
                    <h3>Methods</h3>
                    <div class="subtitle-divider"></div>
                    <p><u>Urea-PAGE gel</u></p>
                    <p>Polyacrylamide gels were the go-to-option for analyzing the band sizes as they offered high resolution and better separation than agarose gels. 8M Urea was utilized as a denaturing agent to prevent secondary structure formation as the samples loaded are single stranded RNA molecules. Additionally, the RNA samples were subjected to a 70°C heat treatment and cooling on ice to further denature unwanted structures.</p><br>
                    <p>The gels were stained post-run via ethidium bromide solution to prevent contamination of gel running apparatus. Ethidium bromide has higher sensitivity than other oligonucleotide staining gels but carries a carcinogenic risk.</p><br>

                    <p><u>Analysis Methodology</u></p>
                    <p>After separation of bands on the gel, the Low Range RiboRuler bands were used to correlate gel resolution distance to base pair size which is a logarithmic relationship. This relationship was used to determine the base pair size of the bands, matching the closest band to the actual size of the intact aptazyme samples. This also allowed analysis of the smaller cleaved fragments.</p><br>
                    <p>Densitometry using ImageJ software was used to determine the band intensities which correlates to the amount of RNA present in each band. Band intensity approximates the amount of RNA present in a linear relationship. The most intense bands smaller than the original aptazyme sequence were used to compare and determine the level of cleavage. The band intensities had the background intensity of the gels subtracted.</p><br>
                    <p>To determine the level of cleavage the log ratio of the band intensities was taken:</p><br>
                    <p style="text-align: center;"><i>log (Aptazyme band intensity/Degraded band intensity) </i></p><br>
                    <p>The log ratio was used to show proportional changes in band intensities rather than the absolute difference. The log ratio also helps to preserve symmetry in intensity changes so that a similar magnitude change in band intensity would register as such regardless of whether it was an increase or decrease. In practice, this means that a high value represents high intensity of the intact aptazyme compared to the degraded fragments, the intensity</p><br>   
                </div>
                
                <div id="apt-ri">
                    <h3>Results and Interpretation</h3>
                    <div class="subtitle-divider"></div>
                    <div class="apt-content">
                        <figure>
                            <img src="/img/results-apt1.png" alt="Aptazyme 1">
                            <figcaption>Figure 1. 15%, 1.5mm 1X TBE UREA PAGE gel, run at 120V for 1:13, gel was stained with EtBr. 10 µL of Aptazyme at a concentration of 100 ng/µL were loaded. Theophylline concentration was set at 27.75 mM. Samples are loaded as follows: 1-3 are AP, APL, 4-6 are negative controls for AP, APL, APT (no theophylline), 7 is RiboRuler Low Range RNA Ladder (10 µL), degrading RNA is labelled with D. All samples were incubated at 37°C for 30 min. All samples were treated in Tris-HCl buffer.</figcaption>
                        </figure><br><br>
                        <figure>
                            <img src="/img/results-apt2.png" alt="Aptazyme 2">
                            <figcaption>Figure 2. 15%, 1.0mm 1X TBE UREA PAGE gel, run at 120V for 1:48, gel was stained with EtBr. 10 µL of Aptazyme at a concentration of 100 ng/µL were loaded. Theophylline concentration was set at 27.75 mM. Samples are loaded as follows: 1-3 are APT, APL, AP incubated at 25°C for 20 min, 4-6 are APT, APL, AP incubated at 10°C for 20 min, 7-9 are negative controls of APT, APL, and AP (no theophylline) incubated at 10°C for 20 min, 10 is RiboRuler Low Range RNA Ladder (10 µL), degrading RNA is labelled with D. All samples were treated in Tris-HCl buffer.</figcaption>
                        </figure><br><br>
                    </div>
                    <figure class="image-container">
                        <img src="/img/results-apt3.png" alt="Aptazyme 3">
                        <figcaption>Figure 3A. Cleavage of aptazymes AP, APL, and APT in response treatment with target substrate. Log ratio of band intensities where A represents the intact aptazyme and D represents the most intense degraded RNA band for incubation with and without theophylline of 27.75 mM concentration. Samples were incubated for 20 min.</figcaption>
                    </figure>
                    <p class="flow-text">Figure 3A illustrates the effect of temperature on aptazyme cleavage; it is evident that temperature affects the final amount of cleavage; samples treated at 10°C seem to show little change as expressed by the difference in the log ratio for the band intensities. We see a clear increase in cleavage for the samples incubated at 25°C. AP shows a change of -3.826 units, APL shows -3.419 units, and APT -3.518 units. These translate to decreases of 6699-fold, 2624-fold, and 3296-fold. This shows temperatures of at least 25°C are crucial to outputting a measurable distinct change in the aptazyme for detecting purposes.</p>
                    <div class="sub-container" id="apt-sub1">
                        <p><u>Time Influence</u></p>
                        <div class="apt-content">
                            <figure>
                                <img src="/img/results-apt4.png" alt="Aptazyme 4">
                                <figcaption>Figure 4. 15%, 1.0mm 1X TBE UREA PAGE gel, run at 120V for 1:08, gel was stained with EtBr. 10 µL of Aptazyme at a concentration of 100 ng/µL were loaded. Theophylline concentration was set at 27.75 mM. Samples are loaded as follows: 1 is RiboRuler Low Range RNA Ladder (10 µL), 2-3 are APT and APL incubated with theophylline at 37°C for 30 min, 5-6 are APT and APL incubated with theophylline at 37°C for 15 min, 8-9 are negative controls for APT and APL with no theophylline also incubated at 37°C for 30 min, 3, 7, and 10 were AP samples but were too degraded to use, degrading RNA is labelled with D. All samples were treated in Tris-HCl buffer.</figcaption>
                            </figure><br>
                            <figure>
                                <img src="/img/results-apt5.png" alt="Aptazyme 5">
                                <figcaption>Figure 4A. Cleavage of aptazymes AP, APL, and APT in response treatment with target substrate. Log ratio of band intensities where A represents the intact aptazyme and D represents the most intense degraded RNA band for incubation with and without theophylline of 27.75 mM concentration. Samples were incubated at 25°C.</figcaption>
                            </figure>
                        </div><br>
                        <p>As for time influence on the kinetics of the aptazyme cleavage, it is also apparent that at least a minimum incubation time of 15 minutes is required to see noticeable cleavage, except for the APT aptazyme which shows noticeable cleavage through an 1811-fold decrease in intensity ratio even at 7.5 minutes. Given how similarly the aptazymes behaved in the temperature trials and the fact that the aptazymes only differ in their non-enzymatic regions replicates should be done in further research to determine if this discrepancy is a result of biological variability or not. </p><br>
                        <p>As for the samples incubated at 15 minutes, their resulting intensity changes show a decrease of 1.294-fold (AP), 1.694-fold (APL), and 6,698,846-fold (APT). While we do see a higher level of cleavage, it's not nearly as significant and noticeable. This does not apply to APT which shows a large change of -6.826 units on the log ratio scale, further research needs to confirm these results.</p><br>
                        <p>With the current results it seems reasonable to presume that temperature is a more effective control of the rate of cleavage than time, although further experimentation is required to determine at what temperature the aptazymes denature beyond their ability to perform effectively as an enzyme.</p><br>
                    </div>

                    <div class="sub-container" id="apt-sub2">
                        <p><u>Specificity</u></p>
                        <div class="apt-content">
                            <figure>
                                <img src="/img/results-apt6.png" alt="Aptazyme 6">
                                <figcaption>Figure 5A. Cleavage of aptazymes APL in response treatment with target substrate. Log ratio of band intensities where A represents the intact aptazyme and D represents the most intense degraded RNA band for incubation with and without target substrates theophylline, caffeine, and adenosine, all at concentrations of 10 µM. Samples were incubated at 37°C for 30 min.</figcaption>
                            </figure><br>
                            <table class="apt-table">
                                <tr>
                                    <td><img src="/img/theophylline.png" alt="Theophylline"></td>
                                    <td><img src="/img/caffeine.png" alt="Caffeine"></td>
                                    <td><img src="/img/adenosine.png" alt="Adenosine"></td>
                                </tr>
                                <tr style="text-align: center;">
                                    <td>Theophylline</td>
                                    <td>Caffeine</td>
                                    <td>Adenosine</td>
                                </tr>
                            </table><br>
                        </div>
                        <p>To determine the specificity of target recognition against analogous target molecules, theophylline-responsive aptazymes were tested against caffeine and adenosine as well as theophylline. The structure of caffeine most closely resembles theophylline, featuring only an additional methyl group on N7 of its core structure which is otherwise identical to theophylline. Adenosine also has a similar 6 and 5-membered fused ring structure with nitrogen substitutions in it, but with an additional 5-membered ring containing oxygen-containing side chain branching off the original 5-membered ring. It was hypothesized that caffeine would show target activity similar to theophylline due to similarity in structure and that the bulkiness of adenosine branching ring would limit its compatibility with the aptazymes.</p><br>
                        <p>These analogous compounds were tested against APL aptazyme only. Analysis showed that there seemed to be little to no change in cleavage, with the largest change appearing in the sample incubated with caffeine, with a 1.679-fold decrease, which is lower than most observed changes. Overall, these results need to be further investigated due to their unexpectedness, showing even less cleavage in the theophylline sample compared to the negative control. The decrease in target concentration from 27.75 mM to 10 µM is potentially another effect that accounts for the unexpected result.</p><br>
                        <p>While lack of further experimentation and replication of results was a major factor in not being able to make stronger concluding results, due to the sensitivity of producing the RNA samples and lack of yield, future directions and insights are still possible. The ability to utilize a target-sensitive aptazyme to produce self-cleavage reaction and result conformational and structural change, the first step in identifying aptazymes as possible detection and nanopore-gating mechanism for the proposed biosensor.</p><br>
                    </div>
                    <p><u>Base pair size determination and background adjusted densitometry data</u></p>
                    <img src="/img/results-apt7.png" alt="Aptazyme 7" style="width: 100%; background-color: white;">
                </div>
            </div>
        </section>
    </article>

    <!-- <div class="results-sub">
        <div class="results-tabs">
            <button class="results-tab active" onclick="openTab(event, 'tab1')">Tab 1</button>
            <button class="results-tab" onclick="openTab(event, 'tab2')">Tab 2</button>
            <button class="results-tab" onclick="openTab(event, 'tab3')">Tab 3</button>
            <button class="results-tab" onclick="openTab(event, 'tab4')">Tab 4</button>
        </div>

        <div class="results-window">
            <div id="tab1" class="tab-window active" style="border-top-left-radius: 10px;">
                <p>testing</p>
            </div>

            <div id="tab2" class="tab-window">

            </div>

            <div id="tab3" class="tab-window">

            </div>

            <div id="tab4" class="tab-window" style="border-top-right-radius: 10px;">

            </div>
        </div>
    </div>
    <script src="/results.js"></script> -->
    <link rel="stylesheet" href="/sidenav.css">
    <script src="/sidenav-e.js"></script>
</main>