<header class="results-header">
    <div class="header-content">
        <h1>Results</h1>
        <div class="divider"></div>
    </div>
</header>

<main class="results-container">
    <div class="hamburger" onclick="toggleSidebar()">&#9776;</div>
    <div class="toc-container">
        <nav class="toc">
            <ul>
                <li><a href="#nanopore">Nanopore</a></li>
                <li><a href="#dyeflux">Dye Flux</a></li>
                <li><a href="#tmsd">TMSD</a></li>
                <li><a href="#vesicles">Vesicles</a></li>
                <li><a href="#aptazyme">Aptazyme</a></li>
            </ul>
            <svg 
                class="toc-marker"
                width="200"
                height="200"
                xmlns="http://www.w3.org/2000/svg">
                <path 
                    stroke="#ccfbf1"
                    stroke-width="3"
                    fill="transparent"
                    stroke-dasharray="0, 0, 0, 1500"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    transform="translate(-0.5, -0.5)" />
            </svg>
        </nav>
    </div>
    
    <article class="results-contents">
        <section id="nanopore">
            <div class="container">
                <h2>Nanopore</h2>
                <div class="divider"></div>
            </div>
        </section>

        <section id="dyeflux">
            <div class="container">
                <h2>Dye Flux</h2>
                <div class="divider"></div>
                <p>The primary aim of performing dye flux experiments was to assess the success of nanopore insertion into the vesicles. </p> <br>
                <p>The first step is to characterize the fluorescence properties of both Sulforhodamine (SRB) and Fluorescein Isothiocyanate-Dextran (FITC-Dextran) dyes in the buffer solutions used for vesicle synthesis. In this step we also want to determine which concentration(s) can be used to apply “self-quenching” characteristics of the dyes when synthesizing vesicles.</p> <br>
                <figure class="image-container">
                    <img src="/img/results-df1.png" alt="Dye Flux 1">
                    <figcaption class="figure-label">Figure 1. Tested a fluorescence Spectra of SRB from concentrations 0.1 mM to 100 mM. Maximum fluorescence is detected from an SRB concentration of 0.1 mM whereas minimum fluorescence is detected from 100 mM. Maximum fluorescence for all SRB concentrations occurs at around 591 nm.</figcaption>
                </figure>
                <p class="flow-text">
                    Once the SRB concentration reaches 10 mM, further increase in concentration does not affect the fluorescence intensity by a significant amount. This suggests that SRB begins to self quench at around 10 mM. Therefore, this test indicates that the concentration of SRB in the vesicles has potential to be lower to a value between 10-30 mM. Additionally this test indicates that lower values of SRB should be tested to discover what the true peak concentration is as well as where the fluorescence lowers to provide a better comparison to diluted dye from the vesicles later in application.
                </p>
            </div>
            <div class="container">
                <figure class="image-container">
                    <img src="/img/results-df2.png" alt="Dye Flux 2">
                    <figcaption class="figure-label">Figure 2. Fluorescence spectra of FITC in a buffer with a concentration gradient of 1 nm to 1 mM. There are 2 fluorescence peaks at 515 and 535 nm when the excitation wavelength is 480 nm.</figcaption>
                </figure>
                <p class="flow-text">This demonstrates that FITC at 1mM does not express self quenching properties. Additionally, the fluorescence intensity decreases with lower concentrations of dye. The spectrum demonstrates that the fluorescence peaks at approximately 535 nm, therefore, in subsequent experiments for kinetic sensor testing an excitation wavelength of 535 nm for FITC peak fluorescence should be used.<br><br>
                Our final step had two objectives: first, to determine if SRB was encapsulated by the vesicles, and second, to observe whether adding folded nanopore samples functionalized with cholesterol anchors would produce a significant change in fluorescence to indicate nanopore insertion.<br><br>
                To induce vesicle rupture and observe the maximum fluorescence of the encapsulated SRB, Triton X-100 was mixed with the vesicle solution. To observe an increase in fluorescence once the nanopore samples were added and characterize it, we calculated the fluorescence difference between R6S1 and 10mMSRB and performed an ANOVA to determine if it was statistically significant (see table 1. and figure 3.)
                </p>
                <br><br>
                <table style="margin: 0 auto;">
                    <caption><strong>Table 1.</strong> Sample set up for the nanopore insertion experiment. R6S2 indicates nanopores from run 6 and sample number 2.</caption>
                    <tr>
                        <td>Name</td>
                        <td>Composition</td>
                    </tr>
                    <tr>
                        <td>10mM SRB</td>
                        <td>10mM SRB liposome solution</td>
                    </tr>
                    <tr>
                        <td>R6S2</td>
                        <td>10mM SRB liposomes solution + R6S2 nanopores</td>
                    </tr>
                    <tr>
                        <td>R6S2T</td>
                        <td>10mM SRB liposomes solution + R6S2 nanopores + TritonX-100</td>
                    </tr>
                </table>
                <br><br>
                <figure class="image-container">
                    <img src="/img/results-df3.png" alt="Dye Flux 3">
                    <figcaption class="figure-label">Figure 3. Averaged fluorescence of triplicates from 10mM SRB liposomes, R6S2, and R6S2T samples over time (30 minutes). </figcaption>
                </figure>
                <p class="flow-text">The figure does not show any large increase in fluorescence in the R6S2 sample over time. This indicates that nanopore insertion likely did not happen. However, further statistical analysis is needed to confirm this observation. The overall for all the samples is stable over the 30 minute recording. R6S2T has a large averaged fluorescence due to the availability of the SRB from the ruptured liposomes. This indicates that SRB was likely self-quenched at 10mM inside the vesicles.</p>
            </div>
            <div class="container">
                <figure class="image-container">
                    <img src="/img/results-df4.png" alt="Dye Flux 4">
                    <figcaption class="figure-label">Figure 4. Averaged fluorescence (AU) of the 10mM SRB vesicles (10mM SRB) triplicates with nanopore sample 2 from run 6 (R6S2), and with R6S2 and TritonX-100 added at 30 minutes. The bars represent standard error. </figcaption>
                </figure>
                <p class="flow-text">This graph shows that the SRB vesicles on their own produced a detectable fluorescence signal. The addition of the folded nanopores from sample 2 produced a fluorescence signal that was similar to the ones produced by SRB. The rupturing of liposomes in R6S2T produced a signal greater than the other samples. <br><br>
                An ANOVA was performed to compare the difference in mean fluorescence between the three samples (10mM SRB, R6S2, R6S2T). The ANOVA results indicated that there was a statistically significant difference in mean fluorescence between at least two samples (F(4,10) = [225.7], p = 9.39 × 10⁻¹⁰). Tukey’s HSD Test for multiple comparisons found that the averaged fluorescence was significantly different between R6S2T and 10mM SRB (p = 0.00, 95% C.I. = -612355.27, -442748.06) as well as between R6S2T and R6S2 (p = 0.00, 95% C.I. = 385520.73, 555127.94). The averaged fluorescence between 10mM SRB and R6S2 was not statistically significant (p = 0.25, 95% C.I. = -142030.94, 27575.27).
                </p>
                <br><br>
                <p>Overall, fluorescence did not change between the 10mM SRB liposomes only sample and the sample with these liposomes and the nanopores indicating that nanopore insertion did not occur which does not align with the expected results for the design. This could be due to various reasons such as a limited time allowed for insertion, the buffer composition, improper storage of the nanopore samples, or a lack of proper nanopore folding. The large change in fluorescence upon the addition of tritonX-100 indicates that SRB encapsulation was successful and that SRB was encapsulated at concentration where some self-quenching was observed. These results confirm the functionality of the vesicles providing pathways for further fluxing testing of the sensor constructs.</p><br>
                <p>FITC vesicles were not tested in the last stage, however, future experiments would involve FITC-encapsulated dyes for verifying aptazyme attachment to the nanopore. If the aptazyme is attached to the nanopore, SRB dye would be allowed to efflux out whilst FITC dye would not due to the size difference. Addition of target molecules would cleave the aptazyme or the addition of the TMSD key strand would displace the aptazyme, both of which would allow the FITC dye to efflux out. Based on the fluorescence behaviour of both dye fluorescence, a clear indicator of aptazyme functionality would be provided.</p>
            </div>
        </section>

        <section id="tmsd">
            <div class="container">
                <h2>TMSD</h2>
                <div class="divider"></div>
                <p>The aim of these series of experiments was to test whether the TMSD reaction would allow for sensor modularity by modifying a reaction from Cabello-Garcia et al. (2021). This was done by adding theophylline aptazyme sequences to the target strand (TAR) and attaching a DNA linker to the strand that binds to a nanopore overhang (NAN), to create the APT and NANL strands, respectively.</p> <br>
                <img src="/img/results-tmsd1.png" alt="TMSD 1">
                <img src="/img/results-tmsd2.png" alt="TMSD 2" style="width: 100%;">
                <br><br>
                <p>Our next step was to see whether these newly modified strands would work as intended. To do this we first tested NANL with the rest of the original strand displacement reaction strands on a 15% PAGE gel. </p> <br>

                <figure class="image-container">
                    <img src="/img/results-tmsd3.png" alt="TMSD 3">
                    <figcaption>Figure 1. Toehold mediated strand displacement reaction with a linker modified nanopore strand. The gel was stained using EtBr. A 1kb DNA ladder was used.</figcaption>
                </figure>
                <p class="flow-text">We can observe that, in lane 7,  NANL interacts with the unmodified target strand (TAR) indicating that the addition of the linker does not hinder target binding. When a key strand was introduced (lane 8),  the formation of an intermediate was observed indicating that NANL, TAR, and KEY are strongly bound while the dissociation of NANL and the formation of a TAR-KEY complex was minimal. Overall, this indicates that the linker modification added to NAN results in a secondary structure that favours strong binding of TAR and KEY to NANL.</p> <br>
                <p>We then characterized how the modified theophylline target strand (APT) interacts with the modified nanopore strand to understand the impact of these modifications on the strand displacement reaction. In this experiment we aimed to observe two outcomes: (1) that the aptazyme strand would effectively link with the nanopore strand, ensuring successful integration of both sensor components, and (2) that the addition of the KEY strand would facilitate the dissociation of the aptazyme from the nanopore, enabling on-demand disassembly of the aptazyme from the sensor.</p><br>
                <figure class="image-container">
                    <img src="/img/results-tmsd4.png" alt="TMSD 4">
                    <figcaption>Figure 2. Toehold mediated strand displacement reaction with the aptazyme modified APT strand and linker modified NANL strands. The gel was stained using EtBr. A 1kb DNA ladder was used. </figcaption>
                </figure>
                <p>APT binding to NANL or KEY reduces the instability of the aptazyme and creates distinct bands (lanes 4, 5, 6, and 7).  The binding of NANL and KEY creates a complex as observed in previous experiments however, once APT is added, it is not entirely clear to what extent the KEY binds to NANL and APT as it’s band could be covered up by the high abundance of NANL-APT interactions.  Overall, this indicates that the modified strands interact with each other and can be used to link various parts of the sensor together. Further analysis needs to be performed to determine what is causing the NANL, APT, and KEY to complex together and why the binding of KEY strand does not result in APT dissociation from the complex. </p><br>
                <p>The TMSD reaction aimed to link the nanopore to the aptazyme. The modified nanopore strand binds strongly with both the unmodified target and the aptazyme-modified target, suggesting successful linking. However, the second goal of dissociating the aptazyme from the nanopore strand was not achieved. The presence of a high-abundance intermediate indicates that dissociation does not occur as intended, and warrants further analysis of the KEY strand's secondary structure. Thus, while linking is effective, the current TMSD design does not enable the expected dissociation.</p>
            </div>
        </section>

        <section id="vesicles">
            <div class="container">
                <h2>Vesicles</h2>
                <div class="divider"></div>
                <p>The aim of these results and analyses was to characterize the purified vesicles (or liposomes) in order for them to be used for the final nanopore insertion tests. Before we could do that, we had to first characterize the size of the synthesized vesicles on their own as well as their uniformity. Uniformity would be indicated by getting a polydispersity value of  0.1 ideally,  or between 0.1 to 0.3 <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC6027495/" target="_blank">[1]</a>. We intended to synthesize uniform vesicles with a diameter of approximately 100 nm as a 100 nm filter was used during extrusions.</p> <br>
                <figure class="image-container">
                    <img src="/img/results-v1.png" alt="Vesicles 1">
                    <figcaption>Figure 1. Light scattering intensity (%) and diameter (nm) of vesicles made with  7:3 DOPC:DOPE lipids at 25 °C. Each line indicates a recording from a run on the same sample. </figcaption>
                </figure>
                <p class="flow-text">According to the dynamic light scattering report generated by the Zetasizer, the average diameter of these vesicles was 159.2nm while the polydispersity, which indicates the uniformity of the vesicles, was 0.115. These results show that the vesicles were slightly larger than intended. Because this sample did not require gravity flow filtration, it likely retained larger lipid clusters that were not properly extruded. These larger clusters could scatter more light and shift the diameter of the vesicles to be shifted towards larger values when recorded by a Zetasizer. This can be resolved by increasing the freeze-thaw cycles during synthesis, increasing the extrusions, and, if necessary, filtering the vesicles through gravity flow filtration.</p>
            </div>
            <div class="sub-container">
                <p>In order to see whether the nanopore folded properly and inserted into the liposomes through its cholesterol anchors, we also synthesized and purified vesicles that encapsulated SRB at a self-quenching concentration of 10mM -  this concentration was determined by the first round of dye flux experiments. In this sample we expected to see uniform vesicles that have an average diameter of 100 nm.</p> <br>
                <figure class="image-container">
                    <img src="/img/results-v2.png" alt="Vesicles 2">
                    <figcaption>Figure 2. Light scattering intensity (%) and diameter (nm) of vesicles that encapsulated 10mM of SRB. These vesicles were made with  7:3 DOPC:DOPE lipids at 25 °C. Each line indicates a recording from a run on the same sample.</figcaption>
                </figure>
                <p class="flow-text">According to the dynamic light scattering report generated by the Zetasizer, the average diameter of these vesicles was 105.2 nm while the polydispersity was 0.125. These results show that the vesicles were uniform, close to the intended diameter of 100 nm, and can be used for subsequent nanopore insertion testing.</p>
            </div>
            <div class="sub-container">
                <p>To test the aptazyme's function by observing FITC-Dextran-20K (FITC) flux upon aptazyme cleavage from nanopores embedded in vesicles, we needed to synthesize vesicles that encapsulated FITC. Due to limited availability of this custom FITC, achieving self-quenching concentrations was not feasible. Instead, we encapsulated 1 mM FITC, a concentration chosen based on initial dye flux experiments for optimal fluorescence detection.</p><br>
                <figure class="image-container">
                    <img src="/img/results-v3.png" alt="Vesicles 3">
                    <figcaption>Figure 3. Light scattering intensity (%) and diameter (nm) of vesicles that encapsulated 1mM of FITC-Dextran-20K. These vesicles were made with  7:3 DOPC:DOPE lipids at 25 °C. Each line indicates a recording from a run on the same sample.</figcaption>
                </figure>
                <p class="flow-text">According to the dynamic light scattering report generated by the Zetasizer, the average diameter of these vesicles was 133.2 nm while the polydispersity was 0.141. These results show that the vesicles were uniform, close to the intended diameter of 100 nm, though they could benefit from further freeze thaw and extrusion cycles. Overall, these vesicles could be used for further aptazyme testing at the final sensor assembly stage. </p><br>
                <p>To summarize, vesicle synthesis and encapsulation of both 10mM SRB and 1mM FITC into their respective liposome samples was successful. These samples were uniform and could be used in tests that detect nanopore insertion events as well in tests that detect aptazyme activity upon sensor assembly. </p>
            </div>
        </section>

        <section id="aptazyme">
            <div class="container">
                <h2>Aptazyme</h2>
                <div class="divider"></div>
            </div>
        </section>
    </article>

    <!-- <div class="results-sub">
        <div class="results-tabs">
            <button class="results-tab active" onclick="openTab(event, 'tab1')">Tab 1</button>
            <button class="results-tab" onclick="openTab(event, 'tab2')">Tab 2</button>
            <button class="results-tab" onclick="openTab(event, 'tab3')">Tab 3</button>
            <button class="results-tab" onclick="openTab(event, 'tab4')">Tab 4</button>
        </div>

        <div class="results-window">
            <div id="tab1" class="tab-window active" style="border-top-left-radius: 10px;">
                <p>testing</p>
            </div>

            <div id="tab2" class="tab-window">

            </div>

            <div id="tab3" class="tab-window">

            </div>

            <div id="tab4" class="tab-window" style="border-top-right-radius: 10px;">

            </div>
        </div>
    </div>
    <script src="/results.js"></script> -->
    <link rel="stylesheet" href="/sidenav.css">
    <script src="/sidenav.js"></script>
</main>